<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blocksocial</name>
            <displayName><![CDATA[Social networking block]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Allows you to add information about your brand&#039;s social networking sites.]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>