<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>themeinstallator</name>
            <displayName><![CDATA[Importer / Exporter un th&egrave;me]]></displayName>
            <version><![CDATA[1.4]]></version>
            <description><![CDATA[Exporter ou importer un th&egrave;me et ses modules sur votre boutique.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>