<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>graphartichow</name>
	<displayName>Artichow</displayName>
	<version>1</version>
	<description>Artichow is a library which enables the display of simple picture-based graphs using PHP and GD.</description>
	<author>PrestaShop</author>
	<tab>administration</tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
</module>