<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>statscarrier</name>
	<displayName>Carrier distribution</displayName>
	<version>1</version>
	<description>Display the carriers distribution</description>
	<author>PrestaShop</author>
	<tab>analytics_stats</tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
</module>