<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule "([^/]*)\.js$" retro-compat.js.php?file=$1.js [QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule "([^/]*)\.css$" ../css/retro-compat.css.php?file=$1.css [QSA,L]
</IfModule>


