@import '../../_theme_variables';
/* block top search */
#search_block_top {
	position:absolute;
	right: 420px;
    top: 50px;
	
	.btn.button-search {
		background:#333;
		float: left;
		border:none;
		color:#fff;
		width:57px;
		text-align:center;
		padding:10px 0 11px 0;
		
		span {display:none;}
		
		&:before {
			content:"";
			display:block;
			font-family:"FontAwesome";
			font-size:17px;
		}
		
		&:hover {color:#6f6f6f}
	}
	
	#search_query_top {
		padding:0 13px;
		height:45px;
		width:271px;
		background:#fbfbfb;
		float: left;
		margin-right:1px;
	}
}
.ac_results  {
	background:#fff;
	border:1px solid $base-border-color;
	width:271px;
	margin-top:-1px;
	
	li {
		padding:0 10px;
		font-weight:normal;
		color:#686666;
		font-size:13px;
		line-height:22px;
		
		&.ac_odd {
			background:#fff;	
		}
		
		&:hover, &.ac_over {
			background:#fbfbfb;	
		}
	}
}	

form#searchbox {
	label{
		color:#333;
		margin-bottom:1px
	}
	
	input#search_query_block{
		border: 1px solid $base-border-color;
		height: 18px;
		margin-top:10px;
	}
	
	input#search_button{padding: 1px 4px;}
}