
.colorClass
	color: #D35400
.colorMethod
	color: #F5AB35
.colorFunction
	color: #52B3D9


.colorClass:hover
	color: darken(#D35400,10%)
.colorMethod:hover
	color: darken(#F5AB35,10%)
.colorFunction:hover
	color: darken(#52B3D9,10%)