// Gray 10
// -------------------------

$grayAsh:        		#b2beb5 !default;
$grayBattleship:        #848482 !default;
$grayCadet:        		#91a3b0 !default;
$grayCharcoal:        	#36454f !default;
$grayCool:        		#8c92ac !default;
$grayGunmetal:        	#423732 !default;
$graySilver:        	#c0c0c0 !default;
$graySlate:        		#708090 !default;
$grayTaupe:        		#8b8589 !default;
$grayTimberwolf:        #dbd7d2 !default;
