// Peach 9
// -------------------------

$peach:                	#FF5050 !default;
$peachDark:            	#993030 !default;
$peachDarker:          	#4C1818 !default;
$peachLight:            #FF9696 !default;
$peachLighter:          #FFCACA !default;
$peachDull:           	#D67272 !default;
$peachDuller:         	#BA8C8C !default;
$peachBright:          	#FF9C9C !default;
$peachBrighter:        	#FFBFBF !default;


// * * * Premium * * *
// -------------------------


//Dulux 2

$peachSorbet:        	#f5d8d2 !default;
$peachShimmer:   		#fdefe2 !default;