// Pinks 25
// -------------------------

//Defaults

$pink:             		#FF33CC !default;
$pinkDark:         		#B2248F !default;
$pinkDarker:       		#661452 !default;
$pinkLight:        		#FF5CD6 !default;
$pinkLighter:      		#FF85E0 !default;
$pinkDull:         		#CC3399 !default;
$pinkDuller:       		#993366 !default;
$pinkBright:       		#FF66CC !default;
$pinkBrighter:     		#FF99CC !default;

//Variations

$pinkAmaranth:        	#e52b50 !default;
$pinkBrink:        		#fb607f !default;
$pinkCarmine:        	#960018 !default;
$pinkCarnation:        	#ffa6c9 !default;
$pinkCerise:        	#de3163 !default;
$pinkCoral:        		#f88379 !default;
$pinkDeep:        		#ff1493 !default;
$pinkFandago:        	#b53389 !default;
$pinkRose:        		#f64a8a !default;
$pinkFuchsia:        	#ff00ff !default;
$pinkHot:        		#ff69b4 !default;
$pinkMagenta:        	#ff0090 !default;
$pinkRuby:        		#e0115f !default;
$pinkSalmon:        	#ff91a4 !default;

//Brands

$pinkDribbble:        	#ea4c89 !default;
$pinkFlickr:        	#ff0084 !default;


// * * * Premium * * *
// -------------------------


//Dulux 10

$pinkBerry:     		 #d46f8d !default;
$pinkPlum:     			 #952c57 !default;
$pinkBlush:     	     #954D65 !default;
$pinkAdobe:       		 #9F5C60 !default;
$pinkNevada:       		 #AC545C !default;
$pinkFlamingo:   		 #C16B9E !default;
$pinkCandy:   	 		 #BB597E !default;
$pinkFuchsia:   	 	 #C25C77 !default;
$pinkRose:   			 #CF5F6F !default;
$pinkParty:   			 #D87082 !default;











