// Yellow 17
// -------------------------

//Defaults

$yellow:               	#fc0 !default;
$yellowDark:            #806600 !default;
$yellowDarker:          #332900 !default;
$yellowLight:           #ffdb4d !default;
$yellowLighter:         #ffeb99 !default;
$yellowDull:           	#cfb036 !default;
$yellowDuller:         	#b39f52 !default;
$yellowBright:         	#ff0 !default;
$yellowBrighter:        #ff6 !default;


//Variations

$yellowBuff:        	#f0dc82 !default;
$yellowGold:        	#ffd700 !default;
$yellowGoldmetal:       #d4af37 !default;
$yellowJasmine:        	#f8de7e !default;
$yellowMaize:        	#fbec5d !default;
$yellowSaffron:        	#f4c430 !default;
$yellowSunglow:        	#fc3 !default;
$yellowLight:        	#fdfc8f !default;


// * * * Premium * * *
// -------------------------


//Dulux 13

$yellowAboutme:         #fc3 !default;
$yellowAim:          	#fcd20b !default;
$yellowPharaoh:   	    #fdc46b !default;
$yellowHavana: 			#fbbb5c !default;
$yellowSunny: 			#ffd251 !default;
$yellowDelhi: 			#ffc924 !default;
$yellowSpring: 			#ffcd59 !default;
$yellowSunflower: 		#ffc43c !default;
$yellowGlaze: 			#ffc054 !default;
$yellowBreeze: 			#f0d458 !default;
$yellowEaster: 			#fecf51 !default;
$yellowLemon: 			#ffd865 !default;
$yellowButtercup: 		#f9c833 !default;

