// PrestaShop Colors
$greenPrestashop: #8BC954
$pinkPrestashop: #F01778

// Colors from https://github.com/mrmrs/colors
$aqua: #7FDBFF
$blue: #0074D9
$navy: #001F3F
$teal: #39CCCC
$green: #2ECC40
$olive: #3D9970
$lime: #01FF70
$yellow: #FFDC00
$orange: #FF851B
$red: #FF4136
$fuchsia: #F012BE
$purple: #B10DC9
$maroon: #85144B
$white: #fff
$silver: #ddd
$gray: #aaa
$black: #111

// Color Me SASS v1.3 by Richard Bray
@import "colors/reds"
@import "colors/peaches"
@import "colors/tans"
@import "colors/oranges"
@import "colors/ambers"
@import "colors/yellows"
@import "colors/limes"
@import "colors/greens"
@import "colors/turquoise"
@import "colors/blues"
@import "colors/purples"
@import "colors/pinks"
@import "colors/browns"
@import "colors/whites"
@import "colors/grays"