{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
  <div class="col-md-12 text-md-center">
    <div class="m-t-3 emptycatalog-icon">
      <i class="material-icons">add_shopping_cart</i>
    </div>
    <div class="m-t-1">
      <a class="btn btn-primary" id="product_empty_list_add_btn" href="{{ path('admin_product_new') }}">{{ 'Add your first product'|trans({}, 'Admin.Catalog.Feature') }}</a>
    </div>
    <div class="m-t-1">
      <a href="{{ import_url }}" class="external-link" id="product_empty_list_go_to_import">{{ 'or import a list of products (.csv or .xls file).'|trans({}, 'Admin.Catalog.Feature') }}</a>
    </div>
  </div>
{% endblock %}
