{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
  <div class="col-md-12 text-md-center">
    <div class="m-t-3 emptycatalog-icon">
      <i class="material-icons">add_shopping_cart</i>
    </div>
    <div class="m-t-1">
      <a class="btn btn-primary" id="product_empty_list_add_btn" href="{{ path('admin_product_new') }}">{{ trans('Add your first product', [], 'AdminProducts') }}</a>
    </div>
    <div class="m-t-1">
      <a href="{{ import_url }}" class="external-link" id="product_empty_list_go_to_import">{{ trans('or import a list of product (.csv file)', [], 'AdminProducts') }}</a>
    </div>
  </div>
{% endblock %}
