{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
    <div class="panel">
        <div class="alert alert-danger" role="alert">{{ 'You can\'t add or edit a product in this shop context: select a shop instead of a group of shops.'|trans({}, 'Admin.Catalog.Notification') }}</div>
    </div>
{% endblock %}
