{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
    <div class="panel">
        <div class="alert alert-danger" role="alert">{{ 'Sorry, you can not edit/add a product when shop context is defined to a group of shop'|trans({}, 'AdminProducts') }}</div>
    </div>
{% endblock %}
