{#
//@todo: this is just a test template for vue component
#}
{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}

  <div id="productPageVue">
    {#@todo: hardcoded values #}
    <product-image-upload product-id="1"></product-image-upload>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('themes/new-theme/public/product_test.bundle.js') }}"></script>
{% endblock %}
