<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ganalytics</name>
    <displayName><![CDATA[Google Analytics]]></displayName>
    <version><![CDATA[2.3.4]]></version>
    <description><![CDATA[Gain clear insights into important metrics about your customers, using Google Analytics]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[analytics_stats]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall Google Analytics? You will lose all the data related to this module.]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>