<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockadvertising</name>
	<displayName><![CDATA[Advertising block]]></displayName>
	<version><![CDATA[0.7]]></version>
	<description><![CDATA[Adds an advertisement block to selected sections of your e-commerce website.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[advertising_marketing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>