<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>authorizeaim</name>
	<displayName><![CDATA[Authorize.net AIM (Advanced Integration Method)]]></displayName>
	<version><![CDATA[1.3.1]]></version>
	<description><![CDATA[Receive payment with Authorize.net]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>