<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blocknewproducts</name>
            <displayName><![CDATA[New products block]]></displayName>
            <version><![CDATA[0.9]]></version>
            <description><![CDATA[Displays a block featuring your store&#039;s newest products.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>