.brand
  display block
  overflow hidden
  border-bottom 1px solid #000000

.brand:last-child
  border 0

.brand-img, .brand-infos, .brand-products
  float left

.brand-img, .brand-products
  width 20%

.brand-infos
  width 60%
