#search_filters
  span.magnitude
    display inline
    color black
    &:before
      content "("
    &:after
      content ")"
  a, a:visited
    color inherit
  .facet
    ul
      list-style none
      margin 0
      padding 0
  .active_filters
    ul
      padding-left 20px
