label.radio-block
  display block

.form-fields
  label
    margin-top small-padding
    display block
  input[type=checkbox] + span
    display inline
  textarea
    max-width 100%

.form-footer
  button
    margin-top 2*small-padding
