body
  background-color body-background-color

#wrapper, .header-nav, .header-top, a.logo
  padding-left 10px
  padding-right 10px

@media (min-width: breakpoint-medium)
  #wrapper, .header-nav, .header-top, a.logo, aside#notifications
    padding-left 100px
    padding-right 100px

@media (min-width: breakpoint-large)
  #wrapper, .header-nav, .header-top, a.logo, aside#notifications
    padding-left: 350px;
    padding-right: 350px;

.header-banner
  text-align center
  background-color black

.header-nav
  text-align right
  background-color #666
  margin-bottom 20px
  font-size: 0
  > *
    display inline-block
    font-size 1rem
  then-clear-both()

.header-top
  margin-top 10px
  margin-bottom 10px
  then-clear-both()

#header
  then-clear-both()

#wrapper
  clear both

#content-wrapper.left-column
  margin-left 25%

#content-wrapper.right-column
  margin-right 25%

#left-column
  float left
  width 25%

#right-column
  float right
  width 25%
