body
  background-color body-background-color

#main, .header-nav, .header-top, a.logo
  padding-left 10px
  padding-right 10px

@media (min-width: breakpoint-medium)
  #main, .header-nav, .header-top, a.logo
    padding-left 100px
    padding-right 100px

@media (min-width: breakpoint-large)
  #main, .header-nav, .header-top, a.logo
    padding-left: 350px;
    padding-right: 350px;

.header-banner
  text-align center
  background-color black

.header-nav
  text-align right
  background-color #666
  margin-bottom 20px
  font-size: 0
  > *
    display inline-block
    font-size 1rem

.header-top
  margin-top 10px
  margin-bottom 10px
  &::after
    clear both
    content "\00a0"

#main
  clear both
