body#order-opc
  max-width 960px
  margin auto

.address-selector
  clearfix()
  .address-item
    float left
    min-width 220px
    background-color grey-lighter
    padding medium-padding
    margin-left spacing-unit
   &:nth-child-last()
     margin-left: 0
