nav.pagination
  ul
    list-style none
    margin 0
    paddin 0
  li
    display inline
  .disabled
    opacity 0.5
    cursor default
  a, a:visited
    text-decoration none
    color black
    display inline-block
    border 1px solid border-color
    min-width 2em
    padding small-padding
    text-align center

  .current
    font-weight bold
    a
      background-color white

.products-sort-order
  margin-bottom small-padding
  .current
    font-weight bold
  a, a:visited
    color inherit
    padding small-padding
