.user-info
  font-size 0
  > *
    font-size 1rem
  a, a:visited, a:hover
    text-decoration none
    color inherit
    display inline-block
    padding small-padding
    background-color background-color
    border 1px solid border-color
