// Colors
body-background-color = #f9f9f9
border-color = grey
background-color = white
text-color = #333
faded-color = #666
highlighted-background-color = #666
highlighted-color = white
cta-color = black
cta-background-color = lightgreen

grey = #ccc
grey-lighter = lighten(grey, 15%)
grey-darker = darken(grey, 15%)

// Sizes
spacing-unit = 30px

medium-padding = spacing-unit / 2
small-padding = spacing-unit / 6
tiny-padding = 2px

// Breakpoints
breakpoint-small  = 1000px
breakpoint-medium = 1200px
breakpoint-large  = 1800px

@import "_normalize.css"
@import "_mixins.styl"
@import "_common.styl"
@import "_layout.styl"
@import "_form.styl"
@import "_cart.styl"
@import "_language-and-currency-selectors.styl"
@import "_user-info.styl"
@import "_blocktopmenu.styl"
@import "_categories.styl"
@import "_opc.styl"
@import "_product.styl"
@import "_notifications.styl"
