<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dejala</name>
	<displayName>Dejala.com : Courier delivery</displayName>
	<version>1.4</version>
	<description>Lets Dejala.com handle your deliveries by courier</description>
	<author></author>
	<tab>shipping_logistics</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries>fr</limited_countries>
</module>