
#djl_shipping_pref #shipping_div {
	width:100%;
}

#djl_shipping_pref #shipping_dates {
	width:100%;
	float:left;
	border:1px solid lightgrey;
}

#djl_shipping_pref #shipping_dates div {
	height:25px;
	width:24.9%;
	margin-top:5px;
	float:left;
	padding-top:10px;
}

#djl_shipping_pref #shipping_hours {
	float:left;
	width:100%;
	border:1px solid lightgrey;
	margin-top:5px;
}

#djl_shipping_pref #shipping_hours div {
	height:31px;
	width:19.9%;
	float:left;
	padding-top:10px;
}

#djl_shipping_pref .title {
 	margin:5px;	
 	font-size:1.1em;
	font-weight:bold;
	color:#993300;
}

#djl_shipping_pref input {border:none;}

#djl_shipping_pref #shipping_hours div[class=djl_active], #djl_shipping_pref #shipping_dates div[class=djl_active] {
    font-weight: bold;
    color: rgb(153, 51, 0);
}

#djl_shipping_pref .disabled {
        zoom: 1; 
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
}
