/* block top languages */
#header_right #languages_block_top {
	margin: 0.4em 0.1em 0 0;
	float: left
}
#header_right #languages_block_top p { clear: left }
#languages_block_top {
	width: 80px
}
#languages_block_top ul#first-languages li {
	float: left;
	margin-right: 3px
}
#languages_block_top ul#first-languages li.selected_language {
	float: left;
	margin-right: 0.3em
}