# To use with docker copy this file as .env and update its contents
# Use only parameters you want different from those set as default in docker-compose.yml file
# More information can be found at https://hub.docker.com/r/prestashop/prestashop/

# server
VERSION=8.1-apache # prestashop/base image version
USER_ID=1000
GROUP_ID=1000

# database
DB_SERVER=mysql # must match database service name from docker-compose.yml
DB_USER=root
DB_PASSWD=prestashop
DB_NAME=prestashop
DB_PREFIX=ps_

# installation setup
DISABLE_MAKE=0
PS_INSTALL_AUTO=1
PS_HOST_MODE=0
PS_DEMO_MODE=0
PS_ERASE_DB=0
PS_INSTALL_DB=0
PS_FOLDER_INSTALL=install-dev
PS_FOLDER_ADMIN=admin-dev
PS_ALL_LANGUAGES=0
PS_HANDLE_DYNAMIC_DOMAIN=0

# shop config
PS_DEV_MODE=1
PS_ENABLE_SSL=0

PS_DOMAIN=localhost:8001 # must use port 8001
PS_LANGUAGE=en
PS_COUNTRY=FR

ADMIN_MAIL=youremail@example.com
ADMIN_PASSWD=Your@Password
