.buildpath
.htaccess
.project
.settings
.idea
.svn
.DS_Store
robots.txt
sitemap.xml
cache/smarty/cache/*
!cache/smarty/cache/index.php
cache/smarty/compile/*
!cache/smarty/compile/index.php
cache/class_index.php
cache/tcpdf/*
!cache/tcpdf/index.php
config/xml/*.xml
config/settings.inc.php
log/*.log
img/*
!img/index.php
!img/*/index.php
tools/smarty*/cache/*.php
!tools/smarty*/cache/index.php
tools/smarty*/compile/*.php
!tools/smarty*/compile/index.php
override/classes/*.php
themes/default/cache/*.js
themes/default/cache/*.css
modules/*/translations/*.php
!modules/*/translations/index.php
mails/*
!mails/en
modules/*/mails/*
!modules/*/mails/en
translations/*
!translations/*.gzip
.sass-cache
