[submodule "modules/bankwire"]
	path = modules/bankwire
	url = https://github.com/PrestaShop/bankwire.git
	branch = master
	ignore = dirty
[submodule "modules/blockadvertising"]
	path = modules/blockadvertising
	url = https://github.com/PrestaShop/blockadvertising.git
	branch = master
	ignore = dirty
[submodule "modules/blockbanner"]
	path = modules/blockbanner
	url = https://github.com/PrestaShop/blockbanner.git
	branch = master
	ignore = dirty
[submodule "modules/blockbestsellers"]
	path = modules/blockbestsellers
	url = https://github.com/PrestaShop/blockbestsellers.git
	branch = master
	ignore = dirty
[submodule "modules/blockcart"]
	path = modules/blockcart
	url = https://github.com/PrestaShop/blockcart.git
	branch = master
	ignore = dirty
[submodule "modules/blockcategories"]
	path = modules/blockcategories
	url = https://github.com/PrestaShop/blockcategories.git
	branch = master
	ignore = dirty
[submodule "modules/blockcms"]
	path = modules/blockcms
	url = https://github.com/PrestaShop/blockcms.git
	branch = master
	ignore = dirty
[submodule "modules/blockcmsinfo"]
	path = modules/blockcmsinfo
	url = https://github.com/PrestaShop/blockcmsinfo.git
	branch = master
	ignore = dirty
[submodule "modules/blockcontact"]
	path = modules/blockcontact
	url = https://github.com/PrestaShop/blockcontact.git
	branch = master
	ignore = dirty
[submodule "modules/blockcontactinfos"]
	path = modules/blockcontactinfos
	url = https://github.com/PrestaShop/blockcontactinfos.git
	branch = master
	ignore = dirty
[submodule "modules/blockcurrencies"]
	path = modules/blockcurrencies
	url = https://github.com/PrestaShop/blockcurrencies.git
	branch = master
	ignore = dirty
[submodule "modules/blockcustomerprivacy"]
	path = modules/blockcustomerprivacy
	url = https://github.com/PrestaShop/blockcustomerprivacy.git
	branch = master
	ignore = dirty
[submodule "modules/blockfacebook"]
	path = modules/blockfacebook
	url = https://github.com/PrestaShop/blockfacebook.git
	branch = master
	ignore = dirty
[submodule "modules/blocklanguages"]
	path = modules/blocklanguages
	url = https://github.com/PrestaShop/blocklanguages.git
	branch = master
	ignore = dirty
[submodule "modules/blocklayered"]
	path = modules/blocklayered
	url = https://github.com/PrestaShop/blocklayered.git
	branch = master
	ignore = dirty
[submodule "modules/blocklink"]
	path = modules/blocklink
	url = https://github.com/PrestaShop/blocklink.git
	branch = master
	ignore = dirty
[submodule "modules/blockmanufacturer"]
	path = modules/blockmanufacturer
	url = https://github.com/PrestaShop/blockmanufacturer.git
	branch = master
	ignore = dirty
[submodule "modules/blockmyaccount"]
	path = modules/blockmyaccount
	url = https://github.com/PrestaShop/blockmyaccount.git
	branch = master
	ignore = dirty
[submodule "modules/blockmyaccountfooter"]
	path = modules/blockmyaccountfooter
	url = https://github.com/PrestaShop/blockmyaccountfooter.git
	branch = master
	ignore = dirty
[submodule "modules/blocknewproducts"]
	path = modules/blocknewproducts
	url = https://github.com/PrestaShop/blocknewproducts.git
	branch = master
	ignore = dirty
[submodule "modules/blocknewsletter"]
	path = modules/blocknewsletter
	url = https://github.com/PrestaShop/blocknewsletter.git
	branch = master
	ignore = dirty
[submodule "modules/blockpaymentlogo"]
	path = modules/blockpaymentlogo
	url = https://github.com/PrestaShop/blockpaymentlogo.git
	branch = master
	ignore = dirty
[submodule "modules/blockpermanentlinks"]
	path = modules/blockpermanentlinks
	url = https://github.com/PrestaShop/blockpermanentlinks.git
	branch = master
	ignore = dirty
[submodule "modules/blockreinsurance"]
	path = modules/blockreinsurance
	url = https://github.com/PrestaShop/blockreinsurance.git
	branch = master
	ignore = dirty
[submodule "modules/blockrss"]
	path = modules/blockrss
	url = https://github.com/PrestaShop/blockrss.git
	branch = master
	ignore = dirty
[submodule "modules/blocksearch"]
	path = modules/blocksearch
	url = https://github.com/PrestaShop/blocksearch.git
	branch = master
	ignore = dirty
[submodule "modules/blocksharefb"]
	path = modules/blocksharefb
	url = https://github.com/PrestaShop/blocksharefb.git
	branch = master
	ignore = dirty
[submodule "modules/blocksocial"]
	path = modules/blocksocial
	url = https://github.com/PrestaShop/blocksocial.git
	branch = master
	ignore = dirty
[submodule "modules/blockspecials"]
	path = modules/blockspecials
	url = https://github.com/PrestaShop/blockspecials.git
	branch = master
	ignore = dirty
[submodule "modules/blockstore"]
	path = modules/blockstore
	url = https://github.com/PrestaShop/blockstore.git
	branch = master
	ignore = dirty
[submodule "modules/blocksupplier"]
	path = modules/blocksupplier
	url = https://github.com/PrestaShop/blocksupplier.git
	branch = master
	ignore = dirty
[submodule "modules/blocktags"]
	path = modules/blocktags
	url = https://github.com/PrestaShop/blocktags.git
	branch = master
	ignore = dirty
[submodule "modules/blocktopmenu"]
	path = modules/blocktopmenu
	url = https://github.com/PrestaShop/blocktopmenu.git
	branch = master
	ignore = dirty
[submodule "modules/blockuserinfo"]
	path = modules/blockuserinfo
	url = https://github.com/PrestaShop/blockuserinfo.git
	branch = master
	ignore = dirty
[submodule "modules/blockviewed"]
	path = modules/blockviewed
	url = https://github.com/PrestaShop/blockviewed.git
	branch = master
	ignore = dirty
[submodule "modules/crossselling"]
	path = modules/crossselling
	url = https://github.com/PrestaShop/crossselling.git
	branch = master
	ignore = dirty
[submodule "modules/dashactivity"]
	path = modules/dashactivity
	url = https://github.com/PrestaShop/dashactivity.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/dashgoals"]
	path = modules/dashgoals
	url = https://github.com/PrestaShop/dashgoals.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/dashproducts"]
	path = modules/dashproducts
	url = https://github.com/PrestaShop/dashproducts.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/dashtrends"]
	path = modules/dashtrends
	url = https://github.com/PrestaShop/dashtrends.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/graphnvd3"]
	path = modules/graphnvd3
	url = https://github.com/PrestaShop/graphnvd3.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/gridhtml"]
	path = modules/gridhtml
	url = https://github.com/PrestaShop/gridhtml.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/homefeatured"]
	path = modules/homefeatured
	url = https://github.com/PrestaShop/homefeatured.git
	branch = master
	ignore = dirty
[submodule "modules/homeslider"]
	path = modules/homeslider
	url = https://github.com/PrestaShop/homeslider.git
	branch = master
	ignore = dirty
[submodule "modules/pagesnotfound"]
	path = modules/pagesnotfound
	url = https://github.com/PrestaShop/pagesnotfound.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/productpaymentlogos"]
	path = modules/productpaymentlogos
	url = https://github.com/PrestaShop/productpaymentlogos.git
	branch = master
	ignore = dirty
[submodule "modules/productscategory"]
	path = modules/productscategory
	url = https://github.com/PrestaShop/productscategory.git
	branch = master
	ignore = dirty
[submodule "modules/producttooltip"]
	path = modules/producttooltip
	url = https://github.com/PrestaShop/producttooltip.git
	branch = master
	ignore = dirty
[submodule "modules/sekeywords"]
	path = modules/sekeywords
	url = https://github.com/PrestaShop/sekeywords.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/socialsharing"]
	path = modules/socialsharing
	url = https://github.com/PrestaShop/socialsharing.git
	branch = master
	ignore = dirty
[submodule "modules/statsbestcategories"]
	path = modules/statsbestcategories
	url = https://github.com/PrestaShop/statsbestcategories.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsbestcustomers"]
	path = modules/statsbestcustomers
	url = https://github.com/PrestaShop/statsbestcustomers.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsbestmanufacturers"]
	path = modules/statsbestmanufacturers
	url = https://github.com/PrestaShop/statsbestmanufacturers.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsbestproducts"]
	path = modules/statsbestproducts
	url = https://github.com/PrestaShop/statsbestproducts.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsbestsuppliers"]
	path = modules/statsbestsuppliers
	url = https://github.com/PrestaShop/statsbestsuppliers.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsbestvouchers"]
	path = modules/statsbestvouchers
	url = https://github.com/PrestaShop/statsbestvouchers.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statscarrier"]
	path = modules/statscarrier
	url = https://github.com/PrestaShop/statscarrier.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statscatalog"]
	path = modules/statscatalog
	url = https://github.com/PrestaShop/statscatalog.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statscheckup"]
	path = modules/statscheckup
	url = https://github.com/PrestaShop/statscheckup.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsdata"]
	path = modules/statsdata
	url = https://github.com/PrestaShop/statsdata.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsequipment"]
	path = modules/statsequipment
	url = https://github.com/PrestaShop/statsequipment.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsforecast"]
	path = modules/statsforecast
	url = https://github.com/PrestaShop/statsforecast.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statslive"]
	path = modules/statslive
	url = https://github.com/PrestaShop/statslive.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsnewsletter"]
	path = modules/statsnewsletter
	url = https://github.com/PrestaShop/statsnewsletter.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsorigin"]
	path = modules/statsorigin
	url = https://github.com/PrestaShop/statsorigin.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statspersonalinfos"]
	path = modules/statspersonalinfos
	url = https://github.com/PrestaShop/statspersonalinfos.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsproduct"]
	path = modules/statsproduct
	url = https://github.com/PrestaShop/statsproduct.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsregistrations"]
	path = modules/statsregistrations
	url = https://github.com/PrestaShop/statsregistrations.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statssales"]
	path = modules/statssales
	url = https://github.com/PrestaShop/statssales.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statssearch"]
	path = modules/statssearch
	url = https://github.com/PrestaShop/statssearch.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsstock"]
	path = modules/statsstock
	url = https://github.com/PrestaShop/statsstock.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/statsvisits"]
	path = modules/statsvisits
	url = https://github.com/PrestaShop/statsvisits.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/themeconfigurator"]
	path = modules/themeconfigurator
	url = https://github.com/PrestaShop/themeconfigurator.git
	branch = master
	ignore = dirty
[submodule "modules/trackingfront"]
	path = modules/trackingfront
	url = https://github.com/PrestaShop/trackingfront.git
	branch = 1.7.0.x-prev
	ignore = dirty
[submodule "modules/vatnumber"]
	path = modules/vatnumber
	url = https://github.com/PrestaShop/vatnumber.git
	branch = master
	ignore = dirty
[submodule "modules/cheque"]
	path = modules/cheque
	url = https://github.com/PrestaShop/cheque.git
	branch = master
	ignore = dirty
[submodule "modules/sendtoafriend"]
	path = modules/sendtoafriend
	url = https://github.com/PrestaShop/sendtoafriend.git
	branch = master
	ignore = dirty
