parameters:
  disallowedNamespaces:
        -
            class:
              - AbstractAssetManager
              - AbstractCheckoutStep
              - AbstractForm
              - AbstractLogger
              - Access
              - Address
              - AddressChecksum
              - AddressFormat
              - AddressValidator
              - AdminController
              - Alias
              - Attachment
              - AttributeGroup
              - AttributeGroupLang
              - AttributeLang
              - CMS
              - CMSCategory
              - CMSRole
              - CSV
              - Cache
              - CacheApc
              - CacheMemcache
              - CacheMemcached
              - CacheXcache
              - Carrier
              - CarrierLang
              - CarrierModule
              - Cart
              - CartChecksum
              - CartRule
              - Category
              - CategoryLang
              - CccReducer
              - Chart
              - CheckoutAddressesStep
              - CheckoutDeliveryStep
              - CheckoutPaymentStep
              - CheckoutPersonalInformationStep
              - CheckoutProcess
              - CheckoutSession
              - CmsCategoryLang
              - Combination
              - ConditionsToApproveFinder
              - Configuration
              - ConfigurationKPI
              - ConfigurationLang
              - ConfigurationTest
              - Connection
              - ConnectionsSource
              - Contact
              - ContactLang
              - Context
              - Controller
              - Cookie
              - Country
              - CssMinifier
              - Currency
              - Curve
              - Customer
              - CustomerAddress
              - CustomerAddressForm
              - CustomerAddressFormatter
              - CustomerAddressPersister
              - CustomerForm
              - CustomerFormatter
              - CustomerLoginForm
              - CustomerLoginFormatter
              - CustomerMessage
              - CustomerPersister
              - CustomerSession
              - CustomerThread
              - Customization
              - CustomizationField
              - DataLang
              - DateRange
              - Db
              - DbMySQLi
              - DbPDO
              - DbQuery
              - Delivery
              - DeliveryOptionsFinder
              - Dispatcher
              - Employee
              - EmployeeSession
              - Feature
              - FeatureFlag
              - FeatureLang
              - FeatureValue
              - FeatureValueLang
              - FileLogger
              - FileUploader
              - FormField
              - FrontController
              - Gender
              - GenderLang
              - Group
              - GroupLang
              - GroupReduction
              - Guest
              - HTMLTemplate
              - HTMLTemplateDeliverySlip
              - HTMLTemplateInvoice
              - HTMLTemplateOrderReturn
              - HTMLTemplateOrderSlip
              - HTMLTemplateSupplyOrderForm
              - Helper
              - HelperCalendar
              - HelperForm
              - HelperImageUploader
              - HelperKpi
              - HelperKpiRow
              - HelperList
              - HelperOptions
              - HelperShop
              - HelperTreeCategories
              - HelperTreeShops
              - HelperUploader
              - HelperView
              - Hook
              - Image
              - ImageManager
              - ImageType
              - JavascriptManager
              - JsMinifier
              - Language
              - Link
              - LinkProxy
              - LocalizationPack
              - Mail
              - Manufacturer
              - ManufacturerAddress
              - Media
              - Message
              - Meta
              - MetaLang
              - Module
              - ModuleAdminController
              - ModuleFrontController
              - ModuleGraph
              - ModuleGraphEngine
              - ModuleGrid
              - ModuleGridEngine
              - Notification
              - ObjectModel
              - Order
              - OrderCarrier
              - OrderCartRule
              - OrderDetail
              - OrderHistory
              - OrderInvoice
              - OrderMessage
              - OrderMessageLang
              - OrderPayment
              - OrderReturn
              - OrderReturnState
              - OrderReturnStateLang
              - OrderSlip
              - OrderState
              - OrderStateLang
              - PDF
              - PDFGenerator
              - Pack
              - Page
              - PaymentModule
              - PaymentOptionsFinder
              - PhpEncryption
              - PhpEncryptionEngine
              - PrestaShopBackup
              - PrestaShopCollection
              - PrestaShopDatabaseException
              - PrestaShopException
              - PrestaShopLogger
              - PrestaShopModuleException
              - PrestaShopObjectNotFoundException
              - PrestaShopPaymentException
              - Product
              - ProductAssembler
              - ProductAttribute
              - ProductDownload
              - ProductListingFrontController
              - ProductPresenterFactory
              - ProductPresentingFrontController
              - ProductSale
              - ProductSupplier
              - Profile
              - ProfileLang
              - QqUploadedFileForm
              - QqUploadedFileXhr
              - QuickAccess
              - QuickAccessLang
              - RangePrice
              - RangeWeight
              - RequestSql
              - Risk
              - RiskLang
              - Search
              - SearchEngine
              - Shop
              - ShopGroup
              - ShopUrl
              - SmartyCustom
              - SmartyCustomTemplate
              - SmartyDevTemplate
              - SmartyResourceModule
              - SmartyResourceParent
              - SpecificPrice
              - SpecificPriceFormatter
              - SpecificPriceRule
              - State
              - Stock
              - StockAvailable
              - StockManager
              - StockManagerFactory
              - StockManagerModule
              - StockMvt
              - StockMvtReason
              - StockMvtReasonLang
              - StockMvtWS
              - Store
              - StylesheetManager
              - Supplier
              - SupplierAddress
              - SupplyOrder
              - SupplyOrderDetail
              - SupplyOrderHistory
              - SupplyOrderReceiptHistory
              - SupplyOrderState
              - SupplyOrderStateLang
              - Tab
              - TabLang
              - Tag
              - Tax
              - TaxCalculator
              - TaxConfiguration
              - TaxManagerFactory
              - TaxManagerModule
              - TaxRule
              - TaxRulesGroup
              - TaxRulesTaxManager
              - TemplateFinder
              - ThemeLang
              - Tools
              - Translate
              - TranslatedConfiguration
              - Tree
              - TreeToolbar
              - TreeToolbarButton
              - TreeToolbarLink
              - TreeToolbarSearch
              - TreeToolbarSearchCategories
              - Upgrader
              - Uploader
              - Validate
              - ValidateConstraintTranslator
              - Warehouse
              - WarehouseAddress
              - WarehouseProductLocation
              - WebserviceException
              - WebserviceKey
              - WebserviceOutputBuilder
              - WebserviceOutputJSON
              - WebserviceOutputXML
              - WebserviceRequest
              - WebserviceSpecificManagementAttachments
              - WebserviceSpecificManagementImages
              - WebserviceSpecificManagementSearch
              - Zone
            message: 'No legacy calls inside the prestashop bundle. Please create an interface and an adapter if you need to.'
            disallowIn:
                - src/PrestaShopBundle/*
                - src/Core/*
            allowIn:
                - src/Adapter/*
                - src/PrestaShopBundle/Install/*
        -
            class: 'Symfony\Component\Translation\TranslatorInterface'
            message: 'use Symfony\Contracts\Translation\TranslatorInterface instead'
            disallowIn:
                - src/Core/*
        -
            class: 'Sensio\Bundle\FrameworkExtraBundle\Configuration\Template'
            message: 'The @template annotation is deprecated and will be removed in future versions. We should not add any usages of it. '
            disallowIn:
                - src/PrestaShopBundle/*
  disallowedMethodCalls:
        -
            method: 'Psr\Container\ContainerInterface::get()'
            message: "Please do not call the container from the controller, you can use $this->get() on the FrameworkBundleAdminController, or better, use dependency injection instead."
            disallowIn:
                - src/PrestaShopBundle/Controller/*
            allowIn:
                - src/PrestaShopBundle/Controller/Admin/FrameworkBundleAdminController.php
                - src/PrestaShopBundle/Controller/Admin/PrestaShopAdminController.php
  disallowedConstants:
        -
            constant:
                - '_LEGACY_PS_CREATION_DATE'
                - '_LEGACY_PS_CACHE_ENABLED'
                - '_LEGACY_PS_CACHING_SYSTEM_'
                - '_LEGACY_COOKIE_KEY_'
                - '_LEGACY_COOKIE_IV_'
                - '_LEGACY_DB_PREFIX_'
                - '_LEGACY_DB_SERVER_'
                - '_LEGACY_DB_USER_'
                - '_LEGACY_DB_PASSWD_'
                - '_LEGACY_DB_NAME_'
                - '_LEGACY_MYSQL_ENGINE_'
                - '_DB_SERVER_'
                - '_DB_NAME_'
                - '_DB_USER_'
                - '_DB_PASSWD_'
                - '_MYSQL_ENGINE_'
                - '_COOKIE_KEY_'
                - '_COOKIE_IV_'
                - '_DB_PREFIX_'
                - '_PS_SSL_PORT_'
                - '_THEME_NAME_'
                - '_THEME_COL_DIR_'
                - '_PARENT_THEME_NAME_'
                - '__PS_BASE_URI__'
                - '_PS_API_URL_'
                - '_PS_CACHE_ENABLED_'
                - '_PS_CACHING_SYSTEM_'
                - '_PS_CREATION_DATE_'
                - '_PS_INSTALL_PATH_'
                - '_PS_INSTALL_DATA_PATH_'
                - '_PS_INSTALL_LANGS_PATH_'
                - '_PS_INSTALL_FIXTURES_PATH_'
                - '_PS_INSTALL_VERSION_'
                - '_PS_PRICE_DISPLAY_PRECISION_'
                - '_PS_PRICE_COMPUTE_PRECISION_'
                - '_PS_OS_CHEQUE_'
                - '_PS_OS_PAYMENT_'
                - '_PS_OS_PREPARATION_'
                - '_PS_OS_SHIPPING_'
                - '_PS_OS_DELIVERED_'
                - '_PS_OS_CANCELED_'
                - '_PS_OS_REFUND_'
                - '_PS_OS_ERROR_'
                - '_PS_OS_OUTOFSTOCK_'
                - '_PS_OS_OUTOFSTOCK_PAID_'
                - '_PS_OS_OUTOFSTOCK_UNPAID_'
                - '_PS_OS_BANKWIRE_'
                - '_PS_OS_PAYPAL_'
                - '_PS_OS_WS_PAYMENT_'
                - '_PS_OS_COD_VALIDATION_'
                - '_PS_THEME_DIR_'
                - '_PS_BASE_URL_'
                - '_MODULE_DIR_'
                - '_THEME_PROD_DIR_'
                - '_THEME_PROD_PIC_DIR_'
                - '_NEW_COOKIE_KEY_'
                - '_MAIL_DIR_'
                - '_PS_IMG_'
                - '_PS_PARENT_THEME_DIR_'
                - '_PS_API_MODULES_LIST_16_'
                - '_PS_CURRENCY_FEED_URL_'
                - '_PS_DEFAULT_THEME_NAME_'
                - '_PS_INSTALL_CONTROLLERS_PATH_'
                - '_PS_INSTALL_MAXIMUM_PHP_VERSION_'
                - '_PS_INSTALL_MAXIMUM_PHP_VERSION_ID_'
                - '_PS_INSTALL_MINIMUM_PHP_VERSION_'
                - '_PS_INSTALL_MINIMUM_PHP_VERSION_ID_'
                - '_PS_JS_DIR_'
                - '_PS_PARENT_THEME_URI_'
                - '_PS_TAB_MODULE_LIST_URL_'
                - '_PS_THEME_SELECTED_DIR_'
                - '_PS_THEME_URI_'
                - '_PS_TMP_IMG_'
                - '_THEME_CAT_DIR_'
                - '_THEME_CSS_DIR_'
                - '_THEME_DIR_'
                - '_THEME_EMPLOYEE_DIR_'
                - '_THEME_GENDERS_DIR_'
                - '_THEME_IMG_DIR_'
                - '_THEME_JS_DIR_'
                - '_THEME_LANG_DIR_'
                - '_THEME_MANU_DIR_'
                - '_THEME_SHIP_DIR_'
                - '_THEME_STORE_DIR_'
                - '_THEME_SUP_DIR_'
                - '_THEME_PROFILE_DIR_'
                - '_THEMES_DIR_'
                - 'PS_INSTALLATION_LOCK_FILE'
                - '_PS_DISPLAY_ONLY_ERRORS_'
            message: 'Use dependency injection instead'
            disallowIn:
                - src/PrestaShopBundle/*
                - src/Core/*
            allowIn:
                - src/Adapter/*
                - src/PrestaShopBundle/Install/*
                - src/Core/Grid/Factory/FeatureValueGridFactory
        -
            class: PrestaShopBundle\Security\Voter\PageVoter
            constant: ['CREATE', 'READ', 'UPDATE', 'DELETE', 'LEVEL_DELETE', 'LEVEL_CREATE', 'LEVEL_READ', 'LEVEL_UPDATE']
            message: 'Use \PrestaShop\PrestaShop\Core\Security\Permission constants instead.'
            disallowIn:
                - src/*
        -
            class: AdminController
            constant: ['LEVEL_DELETE', 'LEVEL_ADD', 'LEVEL_VIEW', 'LEVEL_EDIT']
            message: 'Use \PrestaShop\PrestaShop\Core\Security\Permission constants instead.'
            disallowIn:
                - src/*
                - classes/*
                - controllers/*
        -
            class: CookieCore
            constant: ['SAMESITE_NONE', 'SAMESITE_LAX', 'SAMESITE_STRICT', 'SAMESITE_AVAILABLE_VALUES']
            message: 'Use \PrestaShop\PrestaShop\Core\Http\CookieOptions constants instead.'
            disallowIn:
                - src/*
                - classes/*
                - controllers/*
        -
            class: PrestaShopBundle\Form\Admin\Configure\AdvancedParameters\Administration\GeneralDataProvider
            constant: ['MAX_COOKIE_VALUE']
            message: 'Use \PrestaShop\PrestaShop\Core\Http\CookieOptions constants instead.'
            disallowIn:
                - src/*
                - classes/*
                - controllers/*
