parameters:
	level: 3
	bootstrapFiles:
		- .github/workflows/phpstan/autoload.php
	paths:
		- src
	ignoreErrors:
		- '#^Unsafe usage of new static\(\)\.$#'
		- '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:#'
	universalObjectCratesClasses:
		- Cookie
		- ObjectModel
		- Order
		- OrderInvoice
		- Product
