parameters:
	ignoreErrors:
		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/EmployeeDropdown.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/PrestaShopBundle/Twig/Component/EmployeeDropdown.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/EmployeeDropdown.php

		-
			message: "#^Class Link is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/Header.php

		-
			message: "#^Namespace Link is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/Header.php

		-
			message: "#^Namespace Media is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/PrestaShopBundle/Twig/Component/Header.php

		-
			message: "#^Namespace Tools is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/PrestaShopBundle/Twig/Component/Header.php

		-
			message: "#^Class Link is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/MobileQuickAccess.php

		-
			message: "#^Namespace Link is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/MobileQuickAccess.php

		-
			message: "#^Class Link is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/NotificationsCenter.php

		-
			message: "#^Namespace Configuration is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 4
			path: src/PrestaShopBundle/Twig/Component/NotificationsCenter.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/PrestaShopBundle/Twig/Component/NotificationsCenter.php

		-
			message: "#^Namespace Link is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/NotificationsCenter.php

		-
			message: "#^Namespace Profile is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/PrestaShopBundle/Twig/Component/NotificationsCenter.php

		-
			message: "#^Class Link is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/QuickAccess.php

		-
			message: "#^Namespace Link is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/QuickAccess.php

		-
			message: "#^Class Link is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/SearchForm.php

		-
			message: "#^Namespace Link is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Twig/Component/SearchForm.php
