parameters:
	ignoreErrors:
		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 6
			path: src/Core/Addon/Module/ModuleManagerBuilder.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeManager.php

		-
			message: "#^Class Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeManager.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeManager.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeManager.php

		-
			message: "#^Class Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeManagerBuilder.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeManagerBuilder.php

		-
			message: "#^Class Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeManagerBuilder.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeManagerBuilder.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeManagerBuilder.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeManagerBuilder.php

		-
			message: "#^Class PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeRepository.php

		-
			message: "#^Class Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeRepository.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeRepository.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Addon/Theme/ThemeRepository.php

		-
			message: "#^Using _DB_PREFIX_ is forbidden, Use dependency injection instead$#"
			count: 1
			path: src/Core/Cart/CartRow.php

		-
			message: "#^Using _COOKIE_KEY_ is forbidden, Use dependency injection instead$#"
			count: 3
			path: src/Core/Crypto/Hashing.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/Core/Currency/CurrencyDataProviderInterface.php

		-
			message: "#^Class Customer is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 3
			path: src/Core/Domain/CustomerService/CommandHandler/AddOrderCustomerMessageHandler.php

		-
			message: "#^Namespace Customer is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/CommandHandler/AddOrderCustomerMessageHandler.php

		-
			message: "#^Class Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/CommandHandler/ForwardCustomerThreadHandler.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/CommandHandler/ForwardCustomerThreadHandler.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/CommandHandler/ForwardCustomerThreadHandler.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/CommandHandler/ForwardCustomerThreadHandler.php

		-
			message: "#^Using _DB_PREFIX_ is forbidden, Use dependency injection instead$#"
			count: 5
			path: src/Core/Domain/CustomerService/CommandHandler/ForwardCustomerThreadHandler.php

		-
			message: "#^Class Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/CommandHandler/ReplyToCustomerThreadHandler.php

		-
			message: "#^Class Customer is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/CommandHandler/ReplyToCustomerThreadHandler.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/CommandHandler/ReplyToCustomerThreadHandler.php

		-
			message: "#^Namespace Customer is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/CommandHandler/ReplyToCustomerThreadHandler.php

		-
			message: "#^Class Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/QueryHandler/GetCustomerThreadForViewingHandler.php

		-
			message: "#^Class Customer is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/QueryHandler/GetCustomerThreadForViewingHandler.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/QueryHandler/GetCustomerThreadForViewingHandler.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/QueryHandler/GetCustomerThreadForViewingHandler.php

		-
			message: "#^Namespace Customer is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/QueryHandler/GetCustomerThreadForViewingHandler.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Domain/CustomerService/QueryHandler/GetCustomerThreadForViewingHandler.php

		-
			message: "#^Using _THEME_PROD_PIC_DIR_ is forbidden, Use dependency injection instead$#"
			count: 1
			path: src/Core/Domain/CustomerService/QueryHandler/GetCustomerThreadForViewingHandler.php

		-
			message: "#^Using _THEME_PROD_PIC_DIR_ is forbidden, Use dependency injection instead$#"
			count: 1
			path: src/Core/Domain/Order/QueryResult/OrderProductCustomizationForViewing.php

		-
			message: "#^Class Customer is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Grid/Data/Factory/CustomerDiscountGridDataFactory.php

		-
			message: "#^Namespace Customer is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Grid/Data/Factory/CustomerDiscountGridDataFactory.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Grid/Data/Factory/LogDataFactory.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Grid/Data/Factory/LogDataFactory.php

		-
			message: "#^Class Customer is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Grid/Data/Factory/OutstandingGridDataFactory.php

		-
			message: "#^Namespace Customer is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Grid/Data/Factory/OutstandingGridDataFactory.php

		-
			message: "#^Using _DB_PREFIX_ is forbidden, Use dependency injection instead$#"
			count: 3
			path: src/Core/Grid/Query/CustomerThreadQueryBuilder.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/Core/Grid/Query/ProductCombinationQueryBuilder.php

		-
			message: "#^Class Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Module/HookRepository.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Module/HookRepository.php

		-
			message: "#^Class PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 2
			path: src/Core/Module/ModuleCollection.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/Core/Module/ModuleCollection.php

		-
			message: "#^Class Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Product/Search/ProductSearchContext.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Product/Search/ProductSearchContext.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/Core/Repository/AbstractMultiShopObjectModelRepository.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/Core/Repository/AbstractMultiShopObjectModelRepository.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/Core/Repository/AbstractObjectModelRepository.php

		-
			message: "#^Class PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 7
			path: src/Core/Shop/LogoUploader.php

		-
			message: "#^Class Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 9
			path: src/Core/Shop/LogoUploader.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/Core/Shop/LogoUploader.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/Core/Shop/LogoUploader.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 13
			path: src/Core/Shop/LogoUploader.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/Core/Stock/StockManager.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/Core/Stock/StockManager.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/Core/Stock/StockManager.php

		-
			message: "#^Class Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 3
			path: src/PrestaShopBundle/Bridge/AdminController/ControllerConfiguration.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Bridge/AdminController/ControllerConfiguration.php

		-
			message: "#^Class Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Bridge/AdminController/LegacyControllerBridge.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Bridge/AdminController/LegacyControllerBridge.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Bridge/AdminController/LegacyControllerBridge.php

		-
			message: "#^Using _PS_JS_DIR_ is forbidden, Use dependency injection instead$#"
			count: 10
			path: src/PrestaShopBundle/Bridge/AdminController/LegacyControllerBridge.php

		-
			message: "#^Using __PS_BASE_URI__ is forbidden, Use dependency injection instead$#"
			count: 18
			path: src/PrestaShopBundle/Bridge/AdminController/LegacyControllerBridge.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Bridge/AdminController/Listener/InitFrameworkBridgeControllerListener.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Bridge/Helper/Listing/FiltersProcessor.php

		-
			message: "#^Class PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 4
			path: src/PrestaShopBundle/Bridge/Helper/Listing/HelperBridge/HelperListBridge.php

		-
			message: "#^Class Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/PrestaShopBundle/Bridge/Helper/Listing/HelperBridge/HelperListBridge.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Bridge/Helper/Listing/HelperBridge/HelperListBridge.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/PrestaShopBundle/Bridge/Helper/Listing/HelperBridge/HelperListBridge.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 7
			path: src/PrestaShopBundle/Bridge/Helper/Listing/HelperBridge/HelperListBridge.php

		-
			message: "#^Using _DB_PREFIX_ is forbidden, Use dependency injection instead$#"
			count: 6
			path: src/PrestaShopBundle/Bridge/Helper/Listing/HelperBridge/HelperListBridge.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 3
			path: src/PrestaShopBundle/Bridge/Smarty/HeaderConfigurator.php

		-
			message: "#^Using _PS_IMG_ is forbidden, Use dependency injection instead$#"
			count: 1
			path: src/PrestaShopBundle/Bridge/Smarty/HeaderConfigurator.php

		-
			message: "#^Using __PS_BASE_URI__ is forbidden, Use dependency injection instead$#"
			count: 1
			path: src/PrestaShopBundle/Bridge/Smarty/ModalConfigurator.php

		-
			message: "#^Using __PS_BASE_URI__ is forbidden, Use dependency injection instead$#"
			count: 1
			path: src/PrestaShopBundle/Bridge/Smarty/SmartyBridge.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Command/AppendConfigurationFileHooksListCommand.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Command/AppendConfigurationFileHooksListCommand.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Command/AppendHooksListForSqlUpgradeFileCommand.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Command/AppendHooksListForSqlUpgradeFileCommand.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Command/GenerateMailTemplatesCommand.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Command/GenerateMailTemplatesCommand.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Command/ModuleCommand.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Command/ModuleCommand.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/PrestaShopBundle/Controller/Admin/CommonController.php

		-
			message: "#^Using _MAIL_DIR_ is forbidden, Use dependency injection instead$#"
			count: 2
			path: src/PrestaShopBundle/Controller/Admin/Configure/ShopParameters/OrderStateController.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/PrestaShopBundle/Controller/Admin/Improve/International/CountryController.php

		-
			message: "#^Using _DB_PREFIX_ is forbidden, Use dependency injection instead$#"
			count: 2
			path: src/PrestaShopBundle/Controller/Admin/Improve/ModuleController.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Controller/Api/TranslationController.php

		-
			message: "#^Using _THEME_COL_DIR_ is forbidden, Use dependency injection instead$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/AttributeRepository.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/CategoryRepository.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/CategoryRepository.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/FeatureAttributeRepository.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/FeatureAttributeRepository.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/ManufacturerRepository.php

		-
			message: "#^Class Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/StockManagementRepository.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/StockManagementRepository.php

		-
			message: "#^Class Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 2
			path: src/PrestaShopBundle/Entity/Repository/StockManagementRepository.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/StockManagementRepository.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/StockManagementRepository.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/StockManagementRepository.php

		-
			message: "#^Namespace Shop is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/Entity/Repository/SupplierRepository.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/EventListener/BackUrlRedirectResponseListener.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/EventListener/TokenizedUrlsListener.php

		-
			message: "#^Class Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/EventListener/UserLocaleListener.php

		-
			message: "#^Namespace Context is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/EventListener/UserLocaleListener.php

		-
			message: "#^Namespace Employee is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\.$#"
			count: 1
			path: src/PrestaShopBundle/EventListener/UserLocaleListener.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/PrestaShopBundle/Form/Admin/Configure/ShopParameters/TrafficSeo/Meta/MetaSettingsFormDataProvider.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/PrestaShopBundle/Form/Admin/Configure/ShopParameters/TrafficSeo/Meta/MetaSettingsShopUrlsFormDataProvider.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/PrestaShopBundle/Form/Admin/Configure/ShopParameters/TrafficSeo/Meta/MetaSettingsUrlSchemaFormDataProvider.php

		-
			message: "#^Namespace PrestaShopException is forbidden, No legacy calls inside the prestashop bundle\\. Please create an interface and an adapter if you need to\\. \\[PrestaShopException matches PrestashopException\\]$#"
			count: 1
			path: src/PrestaShopBundle/Install/Install.php

		-
			message: "#^Using _DB_PREFIX_ is forbidden, Use dependency injection instead$#"
			count: 2
			path: src/PrestaShopBundle/Translation/Loader/SqlTranslationLoader.php
