<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ogone</name>
	<displayName><![CDATA[Ogone]]></displayName>
	<version><![CDATA[2.2]]></version>
	<description><![CDATA[]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>