{% extends '@MailThemes/classic/components/layout.html.twig' %}

{% block content %}
<tr>
  <td align="center" class="titleblock">
    <span class="title">{{ 'Hello'|trans({}, 'Emails.Body', locale)|raw }}</span>
  </td>
</tr>
<tr>
  <td class="space_footer">&nbsp;</td>
</tr>
<tr>
  <td class="linkbelow">
    <span>
      {{ 'This is a [1]test e-mail[/1] from your shop.'|trans({'[1]': '<span><strong>', '[/1]': '</strong></span>'}, 'Emails.Body', locale)|raw }}.
      <br/><br/>
      {{ 'If you can read this, the test was successful!'|trans({}, 'Emails.Body', locale)|raw }}.
    </span>
  </td>
</tr>
{% endblock %}
