/* Block supplier */
.blocksupplier li {border-bottom:1px dotted #ccc}
.blocksupplier li.last {	border:none;}
	.blocksupplier li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
		background:url(img/arrow_right_2.png) no-repeat 10px 10px transparent
	}


.blocksupplier form {margin-top:10px;}
.blocksupplier p {
	padding:0;
	text-align:center
}

