#translations_form 
	.translations-email-panel
		margin: 0 0 8px 20px
		padding: 8px 12px
	.block-mail
		iframe, textarea, .rce, .source-code
			width: 100%
			height: 500px
	.panel-group
		display: none
	.mails_field h4
		padding-top: 15px