#header_infos
	@extend .navbar
	@extend .navbar-inverse
	@extend .navbar-fixed-top
	background-color: $bg-header-color
#header_shopname
	@extend .navbar-brand
	font: 300 1.3em/100% $headings-font-family
	position: relative
	padding: 0 0 0 45px
	margin: 0 20px 0 0
	height: 37px
	line-height: 37px
	img
		position: absolute
		top: 0
		left: 0
		width: 37px
		height: 37px
#header_notifs_icon_wrapper
	@extend .hidden-xs
	@extend .nav
	@extend .navbar-nav
	li a
		padding: 9px 5px
	> li > a > i
		font-size: 1.4em
		color: white
		vertical-align: middle
	.notifs_badge
		@extend .badge
		background-color: $badge-notif-color
	.notifs_dropdown
		background-color: transparent
		border: none
		box-shadow: none
	.notifs_panel
		@extend .panel
		@extend .panel-default
		width: 300px
		@include box-shadow(rgba(black,0.5) 2px 2px 8px)
		.notifs_panel_header
			@extend .panel-heading
			h3
				padding: 0
				font-size: 1.3em
				margin: 0
		.notifs_panel_footer
			@extend .panel-footer

#header_nav_toggle
	background-color: black
	border: none
	color: white
	display: none
#header_employee_box
	@extend .nav
	@extend .navbar-nav
	@extend .navbar-right
	a img
		margin-right: 5px
	#header_foaccess i
		font-size: 1.2em
#header_search
	@extend .navbar-form
	@extend .navbar-left
	width: 160px
	padding: 0 0 0 10px
	position: relative
	@media (max-width: $screen-tablet)
		width: 100%
	input, .form-group
		margin: 0
	.form-group.focus-search
		position: absolute
		z-index: 900
		top: 0
		left: 10px
		width: 400px

#employee_infos
	
.employee_name
	position: relative
	padding-left: 34px!important

.employee_avatar_small
	height: 30px
	width: 30px
	display: inline-block
	position: absolute
	top: 4px
	left: 0
	img
		width: 100%
		height: 100%
		@include border-radius(30px)

.employee_avatar
	height: 100px
	width: 100px
	display: block
	margin: 10px auto 10px auto
	overflow: hidden
	@include border-radius(120px)
	@include box-shadow(white 0 0 0 2px, #ccc 0 0 10px 3px)
	img
		width: 100%
		height: 100%
		


#header_quick
	@extend .nav
	@extend .navbar-nav
	@extend .navbar-left