#footer
	z-index: 600
	display: block
	width: 100%
	background-color: rgba($bg-footer-color,0.85)
	color: #888
	position: fixed
	bottom: 0
	height: 50px
	line-height: 50px
	a
		color: #ccc
	#go-top
		position: fixed
		bottom: 10px
		height: 30px
		width: 30px
		text-align: center
		line-height: 30px
		right: 10px
		z-index: 9003
		display: block
		padding: 0px 6px 0px 6px
		margin: -2px 0px 0px
		text-decoration: none
		color: #fff
		cursor: pointer
		font-size: 16px
		background-color: rgba(0,0,0,0.5)
		&:hover
			background-color: black
	.social-networks
		margin: 4px 0 0 0

a.link-social
	i
		font-size: 2em
		width: 30px
		height: 30px
		display: inline-block
		line-height: 30px
		text-align: center
		@include border-radius(30px)
	&:hover
		text-decoration: none

.link-twitter i
	color: white
	background-color: #7CCEEF
	&:hover
		color: #7CCEEF
		background-color: white
.link-facebook i
	color: white
	background-color: #557DBB
	&:hover
		color: #557DBB
		background-color: white
.link-github i
	color: black
	background-color: white
	&:hover
		color: white
		background-color: black
.link-google i
	color: white
	background-color: #E6644E
	&:hover
		color: #E6644E
		background-color: white