<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pagesnotfound</name>
	<displayName>Pages not found</displayName>
	<version>1</version>
	<description>Display the pages requested by your visitors but not found.</description>
	<author>PrestaShop</author>
	<tab>analytics_stats</tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
</module>