<div id="recommended_module_{{ domain }}">
    {% for module in modules %}
        <!-- loop over 'modules' and include module card template in the loop. Fix URLs and button click events! -->
    {% else %}
        <!-- Fallback when Add-ons not reached: Static image with link -->
    {% endfor %}
</div>
