<div id="recommended_module_{{ domain }}">
    {% for module in modules %}
        {% include 'PrestaShopBundle:Admin/Module/_partials:_modules_card.html.twig'
            with {
                'module': module,
                'display_type': 'grid',
                'col_lg': 'col-lg-12'
            }
        %}
    {% else %}
        <!-- Fallback when Add-ons not reached: Static image with link -->
    {% endfor %}
</div>
