// Make sure the charset is set appropriately
@charset "UTF-8"

@import "modules/colors"
$fa-font-path: "../../fonts"

//theme lightness
$main-color: #323A46
$primary-color: #FA6A49
$secondary-color: #00B0D3

$bg-content-color: #F9FAFD

@import "admin-theme"