
// Colors

$gray-dark-text: #bebebe;
$gray-dark-title: #bbcdd1;
$gray-dark-hover: #282b30;
$background-grey: #eaebec;
$gray-dark-text-hover: #ffffff;
$color-separator: #dfdfdf;

// Sizes

$size-navbar-width: 13.13rem;
$size-navbar-width-mini: 3.125rem;
$size-navbar-link-height: 1.75rem;
$size-header-height: 2.5rem;
$size-header-toolbar-height: 6.25rem;

// Imported from bootstrap

$grid-gutter-width: 1.875rem !default;

$border-radius: .25rem !default;

$font-size-base: $font-size-n;
