
// Colors

$color-white: #ffffff;
$color-text: #363a41;
$color-background: #eaebec;
$color-navbar: #363a41;
$color-navbar-text: #bebebe;
$color-navbar-title: #bbcdd1;
$color-navbar-hover: #282b30;
$color-navbar-text-hover: #ffffff;

// Sizes

$size-navbar-width: 210px;
$size-navbar-link-height: 28px;
$size-header-height: 35px;

