<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>vatnumber</name>
            <displayName><![CDATA[European VAT number]]></displayName>
            <version><![CDATA[1.2]]></version>
            <description><![CDATA[Enable entering of the VAT intra-community number when creating the address (You must fill in the company field to allow keyboarding VAT number)]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[billing_invoicing]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>