<phpunit
  backupGlobals               = "false"
  backupStaticAttributes      = "false"
  colors                      = "true"
  convertErrorsToExceptions   = "true"
  convertNoticesToExceptions  = "true"
  convertWarningsToExceptions = "true"
  processIsolation            = "true"
  stopOnFailure               = "false"
  syntaxCheck                 = "true"
  bootstrap                   =" bootstrap.php"
>
    <php>
        <server name="KERNEL_DIR" value="app/" />
        <env name="SYMFONY_ENV" value="test"/>
        <env name="kernel.environment" value="test" />
        <const name="_PS_IN_TEST_" value="1" />
    </php>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration tests">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
