<phpunit bootstrap="bootstrap.php">
    <groups>
        <exclude>
            <group>admin</group>
        </exclude>
    </groups>
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
