
{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <h2>{{ 'Hello World'|trans({}, 'Modules.Translationtest.Translationtest') }}</h2>

        </div>
    </div>
{% endblock %}
