<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>gadsense</name>
	<displayName>Google Adsense</displayName>
	<version>1.1</version>
	<description>Integrate Google Adsense script into your shop</description>
	<author>PrestaShop</author>
	<tab>advertising_marketing</tab>
	<confirmUninstall>Are you sure you want to delete your details ?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>