<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>canadapost</name>
	<displayName><![CDATA[Canada Post Carrier]]></displayName>
	<version><![CDATA[0.5]]></version>
	<description><![CDATA[Offer your customers, different delivery methods with Canada Post]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries>ca</limited_countries>
</module>