.content-div {
  // stylelint-disable
  padding-top:
    $size-header-height + $size-header-toolbar-height +
    ($grid-gutter-width / 2);
  // stylelint-enable
  padding-right: $grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width / 2;
  padding-left: $size-navbar-width + ($grid-gutter-width / 2);

  @include transition(
    padding 0.5s ease
  ); // transition when collapsing the nav menu

  // with hidden navbar
  @include media-breakpoint-down(md) {
    padding-left: $grid-gutter-width / 2;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 10.4rem;
    padding-right: 1rem;
    padding-left: 1rem;

    .container {
      padding: 0;
    }
  }

  &.-notoolbar {
    padding-top: $size-header-height + $grid-gutter-width / 2;
  }

  &.with-tabs {
    // stylelint-disable
    padding-top:
      $size-header-height + $size-header-toolbar-height +
      $grid-gutter-width + 2.5rem;
    // stylelint-enable
  }
}

.page-sidebar-closed:not(.mobile) {
  .content-div {
    padding-left: $size-navbar-width-mini + ($grid-gutter-width / 2);
  }
}

.mobile {
  .content-div {
    padding-bottom: 5rem;
  }
}
