// stylelint-disable-next-line
$component-name: component-search;

.main-header {
  .#{$component-name} {
    @include media-breakpoint-down("md") {
      &#header-search-container.active {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        display: block;
        width: 100%;
        height: auto;
        margin-left: 0;

        .#{$component-name}-body {
          padding: 0.25rem 0;
          background: $white;
          @include border-bottom-left-radius(7px);
          @include border-bottom-right-radius(7px);
        }

        .#{$component-name}-top {
          display: flex;
          align-items: center;
          padding-left: 1rem;
        }

        form {
          width: 100%;
          max-width: 100%;
        }

        input:focus {
          border: 1px solid $primary;
        }

        .dropdown-item {
          padding: 0.5rem 1rem;
        }
      }
    }

    &-background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 150vw;
      height: 150vh;
      background: rgba($black, 0.8);
    }

    &-cancel {
      padding: 0.75rem 1rem;
      font-size: 1rem;
      font-weight: 500;
      color: $gray-450;
      background: inherit;
      border: 0;
    }

    .dropdown-item {
      color: $gray-700;

      i {
        margin-right: 0.75rem;
        color: $gray-500;
      }
    }

    .dropdown-divider {
      margin: 0 1rem;
    }

    &-title {
      padding: 0.5rem 1rem;
      margin-bottom: 0;
      font-size: 0.75rem;
      color: $gray-500;
      text-transform: uppercase;
    }
  }
}
