.header-toolbar {
  position: fixed;
  background: #ffffff;
  top: $size-header-height;
  left: $size-navbar-width;
  height: $size-header-toolbar-height;
  right: 0;
  z-index: 501;
  border-bottom: 0.0625rem solid $color-separator;

  @include media-breakpoint-down(md) {
    left: 0;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0.3rem;
    top: 3.5rem;
  }

  > .title {
    padding: 0.3125rem;
    font-size: 1.625rem;
    font-weight: normal;
    margin-left: .938rem;
    margin-bottom: .313rem;
  }

  > .breadcrumb {
    margin: 0 0 0 .938rem;
  }
}

.toolbar-icons {
  position: absolute;
  top: 1.25rem;
  right: 0.625rem;
  display: flex;
  align-items: center;
}

.page-head-tabs {

  background: #fff;

  .tab {
    .notification-container {
      @include notification_container(1.5rem);

      .notification-counter {
        @include notification_counter();
        top: -0.063rem;
        right: initial;
      }
    }
  }

}

.page-sidebar-closed:not(.mobile) {
  .header-toolbar {
    left: $size-navbar-width-mini;
  }
}
