$header-text-color: #4e6167 !default;

.main-header {
  position: fixed;
  z-index: 1040; // modal backdrop's z-index is 1050, so this must be just below that
  display: flex;
  align-items: stretch;
  width: 100%;
  height: $size-header-height;
  font-size: 0.8125rem;
  color: $header-text-color;
  background: $white;

  .header-right {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  .material-icons {
    position: relative;
  }

  .mobile & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $size-header-height + ($header-mobile-padding-y / 3);
    padding: 0;

    > .component {
      margin-right: 0;
    }

    .notification-center {
      .dropdown-toggle {
        position: relative;
      }

      @include media-breakpoint-down("sm") {
        position: inherit;
        padding: 0 5px;
        margin: -15px 0;
      }

      .dropdown-menu {
        @include media-breakpoint-down("sm") {
          /* stylelint-disable */
          min-width: 21rem;
          /* stylelint-enable */

          .notifications {
            min-width: auto;

            .tab-content {
              border-top: 0;
            }

            .nav {
              .nav-link {
                font-size: 1rem;

                &.active {
                  color: $gray-dark;
                  background: #f4fcfd;
                }
              }
            }

            &::before,
            &::after {
              content: none;
            }
          }
        }
      }
    }

    > .material-icons:not(.js-mobile-menu) {
      padding-top: 0.625rem;
      font-size: 1.313rem;
    }
  }

  > .logo {
    width: 13.13rem;
    height: 100%;
    background: url("img/logo.png") no-repeat center left;

    @include media-breakpoint-down(md) {
      display: none;
    }

    .mobile & {
      flex-grow: 1;
      width: 0;
      min-width: 172px;
      margin-left: -15px;
    }
  }

  #shop_version {
    position: absolute;
    top: 0.9375rem;
    left: 11.25rem;
    font-size: 0.625rem;

    // hide if viewport <= tablet portrait size
    @include media-breakpoint-down("md") {
      display: none;
    }
  }

  .ajax-spinner {
    position: absolute;
    top: 5px;
    left: 0;
    width: 30px;
    height: 30px;
    margin-left: 0;
  }

  #quick-access-container {
    height: 100%; // needed to make the drop-down appear at the correct position

    // hide if viewport <= tablet portrait size
    @include media-breakpoint-down("md") {
      display: none;
    }

    #quick_select {
      height: 100%;
      color: $header-text-color;
      text-decoration: none;
      letter-spacing: normal;
      font: {
        weight: normal;
        size: 0.8125rem;
      }

      &:hover {
        @extend #quick_select;
        color: $primary;
      }

      &::after {
        margin-left: -0.313rem;
      }
    }
  }

  #header-shop-list-container {
    @include media-breakpoint-down("sm") {
      margin-right: 0;
    }
  }

  #header-search-container {
    flex-grow: 1;
    padding-left: 0;

    // hide on very small screens
    @include media-breakpoint-down("sm") {
      width: 100%;

      form {
        &.collapsed {
          width: 100%;
          max-width: 9rem;

          input#bo_query {
            height: 100%;
            min-height: auto;
            // stylelint-disable-next-line
            border-radius: 4px!important;
          }
        }

        &.expanded {
          input#bo_query {
            height: 100%;
            min-height: auto;
            // stylelint-disable-next-line
            border-radius: 4px!important;
          }
        }

        .input-group-append {
          display: none;
        }
      }
    }

    form {
      width: 100%; // needed for transition
      height: 1.875rem; // necessary because of elements stretching vertically
      @include transition(width 0.5s ease-in-out);

      .btn {
        opacity: 1;
        @include transition(all 0.5s);
      }

      .input-group-append {
        .btn:first-of-type {
          @include border-radius(0);
        }
      }

      // behavior when the search form is collapsed
      &.collapsed {
        width: 15.625rem;

        input#bo_query {
          padding-left: 2rem; // leave out space for the loupe
          @include border-radius(0.983rem);
        }

        .input-group {
          // loupe icon
          &::before {
            margin-top: -(1.25rem / 2);
            font-size: 1.25rem;
            opacity: 1;
          }
        }

        .btn {
          width: 0;
          height: 0;
          padding: 0;
          overflow: hidden;
          border: 0;
          // we can't use display:none or else the transition doesn't work
          opacity: 0;
        }
      }
    }

    // search input
    input#bo_query {
      font-size: 0.75rem;
      border: 1px solid #bbcdd2;
      @include border-left-radius(0.983rem);
      @include transition(padding-left 0.5s);
      padding: {
        top: 0.375rem;
        bottom: 0.375rem;
      }

      &::placeholder {
        font-style: italic;
        color: $medium-gray;
      }
    }

    .input-group {
      // loupe icon (hidden by default)
      &::before {
        @extend .material-icons;
        position: absolute;
        top: 50%;
        left: 0.563rem;
        z-index: 5;
        font-size: 0;
        content: "search";
        opacity: 0;
        @include transition(all 0.5s);
      }

      button:not(:first-of-type) {
        margin-left: -1px; // collapse borders
      }
    }

    .btn,
    .btn-primary {
      font: {
        size: 0.75rem;
        weight: normal;
      }
      padding: 0.313rem 0.625rem;
      color: $medium-gray;
      text-transform: none;
      letter-spacing: normal;
      background-color: #fafbfc;
      border: 1px solid #bbcdd2;

      &:hover {
        background-color: #eff1f2;
      }

      &:active,
      &:focus {
        box-shadow: none;
      }
    }

    // search button
    .btn-primary {
      border: {
        top-right-radius: 0.983rem;
        bottom-right-radius: 0.983rem;
      }
      padding: {
        right: 1rem;
        left: 1rem;
      }
    }

    .show > .btn-outline-secondary.dropdown-toggle {
      box-shadow: none;
    }
  }

  #quick-access-container,
  #header-search-container {
    .dropdown-toggle {
      &::after {
        font-size: 1.6em; // use of em so that the size is relative to the component's font size
        content: "arrow_drop_down";
      }
    }

    .dropdown-menu {
      font: {
        size: 0.75rem;
      }
      min-width: 15.625rem;
      padding: 0.313rem 0;
      color: $gray-dark;

      .material-icons {
        padding-right: 0.5rem;
        color: $medium-gray;
        vertical-align: text-bottom;
      }

      > a {
        padding: 0.438rem 0.938rem {
          right: 1.5rem;
        }
        color: inherit;
        border-bottom: 0;

        &:hover {
          color: $white;
          background-color: $primary;

          .material-icons {
            color: $white;
          }
        }
      }

      > .dropdown-divider {
        margin: 0.313rem 0;
      }
    }
  }

  .component {
    display: flex;
    align-items: center;
    height: 100%;

    margin: {
      right: 0.5rem;
      left: 0.5rem;
    }

    // hide on very small screens
    &.hide-mobile-sm {
      @media (max-width: breakpoint-max("sm")) {
        display: none;
      }
    }

    &.header-right-component {
      margin: {
        right: 0.3125rem;
        left: 0.3125rem;
      }
    }

    @include media-breakpoint-down("sm") {
      &.gamification-component {
        // stylelint-disable-next-line
        display: none !important;
      }

      &.header-right-component,
      &#header-employee-container {
        margin: -0.6rem 0;

        .dropdown {
          position: inherit;
          border-bottom: 2px solid transparent;
          @include transition(0.25s ease-out);
          @include border-radius(0);
        }

        [data-toggle="dropdown"] {
          padding: 0 0.5rem;
          margin: 0;
        }

        > .show {
          &::before {
            pointer-events: all;
            opacity: 1;
          }

          &.dropdown {
            border-bottom: 2px solid $primary;
          }

          [data-toggle="dropdown"] {
            margin: 0;

            i {
              color: $primary;
            }
          }
        }

        > div {
          height: 100%;

          &::before {
            position: fixed;
            top: 5rem;
            left: 0;
            width: 100vw;
            height: 100vh;
            pointer-events: none;
            content: "";
            background: rgba(0, 0, 0, 0.8);
            opacity: 0;
          }

          > button {
            height: 100%;
          }
        }

        .dropdown-menu {
          /* stylelint-disable */
          top: 100% !important;
          left: 0 !important;
          width: 100%;
          height: auto !important;
          overflow: hidden;
          border: none;
          border-top: 1px solid #eaebec;
          box-shadow: 0 8px 16px 0 rgba($black, 0.1);
          @include border-radius(5px);
          transform: inherit !important;
          /* stylelint-enable */
        }
      }
    }

    > .stores .ps-dropdown-menu {
      right: 0;
      left: auto;
    }
  }

  // Shop state / Maintenance / Debug / View my shop
  .shop-state,
  .shop-list > .link {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.8125rem;
    color: $header-text-color;
    white-space: nowrap;

    @media (max-width: breakpoint-max("sm")) {
      font-size: 0;
    }

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  .shop-state {
    .material-icons {
      font-size: 1.25rem;
      color: $medium-gray;
      padding: {
        right: 0.3125rem;
      }
    }

    // hide label if width <= tablet landscape size
    @media (max-width: breakpoint-max("lg")) {
      span {
        display: none;
      }
    }
  }

  .shop-list {
    > .link {
      > .material-icons {
        padding-right: 0.3125rem;
        font-size: 1.25rem;
        color: $medium-gray;
      }

      &:hover {
        .material-icons {
          color: $primary;
        }
      }
    }
  }

  #header-employee-container {
    margin-right: 0.3125rem;
  }

  #header-notification-container {
    min-width: $size-header-height;
  }
}

// multishop
#shop-list {
  > .btn {
    padding: 0;
    font-weight: 400;
    color: $header-text-color;
    text-decoration: none;

    .selected-item {
      font-size: 0.8125rem;
      line-height: 17px;

      .material-icons {
        top: -1px;
        font-size: 1.25rem;

        &.visibility {
          color: $medium-gray;
          @include transition(0.25s ease-out);
        }
      }

      @media (max-width: breakpoint-max("lg")) {
        font-size: 0;

        .arrow-down {
          display: none;
        }
      }
    }

    &:hover {
      color: $primary;

      .selected-item {
        .material-icons {
          &.visibility {
            color: $primary;
          }
        }
      }
    }
  }

  &.show {
    .selected-item {
      color: $primary;

      .material-icons.visibility {
        color: $primary;
      }
    }
  }

  .dropdown-menu {
    /* stylelint-disable-next-line declaration-no-important */
    min-width: 17.75rem !important;
    padding: 0;
    margin: 0;
    font-size: 13px;
    border: 1px solid #bbcdd2;
    @include border-radius(0);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    .items-list {
      max-height: 500px;
      padding-left: 0;
      margin: 20px;
      overflow-y: auto;
      list-style: none;

      a {
        color: $header-text-color;
      }

      li:first-child a {
        padding-left: 0;
        font-size: 0.875rem;
        font-weight: 600;
        color: $brand-info;

        &:hover {
          cursor: pointer;
        }
      }

      li:not(:first-child) {
        line-height: 32px;

        a:not(.link-shop) {
          display: inline-block;
          width: inherit;
          padding-top: 0.3125rem;
          padding-bottom: 0.3125rem;
        }
      }

      .group {
        a {
          padding-left: 0.625rem;
        }
      }

      .shop {
        display: flex;

        a {
          justify-content: space-between;
          padding-left: 1.5625rem;
          font-weight: 600;
        }

        a.disabled {
          cursor: not-allowed;
        }

        a.link-shop {
          float: right;
          padding-top: 3px;
          padding-right: 10px;
          padding-left: inherit;
          margin-left: auto;
          text-decoration: none;

          i.material-icons {
            width: inherit;
            height: inherit;
            padding: 0.125rem 0.625em;
            font-size: 1.25rem;
            color: $gray-medium;
            cursor: pointer;
            border: solid 1px $gray-light;
            @include border-radius(0.0625rem);
          }
        }
      }

      .material-icons {
        margin-right: 0.625rem;
        vertical-align: middle;
      }

      li {
        &.active,
        &:hover {
          /* stylelint-disable declaration-no-important */
          a {
            color: $header-text-color !important;
            background: none;
          }

          i.material-icons {
            color: $brand-info !important;
            border: solid 1px $brand-info !important;
          }
          /* stylelint-enable declaration-no-important */
        }
      }
    }
  }

  .selected-item {
    vertical-align: middle;
    cursor: pointer;

    .material-icons {
      vertical-align: middle;
    }

    .arrow-down {
      top: 0;
      left: 0;
      font-size: 1.25rem;
    }
  }

  .dropdown-item {
    justify-content: flex-start;
    margin: 0;
  }
}

.employee-dropdown {
  > .person {
    margin-right: 0.625rem;
    cursor: pointer;

    .material-icons {
      font-size: 1.375rem;
      color: $gray-medium;
      vertical-align: bottom;
    }
  }

  .dropdown-menu {
    /* stylelint-disable declaration-no-important */
    top: 0.9rem !important;
    left: 0.3rem !important;
    /* stylelint-enable declaration-no-important */

    min-width: 17.5rem;
    margin: 0;

    hr {
      border-top-width: 2px;
    }

    .divider {
      width: 90%;
      margin: 5px auto;
      clear: both;
      border: 1px solid $gray-dark-divider;
    }

    a {
      &.dropdown-item {
        margin: 10px 0;

        &:hover {
          color: #fff;
          background-color: #25b9d7;
        }
      }

      &.admin-link {
        color: #576c72;
        background-color: inherit;
        border: 1px solid #899ea5;
        @include border-radius(1px);

        &:hover {
          color: $primary;
          border-color: $primary;

          .material-icons {
            color: $primary;
          }
        }
      }

      &:hover {
        .material-icons {
          color: $dropdown-link-hover-bg;
        }
      }
    }

    .employee-avatar {
      padding: 0.687rem 0 1rem;
      margin-bottom: 0.46875rem;
      font-weight: 600;
      text-align: center;
    }

    .profile-link.dropdown-item {
      display: table;
      width: auto;
      min-width: 130px;
      margin: 0 auto;
      color: #576c72;
      border: 1px solid #899ea5;
      @include border-radius(1px);

      &:active,
      &:hover {
        color: $primary;
        background-color: inherit;
        border-color: $primary;

        .material-icons {
          color: $primary;
        }
      }
    }

    .employee_profile {
      display: inline-block;
      max-width: 120px;
      margin-left: 20px;
      font-weight: 600;
      text-align: left;
    }

    .employee-wrapper {
      &-avatar {
        float: left;
        margin: 20px;
      }

      &-profile {
        display: inline-block;
        max-width: 130px;
        margin: 0 0 12.5px;
        text-align: right;
      }
    }

    &::after {
      position: absolute;
      top: -6px;
      right: 10px;
      display: inline-block;
      content: "";
      border-right: 6px solid transparent;
      border-bottom: 6px solid $white;
      border-left: 6px solid transparent;
    }

    &::before {
      position: absolute;
      top: -7px;
      right: 9px;
      display: inline-block;
      content: "";
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      border-left: 7px solid transparent;
    }

    .avatar {
      width: 3.8rem;
      height: 3.8rem;
      margin-bottom: 0.3125rem;
      cursor: pointer;
    }

    .material-icons {
      font-size: 1.5rem;
      color: $gray-medium;
      vertical-align: middle;
    }

    .employee-link {
      &#header_logout {
        margin: 10px 0;
        color: $medium-gray;

        &:hover {
          color: $primary;
          background-color: inherit;
        }
      }
    }
  }

  @include media-breakpoint-down("sm") {
    display: flex;
    align-items: center;
    justify-content: center;

    .dropdown-menu {
      padding: 0.75rem 1.25rem;
      overflow: inherit;

      &::before {
        content: none;
      }

      .divider {
        width: 100%;
        margin: 0.5rem auto;
      }

      .employee-wrapper-avatar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        float: initial;
        width: 100%;
        margin: 0;

        .employee-link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 0.5rem 1rem;
          @include border-radius(4px);
        }
      }

      .employee_profile {
        max-width: inherit;
        font-size: 1rem;
        font-weight: 500;
        color: $gray-dark;
      }

      .employee-avatar {
        padding: 0;
        margin: 0;
      }

      a.dropdown-item {
        width: calc(100% + 2.5rem);
        padding: 0.75rem 1.25rem;
        margin: 0 -1.25rem;
        color: $gray-dark;

        &:active,
        &:hover,
        &:focus {
          // stylelint-disable-next-line
          background-color: $primary !important;

          &,
          i {
            // stylelint-disable-next-line
            color: $white !important;
          }
        }

        i {
          color: $medium-gray;
        }
      }

      #header_logout {
        padding: 0.5rem 0;
        // stylelint-disable-next-line
        margin: 10px -1.25rem !important;

        &:hover,
        &:active,
        &:focus {
          // stylelint-disable-next-line
          background-color: $danger !important;

          &,
          i {
            // stylelint-disable-next-line
            color: $white !important;
          }
        }

        &,
        i {
          color: $danger;
        }
      }
    }
  }
}
