#header_infos {
  .js-mobile-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    float: left;
    padding-top: 0;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    font-size: 1.8rem;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      display: inline-flex;
    }
  }
}

.nav-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: $size-navbar-width;
  height: 100%;
  margin-top: $size-header-height;
  background: $sidebar-background-color;
  @include transition(all 0.5s ease-out);

  .logo-container {
    display: none;
  }

  &-overflow {
    height: 100%;
    overflow: hidden;
  }

  .material-icons {
    font-size: 1.188rem;
    line-height: inherit;
    color: $white;

    &.close-btn {
      font-size: 1.5rem;
      line-height: 1;
    }
  }

  &.mobile-nav {
    z-index: 2000;
    width: 80%;
    margin-top: 0;
    margin-left: -100%;

    .employee-top {
      display: flex;
      align-items: center;
      padding: 0 1rem;

      .employee-avatar {
        padding-top: 0;

        img {
          width: 2.5rem;
          height: 2.5rem;
          margin-right: 1rem;
          margin-bottom: 0;
        }
      }

      span {
        font-size: 1rem;
        color: $white;
      }
    }

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.875rem;
      border-bottom: 1px solid $gray-dark-text;

      .logo {
        width: 8rem;
        height: 1.25rem;
        background: url("@images/ps-logo-white.svg") no-repeat;
        background-size: contain;
      }

      .header-version {
        margin-left: 0.75rem;
        font-size: 1rem;
        color: $white;
      }
    }

    &::before {
      position: fixed;
      top: 5rem;
      left: 75%;
      display: none;
      font-family: "Material Icons", sans-serif;
      font-size: 1.5rem;
      color: $white;
      pointer-events: none;
      content: "\e5cd";

      @at-root .expanded & {
        display: block;
      }

      @include media-breakpoint-only(md) {
        left: 50%;
      }
    }

    @include media-breakpoint-only(sm) {
      width: 60%;
    }

    @include media-breakpoint-only(md) {
      width: 40%;
    }

    &.expanded {
      display: block;
      margin-left: 0;
    }

    .onboarding-navbar {
      display: none;
    }

    .panel-collapse {
      padding-left: 0;

      .link-leveltwo .link {
        padding-left: 0.75rem;

        @include media-breakpoint-down(md) {
          padding-left: 0.35rem;
        }
      }
    }

    .employee-avatar {
      padding-top: 1rem;
      text-align: center;
      text-decoration: none;

      .material-icons {
        font-size: 3.75rem;
        line-height: 3.75rem;

        @include media-breakpoint-down(md) {
          font-size: 4.6875rem;
          line-height: 4.6875rem;
        }
      }

      span {
        display: block;
        margin-bottom: 0.625rem;
        color: $white;

        @include media-breakpoint-down(md) {
          font-size: 1.09375rem;
        }
      }

      img {
        width: 3.75rem;
        height: 3.75rem;
        margin-bottom: 0.625rem;

        &.img-thumbnail {
          @include border-radius(36px);
        }
      }
    }

    .shop-list {
      padding-bottom: 1rem;
      font-weight: 600;
      text-align: center;

      a {
        @include media-breakpoint-down(md) {
          font-size: 1.09375rem;
        }
      }
    }

    .main-menu {
      margin-top: 0.625rem;

      > li:first-child {
        padding: 1rem 0;
      }
    }

    .shop-list-title {
      margin-bottom: 0.9375rem;
      font-size: 1rem;
      color: $brand-primary;
      text-align: center;
      text-transform: uppercase;

      &::after {
        margin-left: 0.625rem;
        font-family: "Material Icons", Arial, Helvetica, sans-serif;
        font-size: 1.25rem;
        line-height: 1.375rem;
        vertical-align: bottom;
        content: "\E313";
      }
    }

    .items-list {
      padding-left: 0;

      a:focus {
        background-color: transparent;
      }

      li {
        background-color: $white;
        border-bottom: $gray-light 1px solid;

        &.group a {
          padding: 0.9375rem 2.5rem;
          font-weight: 700;
        }

        &.shop {
          padding: 0.9375rem 0.9375rem 0.9375rem 2.5rem;

          a {
            display: inline-block;
            width: auto;

            &.link-shop {
              float: right;

              .material-icons {
                font-size: 1.25rem;
                color: $gray-medium;
              }
            }
          }
        }
      }

      li:first-child a {
        padding: 0.9375rem 1.25rem;
        font-size: 0.9375rem;
        color: $brand-primary;
        text-transform: uppercase;
      }
    }
  }

  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: inherit;
  }
}

.main-menu {
  padding: 0 0 10.825rem;
  margin: 0;

  @include media-breakpoint-down(md) {
    padding: 0 0 4.5rem;
  }

  &.sidebar-closed {
    .link-levelone {
      .link > span {
        display: none;
      }

      &.open {
        > .submenu {
          display: none;
        }
      }
    }
  }

  .category-title > .title {
    text-transform: uppercase;
  }

  .link-levelone {
    $padding-size: 1.25rem;
    display: block;

    #header_logout {
      margin-top: 2rem;
      color: $sidebar-logout-color;

      i {
        line-height: 1.375rem;
        color: $sidebar-logout-color;
      }

      &:hover {
        background-color: transparent;
      }
    }

    &[data-submenu] {
      @include media-breakpoint-down(md) {
        a.link {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          font-size: 1rem;
          line-height: 1.428rem;

          .material-icons {
            margin-top: 0.1rem;
            font-size: 1.25rem;
            line-height: 1.4rem;

            &.sub-tabs-arrow {
              padding-right: 1.2rem;
            }
          }
        }
      }

      &.has_submenu {
        @include media-breakpoint-down(md) {
          .sub-tabs-arrow {
            visibility: visible;
          }
        }
      }
    }

    &.link-active {
      @include media-breakpoint-down(md) {
        border-right: none;
      }

      > .link {
        padding-left: 0.688rem;
        border-left: 0.25rem solid $sidebar-active-icon-color;

        .material-icons {
          &:first-child {
            color: $sidebar-active-icon-color;
          }
        }
      }
    }

    &:not(#subtab-AdminParentModulesSf) {
      i.material-icons.mi-extension {
        color: $gray-500;
      }
    }

    > .link {
      display: flex;
      align-items: center;
      height: initial;
      padding: 0.5rem 0.3125rem 0.5rem 0.938rem;
      overflow: hidden;
      font-size: 0.75rem;
      line-height: 1rem;
      color: $sidebar-primary-link-color;
      text-decoration: none;
      text-overflow: initial;
      word-break: break-word;
      white-space: initial;
      @include media-breakpoint-down(md) {
        font-size: 1rem;
      }

      span {
        padding-left: 0.625rem;
      }

      .sub-tabs-arrow {
        margin-left: auto;
        line-height: inherit;
        color: $sidebar-primary-link-color;
        vertical-align: middle;
        visibility: hidden;
      }
    }

    &.ul-open,
    &.link-active,
    &.link-hover {
      > .link {
        color: $sidebar-primary-link-color;
        background: $sidebar-active-background-color;
        @include transition(background 300ms ease);
      }

      &.has_submenu {
        .link {
          .sub-tabs-arrow {
            visibility: visible;
          }
        }
      }
    }

    > .submenu {
      display: none;
      padding-left: 2.75rem;
      white-space: nowrap;
      list-style: none;
      background: $sidebar-active-background-color;

      @include media-breakpoint-down(md) {
        padding-left: 2.5rem;
      }

      > li {
        @include media-breakpoint-down(md) {
          a.link {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
          }
        }

        &:first-of-type {
          padding-top: 0.25rem;

          @include media-breakpoint-down(md) {
            padding-top: 0;
          }
        }

        &:last-of-type {
          padding-bottom: 0.75rem;

          @include media-breakpoint-down(md) {
            padding-bottom: 0;

            a.link {
              padding-bottom: 1.5rem;
            }
          }
        }
      }
    }

    &.ul-open,
    &.link-active {
      .link {
        background: $sidebar-active-background-color;
      }
    }

    &.open {
      > .submenu {
        display: block;
      }
    }
  }

  .link-leveltwo {
    @extend .link-levelone;

    &.link-active {
      > .link {
        padding-left: 0;
        color: $white;
        border-left: none;
      }
    }

    > .link {
      height: initial;
      padding: 0.3125rem 0.3rem 0.3125rem 0;
      line-height: 0.9rem;
      color: $sidebar-secondary-link-color;

      @include media-breakpoint-down(md) {
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
        line-height: 1.6rem;
      }
    }

    > .link:hover {
      color: $sidebar-primary-link-color;
    }
  }
}

.category-title {
  display: block;
  padding: 0.75rem 0 0.5rem;
  margin: 0.875rem 0 0 0.938rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;

  @include media-breakpoint-down(md) {
    margin: 0.75rem 0 0 1rem;
    font-size: 1rem;
  }

  > .title {
    color: $sidebar-title-color;

    @at-root .sidebar-closed & {
      display: none;
    }
  }
}

.menu-collapse {
  display: block;
  height: 0.813rem;
  padding: 0.688rem 0.938rem 2.063rem 0;
  font-size: 2rem;
  line-height: 0.813rem;
  color: $gray-dark-text;
  text-align: right;
  cursor: pointer;

  @include media-breakpoint-down(md) {
    display: none;
    padding-bottom: 1rem;
  }

  .material-icons {
    color: $sidebar-primary-link-color;

    &:last-child {
      margin-left: -1.313rem;
    }
  }
}

.page-sidebar-closed:not(.mobile) {
  .menu-collapse {
    padding-right: 0.8rem;
    transform: rotate(180deg);
  }

  .nav-bar {
    width: $size-navbar-width-mini;
    /* stylelint-disable-next-line */
    overflow: visible !important;

    .main-menu {
      overflow: hidden;

      .category-title > .title,
      .link-levelone span {
        display: none;
      }

      .sub-tabs-arrow {
        display: none;
      }

      .category-title {
        padding-top: 0;
        padding-bottom: 0;
      }

      .link-levelone {
        .link {
          line-height: initial;
        }

        &:first-of-type {
          margin-bottom: 0;
        }

        &.link-hover,
        &.submenu-hover {
          > .link {
            width: 250px;
            @include transition(all 0s ease 0s);

            > span {
              display: inline-block;
              padding-left: 1.563rem;
            }
          }

          ul.submenu {
            position: absolute;
            top: 34px;
            left: 50px;
            display: block;
            width: 200px;
            padding-left: 5px;
          }
        }

        .link-leveltwo {
          &:first-of-type {
            padding-top: 0;
            margin-top: 0.2rem;
          }

          &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 1rem;
          }

          .link {
            padding-left: 1.5rem;
          }
        }
      }
    }

    @media (max-height: 870px) {
      // this two tabs need to be flipped, otherwise
      // css issue with bottom of the page
      #subtab-ShopParameters.ul-open,
      #subtab-AdminAdvancedParameters.ul-open {
        ul.submenu {
          /* stylelint-disable declaration-no-important */
          top: 0 !important;
          display: flex !important;
          /* stylelint-enable */
          flex-direction: column-reverse;
          margin-top: 35px;
          transform: rotate(180deg);
          transform-origin: top;

          li {
            transform: rotate(180deg);

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.mobile-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  @include transition(all 0.2s ease-in-out);

  &.expanded {
    display: block;
  }
}
