#non-responsive {
  position: fixed;
  top: 3.438rem;
  left: 0.125rem;
  z-index: 501;
  display: none;
  width: 100%;
  height: 100%;
  padding: 4.375rem 2.5rem 0;
  font-size: 1.063rem;
  color: $white;
  background: $gray-dark;

  h1 {
    font-size: 1.875rem;
    font-weight: 400;
    color: $white;
  }
}
