#non-responsive {
  display: none;
  position: fixed;
  background: $gray-dark;
  width: 100%;
  height: 100%;
  z-index: 501;
  top: rem(55px);
  left: rem(2px);
  color: $white;
  padding: rem(70px) rem(40px) 0 rem(40px);
  font-size: rem(17px);
  h1 {
    color: $white;
    font-size: rem(30px);
    font-weight: 400;
  }
}
