<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>paysafecard</name>
	<displayName><![CDATA[PaysafeCard]]></displayName>
	<version><![CDATA[1.4]]></version>
	<description><![CDATA[Accepts payments by PaysafeCard.]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>