/*** HELPERS ***/

._relative{
  position: relative;
}

._display-table{
  display: table;
}

._display-table-cell{
  display: table-cell;
}

._margin-right-large{
  margin-right: 40px;
}

._margin-right-small{
  margin-right: 10px;
}

._margin-left-small{
  margin-left: 10px;
}

._margin-top-small{
  margin-top: 10px;
}

._margin-bottom-medium{
  margin-bottom: 20px;
}

._gray-dark{
  color: $gray-dark;
}
