/*** HELPERS ***/

._relative{
  position: relative;
}

._dpt{
  display: table;
}

._dptc{
  display: table-cell;
}

._mrl{
  margin-right: 40px;
}

._mrs{
  margin-right: 12px;
}

._mls{
  margin-left: 10px;
}

._mtm{
  margin-top: 20px;
}

._mtl{
  margin-top: 40px;
}

._tar{
  text-align: right;
}

._fl{
  float: left;
}

._clb{
  clear: both;
}

._tac{
  text-align: center;
}
