/*** HELPERS ***/
._relative {
  position: relative;
}
._display-table {
  display: table;
}
._display-table-cell {
  display: table-cell;
}
._margin-right-large {
  margin-right: 30px;
}
._margin-right-small {
  margin-right: 10px;
}
._margin-left-small {
  margin-left: 10px;
}
._margin-left-medium{
  margin-left: 20px;
}
._margin-top-small {
  margin-top: 10px;
}
._margin-bottom-medium {
  margin-bottom: 20px;
}
._margin-bottom-small {
  margin-bottom: 20px;
}
._margin-top-medium {
  margin-top: 20px;
}
._margin-top-large {
  margin-top: 30px;
}
._gray-light {
  color: $gray-light;
}
._gray-dark {
  color: $gray-dark;
}
._gray-darker {
  color: $gray-darker;
}
._bolder {
  font-weight: 700;
}
._shadow {
  @include box-shadow;
}
._valign-middle {
  vertical-align: middle;
}
._smaller-text {
  font-size: 14px;
}
