<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>newsletter</name>
            <displayName><![CDATA[Newsletter]]></displayName>
            <version><![CDATA[2]]></version>
            <description><![CDATA[Generates a .CSV file for mass mailings]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>