<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockcontactinfos</name>
            <displayName><![CDATA[Block contact infos]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Add a block to add some information about contacting the shop]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>