@import 'compass';
@import 'bootstrap_lib/_variables';
$header-background:#dadada;
$color-style1:#f44051;
$color1-style1:#333;
$color2-style1:#b7b7b7;

body{background:#282828}
.header-container,
.columns-container{background:#f6f6f6}

  //-------- HEADER
  #header {
   background:none;	
	.header-row {
	  background:$header-background;	 	   
	  .shop-phone{
		  color:$color1-style1;
		i,
		strong{color:$color-style1} 
		
		  } 	
	}
	
	 #currencies-block-top, 
	 #languages-block-top,
	 .header-row .header_user_info{
	 border-color:#c6c6c6;  
	 }
  
   #currencies-block-top div.current, 
  #languages-block-top div.current,
  .header-row .header_user_info a
  {
	 color:$color1-style1; 
	  &:hover, &.active {
		background:$color2-style1;
		color:white
		}

 }
    #currencies-block-top div.current, 
  #languages-block-top div.current{
	 strong{color:$color1-style1;} 
	  }
	   
  #currencies-block-top div.current, 
 #languages-block-top div.current
   {&:hover,
    &.active {
	  strong,
	  &:after
	   {
	    background:$color2-style1;
		color:white}
       }
	 }
	
	#contact-link{ 
	   border-color:#c6c6c6;
	   a{color:$color1-style1;
		  &:hover, &.active {
			background:$color2-style1;
			color:white
			}
		}	
	}	
	
}


	#search_block_top .btn.button-search{background:$color-style1;
	   &:hover{color:white;
    	background:$color1-style1}
	}

     #header_user #shopping_cart a{
		background:$color-style1; 
		color:white;
		 &:after{color:white}
		&:hover{color:white;
    	background:$color1-style1}		 
	 }
	 
    .sf-menu{
		background:white;
		border-bottom:3px solid #e8e8e8;
		>li{
			border-right:1px solid #e8e8e8;
			a{border-bottom: 3px solid #e8e8e8;}
		&.sfHover > a, > a:hover, &.sfHoverForce > a 
		{color:#fff;background:$color-style1;
		border-bottom-color:#ce2434;}
		}
	} 
	
	

//-------- columns-container

     #home-page-tabs{
		background:#f6f6f6;
		  > li.active a, 
		  > li a:hover{
			background:$color-style1;
			color:white 
			 }
		 
	 }
	 

	.new,
	.sale
	{background:$color-style1;
		&:before,
		&:after{
				border-color: #ad2b34  transparent   transparent transparent ;			
			}	
	}


   ul.product_list.grid > li .product-container{
	background:#f6f6f6;
   .product-image-container{
	background:white;
   .product_img_link{background:#fbfbfb;
     img{background:#fbfbfb;}
   }   
   }
   }
  


  .button.lnk_view {
	text-shadow:none;
	padding:0;
	border:none;
		span {
			border:none;		
			padding:12px 16px;
		   background:$color1-style1;
		   color:white;	
		}
		
	&:hover {
		span {
			background:$color-style1;
			}	
	}
  }


  #cmsinfo_block em{background:$color-style1;}
  #facebook_block, #cmsinfo_block{background:#e8e8e8}
  #cmsinfo_block,
   #cmsinfo_block > div + div{border-color:#d0d0d0;}  
   
   .footer-container #footer #social_block  { background:#1b1b1b;padding-bottom:15px;}  
  .footer-container {	
  background:#1b1b1b;
																		@media (min-width: $screen-sm) { // min 768px
																			background:url(../img/footer-bg1.gif) repeat-x;
																		}
}
	 #footer #newsletter_block_left .form-group{ 
	.form-control{background:#1b1b1b;}
	 .button-small {color:$color-style1;} 
	}
	
 .footer-container #footer #social_block ul li a:hover{color:$color-style1;}	
	
	