@import 'compass';
@import 'bootstrap_lib/_variables';

$header-background:     #545454;
$color-style1:          #584336;
$color1-style1:         #878872;
$color2-style1:         #b7b7b7;
$color3-style1:         #333;
$color4-style1:         #e4dfb9;
$base-border-color:		#d6d4d4;

body{background:#3c281c}
.header-container,
.columns-container{background:url(../img/bg-theme2.jpg) repeat 50% 0}

  //-------- HEADER
  #header {
   background:none;	
	.header-row {
	  background:$header-background;	 	   
	  .shop-phone{
		  color:#fff;
		  text-shadow:0 1px #404040;
		i,
		strong{color:#aaa} 	
		  } 		  	
	}
		
     #currencies-block-top, 
	 #languages-block-top,
	 .header-row .header_user_info{
	 border-color:#656565;  
	 }  
  
   #currencies-block-top div.current, 
  #languages-block-top div.current,
  .header-row .header_user_info a
  {
	 color:#fff; 
	  &:hover, &.active {
		background:$color1-style1;
		color:white
		}

 }
    #currencies-block-top div.current, 
  #languages-block-top div.current{
	 strong{color:#fff} 
	  }
	   
 #currencies-block-top div.current, 
 #languages-block-top div.current
   {&:hover,
    &.active {
	    background:$color1-style1;
		color:white}
   
	 }
	
 #header #currencies-block-top ul li.selected,
 #header #currencies-block-top ul li:hover a,
 #header #languages-block-top ul li.selected,
 #header #languages-block-top ul li:hover a{
	background:$color2-style1	
	}	
		
	#contact-link{ 
	   border-color:#656565;
	   a{color:#fff;
		  &:hover, &.active {
			background:$color1-style1;
			color:white
			}
		}	
	}		
}

    #header #currencies-block-top div.current:after,
    #header #languages-block-top div.current:after{color:#fff}

	  #search_block_top{
		  .btn.button-search{
			background:$color-style1;		 
		   &:hover{color:white;
			background:$color3-style1;
			}
		}
	
	 #search_query_top{
		border-color:$base-border-color;
		background:rgba(248,248 ,248,0.63);
		color:#686666;}
	}



     #header_user #shopping_cart a{
		background:$color1-style1; 
		color:white;	
		    &:after{color:white}
			&:hover{color:white;
			text-shadow:0 1px #333;
			background:$color3-style1}		 
	 }
	 
    .sf-menu{
		background:#cbccbe;
		border-bottom:3px solid #c1c2b4;
		>li{
			border-right:1px solid #d8d9ce;
			>a{border-bottom: 3px solid #c1c2b4;color:#515150}
		&.sfHover > a, > a:hover, &.sfHoverForce > a 
		{color:#fff;background:$color-style1;
		border-bottom-color:#584336;}
		}
	} 
	

//-------- columns-container


ul.product_list.grid > li .product-container .product-image-container{border-color:$base-border-color}


     #home-page-tabs{
		background:none;
		>li{border-color:$base-border-color}
		  > li.active a, 
		  > li a:hover{
			background:$color-style1;
			color:white 
			 }
		  }	 

	.new,
	.sale
	{background:$color-style1;
		&:before,
		&:after{
				border-color: $color-style1  transparent   transparent transparent ;			
			}	
	}

   ul.product_list.grid > li .product-container{
  	background:none;
    .product-image-container{
  	   background:white;
       .product_img_link{
        background:#f1e8e3;
        img{
          background:#f1e8e3;
        }
       }   
     }
   }
  
  .button.lnk_view {
	text-shadow:none;
	padding:0;
	border:none;
		span {
			border:1px solid #9a9a9a;		
			padding:12px 16px;
		   background:#f2f2f2;
		   color:white;	
		}
		
	&:hover {
		span {
			background:$color2-style1;
			}	
	}
  }
  
    .product-name{color:$color1-style1}  
  
    .button.ajax_add_to_cart_button{background:$color-style1}
	.price-percent-reduction{background:$color-style1;border-color:$color-style1}
	.price,
	.price.product-price{color:$color-style1}
	.old-price{color:#b1b0b0}
	
	ul.product_list.grid > li .product-container:hover{background:#fff;
     @include box-shadow( 0 5px 13px rgba(0,0,0,0.17));
	}
	
	.button.lnk_view span{color:#fff;background:$color1-style1;border-color:$color1-style1}
	.button.lnk_view:hover span{color:#fff;background:$color-style1;border-color:$color-style1} 

   #cmsinfo_block em{background:$color-style1;text-shadow:0 1px #4e3c30;}
   #facebook_block, #cmsinfo_block{background:#adae9d}
   #cmsinfo_block,
   #cmsinfo_block > div + div{border-color:#c6c7bb;}     
   
   .footer-container #footer #social_block  { background:none;padding-bottom:15px;}  
  .footer-container {	
  background:#584336;
																		@media (min-width: $screen-sm) { // min 768px
																			background:url(../img/footer-bg2.gif) repeat-x;
																		}
}

  #facebook_block h4, #cmsinfo_block h4,
   #cmsinfo_block h3,
   #cmsinfo_block p strong{color:#fff;}
   #facebook_block p, #cmsinfo_block p{
   color:#e7e7e2;}


 #footer #newsletter_block_left .form-group{ 
	.form-control{background:#534034;color:#fff;border-color:#79695e}
	 .button-small {color:#fff;
	 text-shadow:0 1px #47362c;
	 &:hover{color:$color4-style1}
	 } 
	}
  #footer #newsletter_block_left h4	{text-shadow:0 1px #47362c;}
	
 .footer-container #footer #social_block ul li a {
	 color:#fff;text-shadow:0 1px #47362c;
	 &:hover{color:$color4-style1;}	}
	
.footer-container #footer a{color:#fff;
	&:hover{color:$color4-style1;}
	}	
	
.footer-container #footer #block_contact_infos > div ul li{color:#fff}	
	
	.footer-container #footer .bottom-footer div{color:#fff}
	.footer-container #footer #block_contact_infos,
	.footer-container #footer .bottom-footer div{
	border-color:#503e33;	
		}