<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>watermark</name>
            <displayName><![CDATA[Filigrane]]></displayName>
            <version><![CDATA[0.2]]></version>
            <description><![CDATA[Prot&eacute;gez vos images avec un filigrane]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[administration]]></tab>
	<confirmUninstall>Êtes-vous sûr de vouloir tout supprimer ?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>