<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>moneybookers</name>
	<displayName>Moneybookers</displayName>
	<version>1.4</version>
	<description>Accepts payments by Moneybookers.</description>
	<author></author>
	<tab>payments_gateways</tab>
	<confirmUninstall>Are you sure you want to delete your details ?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>