<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockreinsurance</name>
            <displayName><![CDATA[Bloc reinsurance]]></displayName>
            <version><![CDATA[2.0]]></version>
            <description><![CDATA[Add a block to display more infos to reassure your customers]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>