<div class="card card-details">
  <div class="card-header d-none d-print-block">
    {% block header %}
    {% endblock %}
  </div>
  <div class="card-body">
    {% block body %}
    {% endblock %}
  </div>
</div>
