<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>loyalty</name>
	<displayName>Customer loyalty and rewards</displayName>
	<version>1.8</version>
	<description>Provide a loyalty program to your customers.</description>
	<author>PrestaShop</author>
	<tab>pricing_promotion</tab>
	<confirmUninstall>Are you sure you want to delete all loyalty points and customer history?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>