<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>envoimoinscher</name>
	<displayName><![CDATA[Envoimoinscher]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Find the best price for your shipment. Compare and order carriers offers at negotiated rates.]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries>fr</limited_countries>
</module>