@mixin notification_counter() {
  display: inline-block;
  @include single-line-block(rem(14px));
  position: absolute;
  top: rem(2px);
  right: rem(2px);
  color: $white;
  background: $secondary;
  font-size: rem(9px);
  padding: 0 rem(4px);
  border-radius: rem(10px);
}
