@mixin notification_counter() {
  display: inline-block;
  @include single-line-block(0.875rem);
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;
  color: #ffffff;
  background: $warning;
  font-size: 0.5625rem;
  padding: 0 0.25rem;
  border-radius: 0.625rem;
}
