@mixin notification_counter() {
  position: absolute;
  top: .25rem;
  right: 0;
  display: inline-block;
  padding: 0 .1875rem;
  font-size: .625rem;
  line-height: .75rem;
  color: #fff;
  background: #f1b746;
  border: .125rem solid #fff;
  @include border-radius(1rem);
}
