/**
 * For the full copyright and license information, please view the
 * docs/licenses/LICENSE.txt file that was distributed with this source code.
 */
@mixin single-line-block($line-height) {
  height: $line-height;
  line-height: $line-height;
  vertical-align: middle;
}
