<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>producttooltip</name>
	<displayName><![CDATA[Product tooltips]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Shows information on a product page: how many people are viewing it, the last time it was sold and the last time it was added to a cart.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>