{# dump(topMenuData) #}


<div class="container-fluid module-top-menu">
    <div class="row">
	   {% for menu in topMenuData %}
            <div class="col-md-2 module-menu-item {#menu.class#}">
                <a href="#">{{menu.name}}</a>
            </div>
           {% endfor %}


            <div class="col-md-4 col-md-offset-2">
                <div class="input-group add-on left-addon">
                    <span class="input-group-addon">
                        <i class="icon-search"></i>
                    </span>
                    <input class="module-search-bar form-control" type="text" placeholder="Search for modules ..."/>
                </div>
            </div>

    </div>
</div>

<hr class="top-menu-separator"/>
