<div id="module-modal-import" class="modal modal-vcenter fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <h4>Add a new Module</h4>
            <form action="" class="dropzone" id="importDropzone">
                <button class="module-import-loader" id="module-import" disabled>
                </button>
                <span class="install-message">Installing</span>
                <button class="configure-message">Configure</button>
            </form>
        </div>
    </div>
</div>
