<div id="module-modal-read-more" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <h4>Add a new Module</h4>
            <form action="/file-upload" class="dropzone" id="importDropzone">
                <button class="module-import-loader" id="module-import" disabled>
                </button>
                <span class="install-message">Installing</span>
            </form>
        </div>
    </div>
</div>
