<div id="module-modal-addons-connect" class="modal  modal-vcenter fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title module-modal-title">Connect to addons marketplace</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                  <p>
                      Link your shop to your addons account: it will automatically import the modules you purchased. Don't have an account yet ?
                      <a href="http://addons.prestashop.com/authentication.php" target="_blank">Sign up now</a>
                  </p>
                  <form>
                  <div class="form-group">
                    <label for="module-addons-connect-email">Email address</label>
                    <input type="email" class="form-control" id="module-addons-connect-email" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="module-addons-connect-password">Password</label>
                    <input type="password" class="form-control" id="module-addons-connect-password" placeholder="Password">
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                  <button type="submit" class="btn btn-default">Let's go!</button>
                </form>
                <p>
                    <a href="http://addons.prestashop.com/password.php" target="_blank">Forgot your password ? </a>
                </p>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>
