{% extends "PrestaShopBundle:Admin/Module/_partials:_modules_card.html.twig" %}

{% block addon_version %}
    v{{module.database_version}} <i class="material-icons" style="font-size: 10px; ">arrow_forward</i> v{{module.version}}
{% endblock %}

{% block addon_description %}
    {% if module.changeLog is defined %}
        <ul>
            {% for version in module.changeLog %}
                <li><b>{{version}}:</b> 
                {% for line in version %}
                    {{line}}<br/>
                {% endfor %}
                </li>
            {% endfor %}
            
        </ul>
    {% else %}
        No changelog provided</i>
    {% endif %}
    
{% endblock %}