<div id="module-modal-import" class="modal modal-vcenter fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <h4>Import a Module</h4>
            <form action="#" class="dropzone" id="importDropzone">
                <div class='module-import-processing'>
                    <p class='module-import-zipname'></p>
                    <!-- @TODO: Add loader spinner -->
                </div>
                <div class='module-import-success'>
                    <p class='module-import-name'></p>
                    <input class='module-import-success-configure' type='button' href='#' value="Configure"/>
                </div>
                <div class='module-import-failure'>
                    <p class='module-import-error-msg'></p>
                    <input class='module-import-failure-retry' type='button' href='#' value="Retry"/>
                </div>
            </form>

        </div>
    </div>
</div>
