<div class="module-sorting-menu">
    <div class="row">
        <div class="col-lg-12">
            <div class="module-sorting module-sorting-display pull-right">
                <span id="module-sort-grid" data-switch="grid" class="icon icon-th-large module-sort-switch module-sort-active" aria-hidden="true"></span>
                <span id="module-sort-list" data-switch="list" class="icon icon-th-list module-sort-switch" aria-hidden="true"></span>
            </div>
            <div class="module-sorting module-sorting-author pull-right">
                Sort by all
            </div>
            <div class="module-sorting module-sorting-type pull-right">
                Sort by default
            </div>
        </div>
    </div>
</div>
