<div class="module-sorting-menu">
    <div class="row">

        <div class="col-lg-6">
            <div class="module-sorting-search-wording">
                <span class="module-search-result-wording">{{ totalModules }} modules and services selected for you</span>
            </div>
            <p class="module-addons-search">
                <a class='module-addons-search-link' href="#">
                    See all results for this search on Addons Marketplace
                    <span>
                        <i class="icon-signout"></i>
                    </span>
                </a>
            </p>
        </div>

        <div class="col-lg-6">
            <div class="module-sorting module-sorting-display pull-right">
                <span id="module-sort-grid" data-switch="grid" class="icon icon-th-large module-sort-switch module-sort-active" aria-hidden="true"></span>
                <span id="module-sort-list" data-switch="list" class="icon icon-th-list module-sort-switch" aria-hidden="true"></span>
            </div>
            <div class="module-sorting module-sorting-author pull-right">
                <select>
                  <option value="sort-by-name" selected>Name</option>
                  <option value="sort-by-author">Author</option>
                  <option value="sort-by-price">Price</option>
                </select>
            </div>
        </div>
    </div>
</div>
