.cart-summary-line {
  @include clearfix;
  clear: both;
  font-weight: 700;
  .label {
    font-size: em(14px);
    @include pull-left;
  }
  .value {
    color: $gray-darker;
    @include pull-right;
  }
  .sub,
  &.sub {
    font-weight: normal;
    bottom: 0;
    font-size: em(13px);
  }
}
/*** CART ***/
.cart-grid {
  @include make-row();
  > .cart-grid-body {
    @include make-col();
  }
  > .cart-grid-right {
    @include make-col();
  }
  .card {
    padding: 0;
  }
}
/** CART BODY **/
.cart-grid-body {
  > a.label {
    font-size: em(16px);
  }
  hr {
    margin: 0;
  }
}
/** CART RIGHT **/
.cart-grid-right {
  > .cart-summary {
    .cart-total {
      > .label {
        font-size: 100%;
      }
    }
    > .block-promo {
      .promo-code {
        padding: 1.60rem;
        background: $gray-light;
      }
      .promo-input {
        color: $gray-darker;
        border: $gray 1px solid;
        height: em(40px);
        text-indent: em(10px);
        width: 60%;
        + button {
          margin-top: -4px;
          text-transform: capitalize;
        }
      }
      .cart-summary-line .label, .promo-name {
        color: $brand-warning;
        font-weight: 600;
        a {
          font-weight: normal;
          color: $gray-darker;
          display: inline-block;
          opacity: 0.7;
        }
      }
      .promo-code-button {
        padding-left: rem(25px);
        margin-bottom: rem(20px);
        display: inline-block;
        font-size: rem(14px);
      }
    }
  }
}
/*** PRODUCT LINE ***/
.product-line-grid {
  @include make-row();
  > .product-line-grid-left {
    @include make-col();
  }
  > .product-line-grid-body {
    @include make-col();
  }
  > .product-line-grid-right {
    @include make-col();
  }
}
/** CONTENT LEFT **/
.product-line-grid-left {}
/** CONTENT BODY **/
.product-line-grid-body {
  > .product-line-info {
    > .label {
      font-size: em(15px);
      font-weight: 800;
    }
    > .value {
      color: $gray-darker;
      font-size: em(15px);
      font-weight: 400;
      padding: 0.25em 0.4em;
    }
    > .out-of-stock {
      color: red;
    }
    > .available {
      color: $brand-success;
    }
    .sub {
      color: $gray-dark;
      font-size: em(13px);
    }
  }
}
/** CONTENT LEFT **/
.product-line-grid-right {
  .bootstrap-touchspin {
    max-width: em(75px);
    @include pull-left;
    @include box-shadow;
    > .form-control,
    > .input-group {
      color: $gray-darker;
      background-color: white;
      border: $input-btn-border-width solid $input-border-color;
      height: $input-height;
      padding: 0.175rem 0.5rem;
      width: em(40px);
    }
    > .input-group-btn-vertical {
      width: auto;
    }
  }
  .product-price,
  .cart-line-product-actions {
    color: $gray-darker;
    line-height: 40px;
    .remove-from-cart {
      color: $gray-darker;
      display: inline-block;
      margin-top: em(5px);
      opacity: 0.7;
      i {
        font-size: em(25px);
      }
    }
  }
}
