.cart-summary-line {
  @include clearfix;
  clear: both;
  .label {
    padding-left: 0;
    font-weight: normal;
  }
  .value {
    color: $gray-darker;
    @include pull-right;
  }
  &.cart-summary-subtotals {
    .label,
    .value {
      font-weight: normal;
    }
  }
}
/*** CART ***/
.cart-grid {
  @include make-row();
  > .cart-grid-body {
    @include make-col();
  }
  > .cart-grid-right {
    @include make-col();
  }
  .card {
    padding: 0;
  }
}
/** CART BODY **/
.cart-grid-body {
  > a.label {
    margin: rem(10px) 0 rem(25px);
    &:hover {
      color: $brand-primary;
    }
  }
  hr {
    margin: 0;
  }
}
/** CART RIGHT **/
.cart-grid-right {
  hr {
    margin: 0;
  }
}
.block-promo {
  .promo-code {
    padding: 1.60rem;
    background: $gray-light;
  }
  .promo-input {
    color: $gray-darker;
    border: $gray 1px solid;
    height: rem(40px);
    text-indent: rem(10px);
    width: 60%;
    + button {
      margin-top: -4px;
      text-transform: capitalize;
    }
  }
  .cart-summary-line .label,
  .promo-name {
    color: $brand-warning;
    font-weight: 600;
    a {
      font-weight: normal;
      color: $gray-darker;
      display: inline-block;
      opacity: 0.7;
    }
  }
  .promo-code-button {
    padding-left: rem(20px);
    margin-bottom: rem(20px);
    display: inline-block;
  }
}
/*** PRODUCT LINE ***/
.product-line-grid {
  @include make-row();
  > .product-line-grid-left {
    @include make-col();
  }
  > .product-line-grid-body {
    @include make-col();
  }
  > .product-line-grid-right {
    @include make-col();
  }
}
/** CONTENT LEFT **/
.product-line-grid-left {}
/** CONTENT BODY **/
.product-line-grid-body {
  > .product-line-info {
    > .value {
      padding-left:rem(5px);
    }
    > .out-of-stock {
      color: red;
    }
    > .available {
      color: $brand-success;
    }
  }
}
/** CONTENT LEFT **/
.product-line-grid-right {
  .bootstrap-touchspin {
    max-width: rem(75px);
    @include pull-left;
    @include box-shadow;
     > .input-group,
    > .form-control {
      color: $gray-darker;
      background-color: white;
      border: $input-btn-border-width solid $input-border-color;
      height: $input-height;
      padding: 0.175rem 0.5rem;
      width: rem(40px);
    }
    > .input-group-btn-vertical {
      width: auto;
    }
  }
  .cart-line-product-actions,
  .product-price {
    color: $gray-darker;
    line-height: 40px;
    .remove-from-cart {
      color: $gray-darker;
      display: inline-block;
      margin-top: rem(5px);
      opacity: 0.7;
    }
  }
}
