.dropdown{
  color:gray('600');
  &:hover .expand-more{
    color: theme-color('primary');
  }
  .expand-more{
    color: gray('900');
    cursor: pointer;
    user-select: none;

  }

  .active{
    max-height: 200px;
    overflow-y: hidden;
    visibility: visible;
  }

  select {
    -moz-appearance: none;
    border: 0 none;
    outline: 0 none;
    color: gray('900');
    background: white;
  }
}

.dropdown-item:focus, .dropdown-item:hover {
  background: none;
  text-decoration: none;
  color: theme-color('primary');
}

