.block_newsletter {
  @include search-box;
  font-size: em(14px);
  p {
    padding-top: $small-space;
  }
}
.block-contact {
  margin-top: $medium-space;
  border-left: $gray-light 2px solid;
  padding-left: em(70px);
  color: $gray;
  .block-contact-title{
    color:$gray-darker;
  }
}
.linklist {
  padding-top: $medium-space;
  li a{
    color: $gray;
    cursor: pointer;
    &:hover {
      color: $brand-primary;
    }
  }
  .blockcms-title a{
    color:$gray-darker;
  }
}
.account-list a {
  color:$gray;
  &:hover{
  color: $brand-primary;
  }
}
.blockcms-title,
.myaccount-title,
.myaccount-title a,
.block-contact-title {
  font-weight: 700;
  font-size: em(16px);
}
.block-social li {
  height: em(40px);
  width: em(40px);
  background-color: $gray-light;
  background-repeat: no-repeat;
  display: inline-block;
  margin: em(2px);
  cursor: pointer;
  &:hover {
    background-color: $brand-primary;
  }
  a {
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    &:hover {
      color: transparent;
    }
  }
}
.facebook {
  background-image: url(../img/facebook.svg);
  &.icon-gray {
    background-image: url(../img/facebook-gray.svg);
    &:hover {
      background-image: url(../img/facebook-blue.svg);
    }
  }
}
.twitter {
  background-image: url(../img/twitter.svg);
  &.icon-gray {
    background-image: url(../img/twitter-gray.svg);
    &:hover {
      background-image: url(../img/twitter-blue.svg);
    }
  }
}
.rss {
  background-image: url(../img/rss.svg);
}
.youtube {
  background-image: url(../img/youtube.svg);
}
.googleplus {
  background-image: url(../img/gplus.svg);
  &.icon-gray {
    background-image: url(../img/gplus-gray.svg);
    &:hover {
      background-image: url(../img/gplus-blue.svg);
    }
  }
}
#block_myaccount_infos{
  .myaccount-title a{
    color:$gray-darker;
  }
}
.pinterest {
  background-image: url(../img/pinterest.svg);
  &.icon-gray {
    background-image: url(../img/pinterest-gray.svg);
    &:hover {
      background-image: url(../img/pinterest-blue.svg);
    }
  }
}
.vimeo {
  background-image: url(../img/vimeo.svg);
}
.instagram {
  background-image: url(../img/instagram.svg);
}
.footer-container {
  margin-top: $medium-space;
  @include box-shadow;
}
