.top-menu {
  &[data-depth="1"] {
    margin: rem(10px);
  }
  a:not([data-depth="0"]) {
    display: block;
    padding: rem(10px);
    color: $gray;
    font-weight: 400;
  }
  a.dropdown-submenu {
    color: $gray-darker;
    text-transform: uppercase;
    font-weight: 600;
  }
  a[data-depth="0"] {
    font-weight: 600;
    padding: rem(3px) $small-space rem(6px);
    &:hover {
      #header & {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
  a[data-depth="1"],
  a[data-depth="2"] {
    padding: 0 rem(10px) rem(10px) 0;
  }
  .sub-menu {
    box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, 0.1);
    border: none;
    margin-left: 15px;
    width: calc(100% - 30px);
    min-width: calc(100% - 30px);
    z-index: 18;
    display: none;
    ul[data-depth="1"] > li {
      float: left;
      margin: 0 rem(20px);
    }
    a:hover {
      color: $brand-primary;
    }
  }
  .popover {
    max-width: inherit;
  }
}
.popover.bs-tether-element-attached-top {
  margin-top: 0;
}
