.top-menu {
  &[data-depth="1"] {
    margin: em(10px);
  }
  a:not([data-depth="0"]) {
    display: block;
    padding: 10px;
    color: $gray;
    font-weight: 400;
  }
  a.dropdown-submenu {
    color: $gray-darker;
    text-transform: uppercase;
    font-weight: 600;
  }
  a[data-depth="0"] {
    font-weight: 600;
    padding: em(3px) $small-space;
    &:hover {
      #header & {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
  a[data-depth="1"],
  a[data-depth="2"] {
    padding: 0 em(10px) em(10px) 0;
  }
  .sub-menu {
    box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, 0.1);
    left: em(-143px);
    border: none;
    width: auto;
    z-index: 18;
    display: none;
    ul[data-depth="1"] > li {
      float: left;
      margin: 0 em(20px);
    }
    a:hover {
      color: $brand-primary;
    }
    &:before {
      position: absolute;
      top: -7px;
      left: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $gray-light;
      border-left: 7px solid transparent;
      content: '';
    }
     &:after {
      position: absolute;
      top: -6px;
      left: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
      content: '';
    }
  }
}
.popover.bs-tether-element-attached-top {
  margin-top: 0;
}
