.search-widget {
  float: right;
  @include search-box;
}
.header-top {
  .search-widget {
    form {
      input[type="text"] {
        min-width: inherit;
        width: 100%;
      }
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .header-top {
    .search-widget {
      float: none;
      padding: 0 rem(15px);
      form {
        margin: 0 auto;
        input[type="text"] {
          min-width: inherit;
          background: white;
        }
      }
    }
  }
}