.search-widget {
  display: inline-block;
  @include search-box;
}
.header-top {
  .search-widget {
    form {
      input[type="text"] {
        min-width: inherit;
        width: 100%;
      }
    }
  }
}
#checkout {
  #search_widget {
    display: none; /* Not ideal solution by allows to reuse same hooks/templates */
  }
}

#pagenotfound {
  .page-content {
    #search_widget {
      width: 100%;
    }
  }
}

.page-not-found {
  .search-widget {
    form {
      display: inline-block;
    }
  }
}

#close-search,
.search-cross {
  display: none;
}
#close-search:checked ~ ul.ui-autocomplete.ui-front.ui-widget-content {
  display: none !important;
}

ul{
  &.ui-autocomplete.ui-front {
    &.ui-widget-content {
      border: none;
      border-radius: 0;
      .ui-menu-item {
        &:hover {
          border: none;
          border-radius: 0;
        }
        a {
          padding-top: 7.5px;
          padding-left: 13px;
          padding-bottom: 7.5px;
          &:hover {
            border: none;
            border-radius: 0;
            background: $gray-light-third !important;
          }
          &.ui-state-focus{
            margin: 0 !important;
            border: 0 !important;
            background: $btn-warning-color;
          }
          .product {
            font-size: .9rem;
            font-family: Noto sans,arial,sans-serif;
            vertical-align: top;
          }
        }
      }
    }
  }
}
/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .header-top {
    .search-widget {
      float: none;
      background: $gray-light;
      margin-bottom: 10px;
      form {
        margin: 0 auto;
        input[type="text"] {
          min-width: inherit;
          &:not(:placeholder-shown) ~ .search-cross {
            display:block;
          }
        }
      }
    }
  }
  .search-cross {
    display: block;
    position: absolute;
    background: none;
    border: none;
    bottom: .0125rem;
    right: 10px;
    color: $gray-searchbar;
  }
  ul {
    &.ui-autocomplete.ui-front {
      &.ui-widget-content {
        left: 0 !important;
        width: 100% !important;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .search-widget {
    min-width: 15.63rem;
  }
}
