<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>productcomments</name>
	<displayName>Product Comments</displayName>
	<version>2.1</version>
	<description>Allow users to post comment about a product.</description>
	<author>PrestaShop</author>
	<tab>front_office_features</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>