#module-list
	h3
		position: relative
		top: 0
		left: 0
		margin: 0
		padding: 0
		background-color: transparent
		color: $main-color
.hook_panel
	padding: 10px 10px 5px 10px
	margin-bottom: 10px!important
	border: solid #E6E6E6 1px
	@include box-shadow(rgba(black,0.10) 0 -2px 0 inset)
	@include border-radius(3px)
.module_name
	font-size: 1.2em
.module_description
	@extend .text-muted
.hook_panel_header
	margin: 0 -10px 0 -10px
	padding: 0 10px 10px 10px
	.hook_name
		font-size: 1.4em
		color: $brand-primary
		background-color: white
		padding: 0 4px
		@include border-radius(3px)
	.hook_title
		@extend .text-muted
	.hook_description
		@extend .text-muted
		padding: 3px 0 0 3px

#modules_list_container_tab
	img
		max-width: 66px
.module_list
	.module_list_item
		display: table
		width: 100%
		padding: 5px 0
		margin-bottom: -1px
		background-color: white
		border: solid 1px #9ED0EC
.module_list
	.draggable
		cursor: pointer
.module_col_select
	display: table-cell
	width: 22px
	min-height: 35px
	vertical-align: middle
	text-align: center
	border-right: 1px solid #ddd
.module_col_position
	display: table-cell
	width: 70px
	vertical-align: middle
	text-align: right
	.positions
		border: solid 1px #ccc
		background-color: #eee
		padding: 0 5px
		font-size: 1.4em
		color: #aaa
		cursor: move
		@include text-shadow(white 1px 1px)
		@include border-radius(3px)
		@include box-shadow(rgba(0,0,0,0.2) 0 1px 3px inset)
.module_col_icon
	display: table-cell
	width: 50px
	text-align: center
	vertical-align: middle
.module_col_infos
	display: table-cell
	height: 50px
	vertical-align: middle
.module_col_actions
	display: table-cell
	width: 160px
	padding: 0 10px
	vertical-align: middle
	text-align: right
	.btn-group
		text-align: left
li.sortable-placeholder
	border: 1px dashed #CCC
	background-color: #eee
	margin: 4px
	+border-radius(5px)
td.module_active
	background-color: lighten($brand-success,10%)!important
td.module_inactive
	background-color: lighten($gray,50%)!important
.module-badge-popular, .module-badge-partner
	@extend .badge
	font-size: 12px
.module-badge-popular
	background-color: $brand-addons
.module-badge-partner
	background-color: $brand-primary
.quickview-badge
	margin-top: 30px