.nowrap
    white-space: nowrap

#customization_list
    border: 0px

#status_col_right
    @media (max-width: $screen-phone)
        width: 100%

#status_col_left
    @media (max-width: $screen-phone)
        width: 100%

#tabViews>li
    @media (max-width: $screen-phone)
        float: none