<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>feeder</name>
            <displayName><![CDATA[RSS products feed]]></displayName>
            <version><![CDATA[0.2]]></version>
            <description><![CDATA[Generate a RSS products feed]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>