<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>feeder</name>
	<displayName>RSS products feed</displayName>
	<version>0.2</version>
	<description>Generate a RSS products feed</description>
	<author>PrestaShop</author>
	<tab>front_office_features</tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
</module>