.btn {
  &.btn-default {
    &:hover {
      background-color: $primary-light-color;
      border-color: $primary-light-color;
    }

    &.active,
    &:focus {
      color: #fff;
      background-color: $primary-color;
      border-color: $primary-color !important;
    }
  }
}
