#header
	z-index: 20
#header_infos
	@extend .navbar
	@extend .navbar-inverse
	@extend .navbar-fixed-top
	height: 36px !important
#header_shopname
	@extend .navbar-brand
	position: relative
	margin: 0 15px 0 0
	height: 36px
	padding-left: 45px!important
	img
		position: absolute
		top: 0
		left: 0
		width: 35px
		height: 35px
#header_notifs_icon_wrapper
	@extend .hidden-xs
	@extend .nav
	@extend .navbar-nav
	height: 36px
	li a
		padding: 0 5px
	> li > a > i
		font-size: 1.4em
		font-weight: 200
		color: darken(white,30%)
		vertical-align: middle
		&:hover
			color: white
	.notifs_badge
		@extend .badge
		background-color: $badge-notif-color
	.notifs_dropdown
		background-color: white
		border: none
		@include box-shadow(rgba(black,0.7) 0 0 10px)
		.notifs_panel
			width: 300px
			.notifs_panel_header
				h3
					padding: 10px
					font-size: 1.3em
					margin: 0
					border-bottom: solid 1px #CCCCCC
			.notifs_panel_footer
				padding: 10px
				text-align: center
			.list_notif
				a
					display: block
					text-decoration: none
					padding: 5px
					border-bottom: solid 1px #CCCCCC
				.no_notifs
					@extend .text-muted
					display: block
					padding: 15px
					border-bottom: solid 1px #CCCCCC
#header_nav_toggle
	background-color: black
	border: none
	color: white
	display: none
#header_employee_box
	@extend .nav
	@extend .navbar-nav
	@extend .navbar-right
	a img
		margin-right: 5px
	#header_foaccess i
		font-size: 1.2em
#header_search
	@extend .navbar-form
	@extend .navbar-left
	width: 160px!important
	padding: 0 0 0 10px
	position: relative
	@media (max-width: $screen-tablet)
		width: 100%
	input, .form-group
		margin: 0
	#bo_query
		width: 85px
	.form-group.focus-search
		position: absolute
		z-index: 900
		top: 0
		left: 5px
		width: 400px
		#bo_query
			width: 100%
	.clear_search
		position: absolute
		top: 5px
		right: 35px
#employee_infos
	.employee_name
		position: relative
		padding-left: 34px!important
	.employee_avatar_small
		position: absolute
		top: 4px
		left: 0
#header_quick
	@extend .nav
	@extend .navbar-nav
	@extend .navbar-left