/**
 * For the full copyright and license information, please view the
 * docs/licenses/LICENSE.txt file that was distributed with this source code.
 */
.progress {
  height: var(--#{$cdk}size-16);
  box-shadow: none;

  &-bar {
    box-shadow: none;
  }
}
