.tree-panel-heading-controls
	line-height: 2.2em
	text-transform: uppercase
	i
		font-size: $icon-size-base
.tree
	padding: 0 0 0 20px
	list-style: none
	input
		margin-right: 4px
	i
		font-size: $icon-size-base
	.tree-item-name, .tree-folder-name
		padding: 0 5px
		font-weight: normal
		@include border-radius(6px)
		&:hover
			background-color: #eee
			cursor: pointer
	.tree-selected
		color: white
		background-color: $brand-primary
		&:hover
			color: gray
		i.tree-dot
			background-color: white
	i.tree-dot
		display: inline-block
		position: relative
		width: 6px
		height: 6px
		margin: 0 4px 0 6px
		background-color: #ccc
		@include border-radius(6px)
	.tree-item-disable, .tree-folder-name-disable
		color: #ccc
		&:hover
			color: #ccc
			background-color: none
.tree-actions
	display: inline-block

.tree-panel-heading-controls
	margin: -20px -20px 20px
	padding: 5px
	border-bottom: solid 1px #DFDFDF

.tree-actions
	.twitter-typeahead
		padding: 0 0 0 4px

.tree-panel-label-title
	font-weight: 400
	padding: 0 0 0 8px
	margin: 0