.tree
	padding: 0 0 0 20px
	list-style: none
	input
		margin-right: 4px
	i
		font-size: 1.3em
	.tree-item-name, .tree-folder-name
		padding: 0 5px
		+border-radius(6px)
		font-weight: normal
		&:hover
			background-color: #eee
			cursor: pointer
	.tree-selected
		background-color: lighten($brand-primary,30%)
		i.tree-dot
			background-color: $brand-primary
	i.tree-dot
		display: inline-block
		position: relative
		width: 6px
		height: 6px
		margin: 0 4px 0 6px
		background-color: #ccc
		+border-radius(6px)
	.tree-item-disable, .tree-folder-name-disable
		color: #ccc
		&:hover
			color: #ccc
			background-color: none
.tree-actions
	display: inline-block

.tree-panel-heading-controls
	margin: -20px -20px 20px
	padding: 5px
	border-bottom: solid 1px #DFDFDF

.tree-actions
	.twitter-typeahead
		padding: 0 0 0 4px
