<phpunit bootstrap="bootstrap.php"
         stopOnFailure="true"
         processIsolation="true"
>
    <php>
      <env name="KERNEL_CLASS" value="AppKernel" />
      <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
    <testsuites>
        <testsuite name="Integration">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../../src</directory>
            <directory suffix=".php">../../classes</directory>
            <directory suffix=".php">../../controllers</directory>
        </whitelist>
    </filter>
</phpunit>
