<phpunit
    bootstrap="bootstrap.php"
    convertDeprecationsToExceptions="false">
  <php>
    <env name="KERNEL_CLASS" value="AppKernel" />
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
  </php>
  <testsuites>
    <testsuite name="Integration">
      <directory>.</directory>
    </testsuite>
  </testsuites>
</phpunit>
