<mj-raw>
  <!-- CENTER TEXT BEGINING -->
</mj-raw>
<mj-section padding="0 25px 20px">
  <mj-column>
    <mj-text align="center">
      You can now place orders on our shop: <a href="[{shop_url}]" target="_blank" style="text-decoration:none;color:#25B9D7; display:block">{shop name}</a>
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- CENTER TEXT ENDING -->
</mj-raw>

<mj-raw>
  <!-- SHOP NAME BEGINING -->
</mj-raw>
<mj-section>
  <mj-column>
    <mj-text align="center">
      <a href="[{shop_url}]" style="color:#656565;font-size:16px;font-weight:600;">{shop_name}</a>
    </mj-text>
    <mj-text padding-top="0" align="center" color="#656565" font-size="12px">
      Powered by <a href="http://www.prestashop.com/" style="color:#656565;">PrestaShop</a>
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- SHOP NAME ENDING -->
</mj-raw>
