.attributes-color-container {
  display: block;
  width: 40px;
  height: 25px;
  border: solid 1px $black;
}

.image-container {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: auto;
}
