#carrier-form {
  .card {
    border-top: none;
    border-radius: 0;
  }
  .ranges-table {
    td {
      width: 125px;
      min-width: 125px;
      margin: 15px;
      padding-right: 5px;
      overflow:hidden;
    }
    th {
      width: 280px;
      min-width: 280px;
      vertical-align: middle;
    }
    .range-row {
      background-color: $background-grey;
      p {
        text-align: center;
        margin: 5px;
        font-weight: 600;
      }
      .range-operator {
        font-size: 20px;
        margin-left: 5px;
      }
    }
    .range-row:nth-child(2) {
      border-bottom: .125rem solid $primary;
    }
  }
  #carrier-steps-navigation {
    ul.nav-tab {
      display: flex;
      background-color: $background-grey;
      margin-left: 0;
      padding-left: 0;
      .nav-item {
        list-style-type: none;
        border: none;
        .nav-link {
          border:none;
        }
        .active {
          border-top: .1875rem solid $primary;
          background-color: $card-bg;
          color: $gray-dark;
        }
      }

    }
  }
  .form-step:not(.active) {
    display: none;
  }

  .summary-text {
    display: none;
  }

  .zones-summary-list, .groups-summary-list {
    list-style-type: none;
  }
}
