#security-compromised-page {
  .fake-button {
    height: 40px;
    line-height: 30px;
  }

  h1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #csrf-white-container {
    align-items: center;
    min-height: 100vh;

    > div:first-child {
      padding: 50px;
      background: $white;
    }
  }
}
