#currency_grid_panel {
  #currency_iso_code {
    max-width: 120px;
  }
}

.grid {
  table.grid-table {
    tr {
      td {
        .unofficial {
          color: $medium-gray;
          font-size: 20px;
        }
      }
    }
  }
}

.admincurrencies {
  .card {
    &-currency {
      .card {
        &-footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }

      &-reset {
        margin-left: 0.625rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .admincurrencies {
    .card {
      &-currency {
        .card {
          &-footer {
            &-left {
              &,
              .btn {
                width: 100%;
              }

              .btn {
                margin-bottom: 0.625rem;
              }
            }

            > .btn {
              width: 100%;
            }
          }
        }

        &-reset {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}
