/**
 * For the full copyright and license information, please view the
 * docs/licenses/LICENSE.txt file that was distributed with this source code.
 */
.admincustomers {
  #customer_birthday {
    select {
      width: 100%;
    }
  }

  #customer_discount_grid_table {
    td.column-id_cart_rule {
      word-break: inherit;
    }
  }

  .customer-personal-informations-card {
    .col-8 {
      .badge {
        display: inline-flex;
        align-items: center;

        .material-icons {
          margin-right: 0.2rem;
          font-size: 1rem;
        }
      }
    }
  }
}
