.thread-customer-icon {
  font-size: 68px;
}

.thread-message-icon {
  font-size: 48px;
}

.thread-message-employee-image {
  width: 48px;
  height: 48px;
}

.thread-message {
  border-left: 2px solid #ccc;
}
