.alert {
  &-can-move {
    width: 100%;
  }
}

#carrier_shipping_settings {
  /* stylelint-disable order/properties-order */
  .select2-container--bootstrap {
    height: 2.188rem;
    padding: 0.4375rem 0.375rem;
    padding-left: 15px;
    cursor: default;
    border: 1px solid var(--#{$cdk}primary-400);
  }

  .select2-container--classic.select2-container--open .select2-dropdown,
  .select2-container--classic.select2-container--open .select2-selection--multiple {
    border-color: var(--#{$cdk}primary-400);
  }

  .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    margin: 5px;
    background-color: var(--#{$cdk}primary-100);
  }

  .select2-container .select2-selection--multiple {
    display: flex;
    align-items: center;
    min-height: 39px;

    &::after {
      position: absolute;
      right: 6px;
      display: inline-block;
      width: auto;
      font-family: var(--#{$cdk}font-family-material-icons);
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      font-feature-settings: "liga";
      line-height: 1;
      color: var(--#{$cdk}primary-600);
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      vertical-align: middle;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
      content: "expand_more";
      text-rendering: "optimizeLegibility";
      -moz-osx-font-smoothing: grayscale;
      border: none;
      /* stylelint-disable-next-line property-disallowed-list */
      transition: 0.15s ease-out;
    }
  }

  .select2-container--open .select2-selection--multiple {

    &::after {
      /* stylelint-disable-next-line property-disallowed-list */
      transition: 0.15s ease-out;
      transform: rotate(180deg);
    }
  }

  .select2-search__field {
    /* stylelint-disable-next-line declaration-no-important */
    margin: 5px !important;
    /* stylelint-disable-next-line declaration-no-important */
    width: 100% !important;
  }

  .form-group .form-control-label{
    justify-content: flex-end;
  }

  .help-box {
    width: 19px;
    margin-right: 0;
  }

  .carrier-ranges-control {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;

    .multiple_zone_choice-widget {
      width: 100%;
    }

    .carrier-ranges-edit-row {
      .btn-label {
        width: max-content;
      }
    }
  }

  #carrier_shipping_settings_ranges_costs {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 0.6rem;

    .js-carrier-range-name {
      padding-right: 0.5rem;
    }

    .js-carrier-delete-zone {
      padding: 0 var(--#{$cdk}size-8);
      color: var(--#{$cdk}red-500);

      .material-icons {
        font-size: var(--#{$cdk}size-24);
      }
    }
  }
}
