/**
 * For the full copyright and license information, please view the
 * docs/licenses/LICENSE.txt file that was distributed with this source code.
 */
#by-status-block {
  .badge {
    height: 19px;
    padding: 0.3rem 0.4rem;
    margin-top: 1px;
    vertical-align: top;
  }
}
