.login-card {
  width: 500px;

  .shop-image-container {
    margin-top: -93px;

    > img {
      width: 69.5px;
      height: 118.5px;
    }
  }

  @include media-breakpoint-down(xs) {
    width: 90%;
  }
}

.title-row {
  margin-bottom: 120px;
  margin-top: 45px;

  img {
    width: 123px;
    height: 24px;
  }
}

.social-link {
  &:hover {
    text-decoration: none;
  }

  > img {
    width: 24px;
  }
}
