/**
 * Module Modal CSS
 */
.module-modal-title {
  display: inline-block;
  padding-left: 1em;
  display: table-cell;
  vertical-align: top;
}
.module-modal-title > h4 {
  color: #1E2024 !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  font-size: 14px;
}
.module-badges-display {
  display: inline-block;
}
.module-modal-header button.close {
  width: auto;
  margin-top: -8px;
}
.module-modal-header button.close .material-icons {
  font-size: 30px;
}
.module-modal-header > div {
  display: table-row;
}
.module-big-cover {
  height: 240px;
  overflow: hidden;
  margin-top: -15px;
  text-align: center;
}
.module-big-cover > img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  padding: 4px;
}
.module-menu-readmore {
  margin-top: 2px;
}
.module-readmore-tab-content {
  text-align: justify;
  padding: 5px 15px;
  line-height: 20px;
  margin-bottom: 61px !important;
}
.module-menu-readmore > .tab-content {
  margin-top: 5px;
  color: black;
  text-align: justify;
}
.module-modal-badges {
  margin-top: 1em;
}
.module-modal-badges > img {
  margin-right: 1em;
}
.module-modal-dialog {
  height: 85%;
  width: 50%;
}
.module-modal-content {
  border: none;
  box-shadow: none;
}
.module-modal-close {
  width: auto !important;
  margin-right: 5px;
}
.nav-tabs {
  border-bottom: 1px solid #bbcdd2;
}
.nav-link.active {
  border-bottom: 3px solid #25B9D7;
}

.module-short-list {
    margin: 2em;
}

/**
* Module list
*/

.module-item-list {
    @extend .col-md-12;
    background-color: white;
    min-height:70px;
    padding-top: 10px;
    +:nth-child(even) {
      background-color: #f5f8f9 !important;
    }
    
    @media (max-width: 47.9em) {
        padding-bottom: 0.5em;
    }
    
    .module-item-wrapper-list {
        @extend .row;
    
        .module-item-heading-list {
            @extend .col-md-4;
            @extend .col-sm-12;


            @media (max-width: 33.9em) {
                text-align: center;
            }

            > .module-logo-thumb-list {
                @extend .col-md-3;
                @extend .col-sm-12;
                height:64px;
                max-width:64px;
                margin: 0 auto;
                @media (max-width: 33.9em) {
                    height: auto;
                    max-height: 64px;
                }
                img {
                    width: 100%;
                    max-width: 64px;
                    margin-bottom: 0.5em;
                }
            }
            > .module-name-list, > .module-version-author-list {
                @extend .col-md-8
            }
            > .module-name-list {
                font-weight: bolder;
                color: $gray;
                margin: 0;
            }
            > .module-version-author-list {
                font-weight: bold;
                color: $gray-medium;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                b {
                    font-weight: bold;
                    color: $gray-dark;
                }
            }
        }

        .module-quick-description-list {
            @extend .col-md-4;
            @extend .col-sm-12;
        }

        .module-quick-action-list {
            @extend .col-md-4;
            @extend .col-sm-12;
            
            > [class^="module-star-ranking-"] {
                display:none;
            }

            .module-checkbox-bulk-list {
                @extend .col-md-2;
            }
        }
    }
}

/**
* Addons Module Cast (List view)
**/
.module-addons-item-list {
    @extend .col-xs-12;
    margin-top: 0.25em;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  
  > .module-addons-item-wrapper-list {
      @extend .row;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    
    > .module-icon-addons-exit-list {
        @extend .col-lg-1;
        @extend .col-lg-offset-3;
        @extend .col-md-2;
        @extend .col-md-offset-2;
        @extend .col-sm-12;
        @extend .col-sm-offset-0;
        @extend .col-xs-12;
        @extend .col-xs-offset-0;
        > img {
            height: 3em;
        }
      }

  }
}

/**
* Error message on catalog loading
**/ 

.module-placeholders-failure {
    display: none;

    .module-placeholders-failure-wrapper {
        text-align: center;
        margin-top: 40px;
    }
    .module-placeholders-failure-msg {
        color: red;
    }
    #module-placeholders-failure-retry {
        margin-top: 10px;
    }
}



/**
 * OTHER: Generalist CSS for module pages
 */

#module-modal-bulk-confirm-action-name {
  font-weight: bold;
}

.module-search-bar {
  height: 50px !important;
  border: 0 !important;
  background-color: white !important;
}
.module-search-block {
  padding: 5px;
  background: white;
  border: 1px solid #C7D6DB;
  border-radius: 5px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
}
.module-menu-item {
  padding: 20px;
}
.module-menu-item > div {
  padding-right: 20px;
}
.module-sorting-menu {
  margin-bottom: 30px;
}
.module-sorting {
  margin-left: 35px;
}
.module-sorting i {
  margin-left: 10px;
  cursor: pointer;
  font-size: 26px;
}
.module-sort-active {
  color: #A6B9C0 !important;
}
.module-sort-switch {
  color: #C7D6DB;
}
.module-search-icon {
  background: transparent !important;
  border: 0 !important;
}
.module-tags-input {
  border: 0;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  width: 100%;
}
.module-tags-labels {
  border: 0;
  height: 50px;
}
.module-tags-clear-btn {
  margin-right: 10px;
  margin-top: 10px;
  position: absolute;
  color: #2eacce;
  font-size: 20px;
  z-index: 498 !important;
  cursor: pointer;
  top: 0;
  right: 0;
}
.module-search-result-wording {
  color: #1E2024 !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 1em;
}
.module-addons-search {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 14px;
  display: none;
}
.module-category-reset, .module-status-reset {
  display: none;
}
.module-category-reset a, .module-status-reset a {
  color: #2eacce !important;
  text-align: center;
  border-bottom: 1px solid #E7E8E8;
}
.module-category-reset a:hover, .module-status-reset a:hover {
  color: white !important;
  background-color: #2eacce !important;
  text-align: center;
  border-bottom: 1px solid #E7E8E8;
}
.module-notification-kpis {
  margin: auto;
}
.module-kpi {
  margin-right: 15px;
  display: initial;
}
.module-kpi i {
  font-size: 30px;
  vertical-align: sub;
}
.module-kpi-number {
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}
.module-top-menu {
  min-height: 74px;
}

/*
*
* Module Categories Grid
*
*/

#modules-categories-grid {
  display: none;
}
.module-category-item {
  display: table;
  padding-bottom: 10px;
  cursor: pointer;
}
.module-category-item-wrapper {
  background: white;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 1px 0 #C7D6DB;
  height: 247px;
  max-height: 247px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
* Module import
**/

.module-import-processing {
  display: none;
  text-align: center;
}
.module-import-processing .btn {
  margin: 25px;
}
.module-import-processing-footer-text {
  font-size: smaller;
  font-style: italic;
  color: #CECCCC;
}
.module-import-success {
  display: none;
  text-align: center;
}
.module-import-success-icon {
  color: #1c8ca3;
  font-size: 70px;
}
.module-import-failure {
  display: none;
  text-align: center;
}
.module-import-failure-icon {
  color: #C45C67;
  font-size: 70px;
}
.module-import-failure-msg {
  font-weight: bold;
  margin-bottom: 0;
}
.module-import-failure-details-action {
  display: block;
  cursor: pointer !important;
}
.module-import-failure-details {
  word-wrap: break-word;
  font-size: small;
  overflow: auto;
  overflow-y: hidden;
  margin: 35px 5px 20px 5px;
  text-align: justify;
  display: none;
}
.module-import-start-icon {
  font-size: 70px;
  color: #CECCCC;
}
.module-import-start-select-manual {
  cursor: pointer !important;
}
.module-import-start-select-manual:hover {
  text-decoration: none;
}
.module-import-start-footer-text {
  font-size: smaller;
  font-style: italic;
  color: #CECCCC;
}
form#importDropzone {
  border: 2px dashed #6c868e;
}
.dropzone.dz-clickable {
  cursor: auto !important;
}
.module-import-start {
  text-align: center;
}
.module-import-failure-retry {
  margin-top: 15px;
}
.module-import-success-configure {
  display: none;
}
