#order-creation-container {
  .custom-fields-container {
    padding-bottom: 0.9375rem;

    .custom-file {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
