#order_grid {
  // Do not break text for Shop column in Orders grid
  .column-shop_name {
    word-break: normal;
  }
}

.info-block {
  background-color: #F8F8F8;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 16px;
}

#order-creation-container {
  .found-cart-rule:hover {
    cursor: pointer;
    color: $primary;
  }
}

