table#order_states_grid_table,
table#order_return_states_grid_table {
  thead {
    tr.column-headers {
      th:first-child {
        width: 130px;
      }
    }
  }

  tbody {
    .color-type.column-name {
      .badge {
        font-size: inherit;
      }
    }
  }
}
