#order-view-page {
  @media not print {
    .card-details {
      border: none;
      box-shadow: none;
      .card-body {
        padding: 0;
      }
    }
  }

  > .row:not(.d-print-none) {
    @media print {
      display: block !important; // stylelint-disable-line
    }
  }

  @media print {
    button,
    select {
      display: none;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    .left-column,
    .right-column {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;

      .card,
      .tab-pane {
        page-break-inside: avoid;
      }
    }

    .tab-content {
      padding: 0;
      background-color: inherit;
      .tab-pane {
        opacity: 1;
      }
    }

    .print-title {
      .print-title-id {
        color: #8a8a8a;
      }
    }

    .badge-dark,
    .badge-secondary {
      color: #000;
      background-color: #fff;
    }

    .badge-print-light {
      font-weight: 400;
      color: #000 !important; // stylelint-disable-line
      background-color: #fff !important; // stylelint-disable-line
    }
  }
}

.adminorders {
  @media print {
    display: block;

    .header-toolbar {
      position: initial;
    }

    #main-div .content-div {
      // Forced to use an important there to override inline-style added with JS
      /* stylelint-disable declaration-no-important */
      padding-top: 0 !important;
      /* stylelint-enable */
    }

    .toolbar-icons {
      display: none;
    }

    .content-div > .row {
      display: block;
    }
  }
}
