.product-page {
  padding-bottom: 80px;

  &::before {
    content: '';
    display: block;
    position: fixed;
    top: $size-header-height - rem(1px);
    left: $size-navbar-width;
    right: 0;
    box-shadow: $dark-grey 0 0 10px;
    z-index: 400;
    height:1px;
  }
  // Resets

  #form-loading {
    visibility: hidden;
  }

  .tab-content {
    padding: 0;
  }

  // Components

  .product-header {
    background: $white;
    margin-top: -$grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
    padding: rem(20px) 0;
  }

  .big-input {
    .form-control {
      font-size: rem(24px);
    }
  }

  .product-footer {
    box-shadow: $dark-grey 0 0 10px;
    position: fixed;
    padding: {
      top: $grid-gutter-width / 2;
      bottom: $grid-gutter-width / 2;
    }
    z-index: 400;
    background: $white;
    bottom: 0;
    left: $size-navbar-width;
    right: 0;
  }

  .form-contenttab {
    padding: {
      top: $grid-gutter-width / 2;
      bottom: $grid-gutter-width / 2;
    }
  }

  .right-column {
    @extend .form-contenttab;
  }

  .form-group {
    .title {
      margin-bottom: rem(20px);
    }
  }

  .hide {
    display: none;
  }

  // Combination generator

  .tokenfield{
    height: auto;
    padding-bottom: 0;

    input.token-input[type="text"]{
      display: inline-block;
      border:0;
      padding: 0;
      margin-top: -6px;
      margin-bottom: 0;
      background-color: transparent;
      max-width:100%;
      width: auto !important;
    }
  }

  // Combination details form

  #accordion_combinations td.img img{
    max-width:50px;
  }
  #accordion_combinations .combination td.img .fake-img{
    background: $medium-grey;
    width:50px;
    height:50px;
  }
  .product-combination-image{
    display: inline-block;
    border: 1px solid $primary;
    outline: solid 4px $white;
    margin: 5px;
  }
  .product-combination-image.img-highlight{
    outline: solid 4px $primary;
  }
  .product-combination-image input{
    display:none;
  }
  .combination-form .title{
    font-size: 20px;
  }


  // Dropzone & Image manager

  #product-images-dropzone {
    width: 100%;
    height: 340px;
    border: dashed 1px $light-grey;
    padding: 10px;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow-y: hidden;
    &.dropzone {
      .dz-preview {
        width: 130px;
        height: 130px;
        border: 1px solid $light-grey;
        &.openfilemanager {
          text-align: center;
          color: $light-grey;
          div {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            border: 5px solid $light-grey;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            span {
              text-align: center;
              display: inline-block;
              line-height: 40px;
              height: 50px;
              font-size: 30px;
              font-weight: bold;
            }
          }
        }
        .dz-image {
          border-radius: 0;
          width: 100%;
          height: 100%;
          line-height: 130px;
          &.bg {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }
          img {
            vertical-align: middle;
            display: inline-block;
          }
        }
        .iscover {
          background: $medium-grey;
          font-size: 12px;
          color: $white;
          text-align: center;
          padding: 5px;
          position: absolute;
          z-index: 10;
          bottom: 0;
          width: 100%;
        }
        &.dz-image-preview {
          .dz-remove {
            display: none;
          }
          .dz-error-mark {
            display: none;
          }
          .dz-error-message {
            display: none;
          }
          .dz-success-mark {
            display: none;
          }
          .dz-details {
            .dz-size {
              display: none;
            }
            .dz-filename {
              display: none;
            }
          }
        }
        &:hover .dz-image img {
          transform: none;
          filter: none;
        }
      }
      &.dz-clickable * {
        cursor: pointer;
      }
    }
    .dz-default.dz-message {
      //margin-top : ;
      i {
        font-size: 60px;
        color: $light-grey;
        opacity: 0.5;
        filter: alpha(opacity=50);
      }
      small {
        font-size: 12px;
        font-style: italic;
      }
    }
  }
  #product-images-form-container {
    position: absolute!important;
    z-index: 1000;
    min-height: 200px;
    right: 5px;
    top: 0;
    cursor: default !important;
    display: none;
    padding: 10px !important;
    .close {
      position: absolute;
      right: 0;
      top: 0;
    }
    .actions {
      padding-top: 15px;
    }
  }
  #product-images-container{
    .dropzone-expander {
      border-bottom: dashed 1px $light-grey;
      border-left: dashed 1px $light-grey;
      border-right: dashed 1px $light-grey;
      font-weight: bold;
      font-size: 12px;
      color: $medium-grey;
      padding: 5px 0;
      cursor: pointer;
      display: none;
      span {
        display: none;
      }
      &.expand span.expand {
        display: block;
      }
      &.compress span.compress {
        display: block;
      }
    }
  }

  .twitter-typeahead{
    .tt-menu{
      width: 100%;
      border: 1px solid $medium-grey;
      background: $white;
    }
    .tt-suggestion{
      cursor: pointer
    }
  }


  ul.typeahead-list{
    list-style: none;
    li{
      margin-top:5px;
      img{
        width: 50px;
      }
      .title{
        display:inline-block;
        float:none;
      }
    }

    &.pack{
      padding: 0;
      li{
        width: 200px;
        border: 1px solid $light-grey;
        display: inline-block;
        overflow: hidden;
        margin-right: 10px;
        position: relative;
        cursor: pointer;

        img{
          width: 100%;
          border-bottom: 1px solid $light-grey;
          margin-bottom: 5px;
        }
        span{
          display: inline-block;
          width: 100%;
          padding: 0 5px;
        }
        .title, .ref {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .quantity, .ref {
          color: $light-grey;
        }
        .delete{
          position : absolute;
          right: 2px;
          top: 2px;
          display: none;
        }
      }
      li:hover{
        border: 1px solid $primary;
        .delete{
          display: block;
        }
      }
    }
  }

}
