/**
 * For the full copyright and license information, please view the
 * docs/licenses/LICENSE.txt file that was distributed with this source code.
 */
label.custom-file-label[for="import_theme_import_from_computer"] {
  padding-right: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
