.search-translation,
.translation-page {
  .alerts {
    margin-top: 1em;
  }

  .col-offset {
    margin-left: 1em;
  }

  .hide {
    display: none;
  }
}

.search-translation {
  margin-bottom: 20px;

  .alert {
    width: 250px;
  }
}