{% block layouts_configuration %}
  <div class="col-12 layout-configuration">
    <div class="inner-content">
      <div class="d-inline-block layout-logo">
        <img src="{{ asset('themes/new-theme/scss/img/pages/themes/icon_layouts.png') }}" alt="{{ 'Configure your page layouts'|trans({}, 'Admin.Design.Feature') }}">
      </div>
      <div class="d-inline-block">
        <span class="title">{{ 'Configure your page layouts'|trans({}, 'Admin.Design.Feature') }}</span>
        <p class="mb-0 description">{{ 'Each page can use a different layout, choose it among the layouts bundled in your theme.'|trans({}, 'Admin.Design.Feature') }}</p>
      </div>
    </div>
  </div>
{% endblock %}
