<div class="card">
  <h3 class="card-header">
    {{ 'Multistore'|trans({}, 'messages') }}
  </h3>
  <div class="card-block row">
    <div class="card-text">
      {{ ps.multistore_switch(shopLogosForm.options, {
        'label': 'Multistore'|trans({}, 'messages'),
      }) }}
    </div>
  </div>
</div>

