<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>statsproduct</name>
	<displayName>Product details</displayName>
	<version>1</version>
	<description>Get detailed statistics for each product.</description>
	<author>PrestaShop</author>
	<tab>analytics_stats</tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
</module>