<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockpaymentlogo</name>
            <displayName><![CDATA[Payment logo block.]]></displayName>
            <version><![CDATA[0.2]]></version>
            <description><![CDATA[This block will display all of your payment logos.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>