<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>birthdaypresent</name>
	<displayName>Birthday Present</displayName>
	<version>1</version>
	<description>Offer your clients birthday presents automatically</description>
	<author>PrestaShop</author>
	<tab>pricing_promotion</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>