<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mondialrelay</name>
	<displayName><![CDATA[Mondial Relay]]></displayName>
	<version><![CDATA[1.7.6]]></version>
	<description><![CDATA[Deliver in Relay points]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>