div.PS_MRFormType 
{
	width:100%;
	margin-top:20px;
}

div.PS_MRFormType fieldset > ul
{
	list-style-type: none;
}

div.PS_MRFormType fieldset > ul > li
{
	margin-top:10px;
}

div.PS_MRFormType fieldset > ul > li > span.indication
{
	font-style:italic;
	font-size:11px;
	margin-left:5px;
}

div.PS_MRFormType fieldset > ul > li.PS_MRSubmit
{
	text-align:center;
}

div.PS_MRSubmitButton
{
	text-align:center;
	margin-top:20px;
}

div.PS_MRFormType fieldset > ul > li.PS_MRRequireFields
{
	display:block;
	text-align:right;
	margin-right:10px;
}

tr.PS_MRErrorList td
{
	border: 1px solid #EC9B9B;
	background-color: #FFE2E3;
	color: #383838;
	font-weight: 700;
	line-height: 18px;
	text-align:center;
}

tr.PS_MRSuccessList td
{
	border: 1px solid #72CB67;
	background-color: #DFFAD3;
	color: #383838;
	font-weight: 700;
	line-height: 18px;
	text-align:center;
}

table#PS_MRHistoriqueTableList
{
	text-align:center;	
}

table#PS_MRHistoriqueTableList tr > td > img
{
	margin-bottom:5px;
}

table#PS_MRHistoriqueTableList
{
	width:100%;
}

table#PS_MRHistoriqueTableList tr
{
	height:30px;
}

div#otherErrors
{
	display:none;
}

div#otherErrors span
{
	text-align:left;
}

div#PS_MRUnRemovedItem
{
	display:none;
	color:#FF0000;
}

.shippingList {

}
.shippingList li {
	margin: 5px;
	display: block;
	clear: both;
}
.shipLabel {
	width: 230px;
	float: left;
	text-align: left;
}
.selectShipping {
	width: 100px;
}
.settingsList {
	width: 400px;
	float: left;
	margin-right: 10px;
}
.settingsList li {
	display: block;
	padding: 5px;
	clear: both;
}
.upsLabel {
	width: 170px;
	float: left;
	text-align: left;
}
.upsInput {
	float: left;
}
.upsSubmit {
	text-align: center;
}
.addMethodForm {
	margin-bottom: 10px;
}

table#orders
{
	width:100%;
}
			
table#orders td
{
		text-align:center;
		height: 30px;		
}
			
table#orders th
{
		text-align:center;
		height: 40px;
}			
			
table#orders th.fixed
{
		width:70px;
}
			
table#orders tr
{
		text-align:center;
}
			
div.submit_button
{
		margin-top:10px;
		text-align:center;
}

div.PS_MRLoader
{
	display:none;
}

div#PS_MRAskBackupContent
{
	border:1px solid #000;
	background: url(logo_hd.png) no-repeat 10px 50px #BEBEBE;
	line-height:18px;
	font-size:14px;
	height:190px;	
}

div#PS_MRAskBackupContent div
{
	width:290px;
	float:right;
	margin-right:20px;
	text-align: center;
}

div#PS_MRAskBackupContent div > p
{
	line-height: 30px;
}

div#PS_MRAskBackupContent h2
{
	padding-top:10px;
}

tr.PS_MRSelectedCarrier > td
{
	text-align: center;
	border-bottom: 1px black;
}

.PS_MRWarn
{
	border: 1px solid #D3C200;
	background-color: #FFFAC6;
	line-height: 20px;
}

.PS_MRRelayPointInfo
{
	text-align: left;
	vertical-align: top;
	margin: 10px 0;
	cursor: pointer;
}

.PS_MRRelayPointInfo:hover
{
	background-color: #f4f4f4;
}

.PS_MRRelayPointInfo img
{
	height: 40px;
	float:left;
}

.PS_MRRelayPointInfo p
{
 float:left;
 width:380px;
 text-align: justify;
}

.PS_MRFloatRelayPointSelecteIt
{
	display:none;
}

.PS_MRRelayPointInfo:hover .PS_MRFloatRelayPointSelecteIt
{
	display:block;
}

.PS_MRRelayPointInfo .PS_MRFloatRelayPointSelected
{
	color:#333333;
	background:url(images/selectRelayPoint.png) no-repeat 0px -25px;
}

.PS_MRFloatRelayPointSelected
{
	display:block;
}

.PS_MRFloatRelayPointSelecteIt a.PS_MRSelectRelayPointButton 
{
	float:right;
	display: block;
	width: 60px;
	height: 20px;
	padding: 5px 20px 0px 25px;
	color:#666666;
	text-decoration: none;
	margin-top: 8px;
	background:url(images/selectRelayPoint.png) no-repeat 0px 0px;
}

.PS_MRFloatRelayPointSelected a.PS_MRSelectRelayPointButton 
{
	font-size: 10px;
	float:right;
	display: block;
	width: 60px;
	height: 20px;
	padding: 7px 20px 0px 25px;
	text-decoration: none;
	margin-top: 8px;
	color:#333333;
	background:url(images/selectRelayPoint.png) no-repeat 0px -25px;
}

a.PS_MRSelectRelayPointButton:hover 
{
	color:#333333;
	background:url(images/selectRelayPoint.png) no-repeat 0px -25px;
}

.PS_MRGmapDefaultPosition
{
}

.PS_MRGmapDefaultPosition
{
	display:none;
}

div.PS_MRGmapStyle
{
	width: 550px;
	height:250px;
	display: none;
}

div#PS_MRPersonalizedFields
{
	display:none;
}

.clearfix:before,
.clearfix:after 
{
	content: ".";
	display: block;
	height: 0;
	overflow: hidden
}
.clearfix:after {clear: both}
.clearfix {zoom: 1}

.PS_MRGmapBulbe
{
	width:405px;
	height:66px;
	overflow: hidden;
}

.MR_date {width:450px;position:relative;float:right; line-height: 9px;}
.MR_date span.titre {margin-left:50px;font-weight:bold;}
.MR_date span.vacances {margin-left:5px;color:Red; }
.MR_date table {border-spacing:3px;font-size:11pt; border: solid 1px #eee;}
.MR_date tr.p {background-color:#e9e9e9; height:9px;}
.MR_date td.g {font-weight:bold;}
.MR_date td.d {}
