<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>themeconfigurator</name>
	<displayName><![CDATA[Theme configurator]]></displayName>
	<version><![CDATA[0.3]]></version>
	<description><![CDATA[Configure the main elements of your theme.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>