<h1 class="custom">Alerts</h1>

<div class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Well done!</strong> You successfully read this <a href="#">important</a> alert message.
</div>

<div class="alert alert-info" role="alert">
  <strong>Heads up!</strong> This alert needs your <a href="#">attention</a>, but it's not super important.
</div>

<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert alert-danger" role="alert">
  <strong>Oh snap!</strong> Change a few things up and try submitting again.
  <ul>
    <li>Error 1</li>
    <li>Error 2</li>
  </ul>
</div>
