<h1 class="custom">Navs</h1>

<div class="v-spacer">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
    <li role="presentation" class="disabled"><a href="#">Disabled link</a></li>
  </ul>
</div>

<div class="v-spacer">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
    <li role="presentation" class="disabled"><a href="#">Disabled link</a></li>
  </ul>
</div>

<div class="v-spacer">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
    <li role="presentation" class="disabled"><a href="#">Disabled link</a></li>
  </ul>
</div>
