<h1 class="custom">Thumbnails</h1>

<div class="thumbnail" style="width: 320px;">
  <img src="https://placehold.co/320x180" data-src="https://placehold.co/200x200" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
  <div class="caption">
    <h3>Thumbnail label</h3>
    <p>...</p>
    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
  </div>
</div>