.cart-summary-line {

  > .label {
    color: $gray-darker;
    @include pull-left;
  }

  > .value {
    color: $gray-darker;
    @include pull-right;
  }
}

/*** CART ***/
.cart-grid {
  @include make-row();

  > .cart-grid-body {
    @include make-col();
  }

  > .cart-grid-right {
    @include make-col();
  }
}

/** CART BODY **/
.cart-grid-body {

  > a.label {
    color: $gray-darker;
  }
}

/** CART RIGHT **/
.cart-grid-right {

  > a.label {
    color: $gray-darker;
  }

  > .cart-summary {
    .cart-total {
      > .label {
        color: $gray-darker;
        font-size: 100%;
      }
    }
  }
}

/*** PRODUCT LINE ***/
.product-line-grid {
  @include make-row();

  > .product-line-grid-left {
    @include make-col();
  }

  > .product-line-grid-body {
    @include make-col();
  }

  > .product-line-grid-right {
    @include make-col();
  }
}

/** CONTENT LEFT **/
.product-line-grid-left {

}

/** CONTENT BODY **/
.product-line-grid-body {

  > .product-line-info {

    > .label {
      color: $gray-darker;
      font-size: em(12px);
      font-weight: 800;
    }

    > .value {
      color: $gray-darker;
      font-size: em(12px);
      font-weight: 400;
      padding: .25em .4em;
    }

    > .out-of-stock {
      color: red;
    }

    > .available {
      color: $green;
    }
  }
}

/** CONTENT LEFT **/
.product-line-grid-right {

  > .bootstrap-touchspin {
    max-width: em(75px);
    @include pull-left;

    > .form-control,
    > .input-group {
      color: $gray-darker;
      background-color: white;
      border: $input-btn-border-width solid $input-border-color;
      height: $input-height;
      padding: .175rem .5rem
    }
  }

  ._vertical-align {
    line-height: 40px;
  }
}

.product-price {
  color: $gray-darker;
}
