.cart-body {
  @include box-shadow;
  background: white;
  .cart-body-header {
    padding: rem(20px);
    h1 {
      text-transform: uppercase;
      color: $gray-darker;
      font-weight: 700;
      font-size: rem(22px);
    }
  }
}



/*** CART ***/
.cart-grid {
  @include make-row();

  > .cart-grid-body {
    @include make-col();
  }

  > .cart-grid-right {
    @include make-col();
  }
}

/** CART BODY **/
.cart-grid-body {

  h1 {
    margin: 0;
  }

  > a.label {
    color: $gray-darker;
  }
}

/** CART RIGHT **/
.cart-grid-right {

  > a.label {
    color: $gray-darker;
  }

  > .cart-summary {
    .cart-total {
      > .label {
        color: $gray-darker;
        font-size: 100%;
      }
    }
  }
}

/*** PRODUCT LINE ***/
.product-line-grid {
  @include make-row();

  > .product-line-grid-left {
    @include make-col();
  }

  > .product-line-grid-body {
    @include make-col();
  }

  > .product-line-grid-right {
    @include make-col();
  }
}

/** CONTENT LEFT **/
.product-line-grid-left {

}

/** CONTENT BODY **/
.product-line-grid-body {

  > .product-line-info {

    > .label {
      color: $gray-darker;
      font-size: em(14px);
      font-weight: 700;
    }

    > .value {
      color: $gray-darker;
      font-size: em(14px);
      font-weight: 400;
      padding: .25em .4em;
    }

    > .out-of-stock {
      color: red;
    }

    > .available {
      color: $green;
    }
  }
}

/** ACTIONS **/
.product-line-grid-right {

  .bootstrap-touchspin {
    max-width: em(55px);
    @include pull-left;
    @include box-shadow;
    .form-control {
      color: $gray-darker;
      background-color: white;
      border: $input-btn-border-width solid $input-border-color;
      height: $input-height;
      padding: rem(2px) rem(8px);
    }
  }

  .cart-line-product-actions {
    i {
      font-size: rem(20px);
      margin-left: rem(8px);
      line-height: $input-height;
    }
  }

  .product-price {
    color: $gray-darker;
    float: right;
    margin-right: rem(40px);
    font-weight: 700;
    line-height: $input-height;
  }

}

.cart-summary {
  @include box-shadow;
  background: white;
  font-size: rem(14px);
  color: $gray-darker;
  .cart-total {
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
  }
  .checkout { 
    padding: rem(12px) 0;
    ul {
      margin: 0;
    }
  }
}

.cart-summary-line {
  padding: rem(12px) rem(20px);
  .label {
    color: inherit;
    font-size: inherit;
    @include pull-left;
  }
  .value {
    @include pull-right;
  }
  overflow: auto;
}
