#products {
  color: $gray-dark;
}
.block-category {
  background: white;
  padding: em(40px) em(25px);
  min-height: em(220px);
  position: relative;
  @include box-shadow;
  #category-description {
    p,
    strong {
      font-weight: 300;
      color: $gray;
    }
    p {
      color: $gray-darker;
      margin-bottom: 0;
      &:first-child {
        margin-bottom: em(20px);
      }
    }
  }
  .category-cover {
    position: absolute;
    right: em(60px);
    bottom: 0;
  }
}
.products-sort-order {
  color: $gray-dark;
  .select-title {
    display: inline-block;
    width: em(270px);
    color: $gray-darker;
    background: white;
    padding: em(10px);
    cursor: pointer;
  }
  .select-list {
    display: block;
    color: $gray-darker;
    padding: em(10px) em(25px);
    &:hover {
      background: $brand-primary;
      color: white;
      text-decoration: none;
    }
  }
  .dropdown-menu {
    right: 0;
    left: auto;
    width: em(270px);
    background: $gray-lighter;
    border: none;
    border-radius: 0;
  }
}
#search_filters {
  @include box-shadow;
  background: white;
  padding: em(20px);
  #facet-checkbox {
    display: none;
    + span {
      display: inline-block;
      width: em(15px);
      height: em(15px);
      vertical-align: middle;
      cursor: pointer;
      border: 2px $gray solid;
      .check {
        display: none;
        margin: em(-4px) em(-2px);
        font-size: 1.1em;
        color: $gray-darker;
      }
    }
    &:checked + span {
      .check {
        display: block;
      }
    }
  }
  .facet {
    .facet-title {
      color: $gray;
    }
    .search-link {
      font-size: em(14px);
    }
    .facet-label {
      margin-bottom: 0;
    }
  }
}
.pagination {
  width: 100%;
  .page-list {
    background: white;
    padding: em(10px) em(20px);
    li {
      display: inline;
    }
  }
  a {
    color: black;
    font-weight: 600;
  }
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
  .disabled {
    color: $gray;
  }
  .current a {
    color: $brand-primary;
    text-decoration: none;
  }
}
.active_filters {
  background: #dededd;
  padding: em(20px) em(35px) 0;
  .active-filter-title {
    font-size: em(15px);
    display: inline;
  }
  ul {
    display: inline;
  }
  .filter-block {
    @include box-shadow;
    background: white;
    padding: em(10px);
    display: inline-block;
    font-size: em(13px);
    .close {
      color: $gray-darker;
      font-size: em(15px);
      opacity: 1;
      margin-top: em(6px);
      margin-left: em(5px);
    }
  }
}
