body#checkout {
    background-color: $gray-light;    
}

#checkout-cart-summary {
    box-shadow: 4px 2px 3px $gray-dark;
    background-color: $gray-lighter;    
    float: right;
    border: 1px $gray-light solid;
    padding: 10px;
    width: 25%;
}

section#content {
    margin-top: 25px;
}

section.checkout-step {

    background-color: $gray-lighter;    
    box-shadow: 4px 2px 3px $gray-dark;
    
    .form-group {
        margin-left: 10%;
        
        input, select {
            width: 75%;
            background-color: $gray-light;
        }
    }
    
     .content {
        padding: 30px;
    }
    
    label {
        text-align: left;
    }

    .content, .step-edit, .done {
        display: none;
    }

    &.-js-current {
        .content {
            display: block;
        }
    }

    &.-js-current.-reachable.-complete {

        .done, .step-edit {
            display: none;
        }

        .step-number {
            display: inline-block;
        }

        .content {
            display: block;
        }
    }

    &.-reachable.-complete {
        
        h1 {
            .done {
                display: block;
                color: $green;
                display: inline-block;
                padding: 0px 13px;
                margin-right: 25px;
            }

            .step-number {
                display: none;
            }

            .step-edit {
                display: block;
                float: right;
                margin-right: 2px;
                color: $gray;
            }
        }

        .content {
            display: none;
        }
    }

    width: 70%;
    border: 1px $gray-light solid;
    padding: 15px;
    
    span {
        font-weight: 400;
    }
    label {
        display: block;
    }
    small {
        color: $gray;
    }
    .default-input{
        min-width: 40%;
        &[name=address1],
        &[name=address2] {
            min-width: 60%;
        }
    }
    .radio-field {
        margin-top: 30px;
        label {
            display: inline;
        }
    }
    .checkbox-field div {
        margin-top: 60px;
    }
    .checkbox-field + .checkbox-field div {
        margin-top: 0;
    }
    .select-field div {
        background: $gray-lighter;
        padding: 10px 50px;
    }
    .form-footer {
        text-align: center;
    }
    .payment-option label {
        display: table-cell;
    }
    .submit-button {
        color: white;
        border: none;
        padding: 14px 18px;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 20px;
    }
    .sub-link {
        margin-left: 65px;
        display: inline-block;
    }
    .step-number {
        display: inline-block;
        padding: 6px 13px;
        margin-right: 25px;
    }
    input[type=text],
    input[type=password],
    input[type=date] {
        border: $gray-light 2px solid;
        border-radius: 2px;
    }
}
.shipping .label {
    color: $gray-light;
}
.cart-summary-totals .label {
    color: $gray-light;
}
