body#checkout {
  background-color: $gray-light;
  color: #363A41;
  #header .header-nav {
    max-height: none;
    padding: em(80px) 0 em(15px);
    border: none;
    @include box-shadow;
  }
}
#checkout-cart-summary {
  @include box-shadow;
  background-color: white;
  float: right;
  border: 1px $gray-light solid;
  padding: 10px;
  width: 25%;
}
section#content {
  margin-top: 25px;
}
section.checkout-step {
  @include box-shadow;
  background-color: white;
  .step-title {
    font-size: em(18px);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }
  .content {
    padding: 30px;
  }
  .step-edit {
    font-size: em(12px);
  }
  .content,
  .step-edit,
  .done {
    display: none;
  }
  &.-js-current {
    .content {
      display: block;
    }
  }
  &.-js-current.-reachable.-complete {
    .done,
    .step-edit {
      display: none;
    }
    .step-number {
      display: inline-block;
    }
    .content {
      display: block;
    }
  }
  &.-reachable.-complete {
    h1 {
      .done {
        display: block;
        color: $green;
        display: inline-block;
        padding: 0 13px;
        margin-right: 25px;
      }
      .step-number {
        display: none;
      }
      .step-edit {
        cursor: pointer;
        display: block;
        float: right;
        margin-right: 2px;
        color: $gray;
      }
    }
    .content {
      display: none;
    }
  }
  width: 70%;
  border: 1px $gray-light solid;
  padding: 15px;
  small {
    color: $gray;
  }
  .default-input {
    min-width: 40%;
    &[name=address1],
    &[name=address2] {
      min-width: 60%;
    }
  }
  .radio-field {
    margin-top: 30px;
    label {
      display: inline;
    }
  }
  .checkbox-field div {
    margin-top: 60px;
  }
  .checkbox-field + .checkbox-field div {
    margin-top: 0;
  }
  .select-field div {
    background: $gray-lighter;
    padding: 10px 50px;
  }
  .form-footer {
    text-align: center;
  }
  .payment-option label {
    display: table-cell;
  }
  .sub-link {
    margin-left: 65px;
    display: inline-block;
  }
  .step-number {
    display: inline-block;
    padding: 6px 13px;
    margin-right: 25px;
  }
}
.products,.shipping,.cart-summary-totals {
  margin-top: em(20px);
}
.cart-summary-totals .label,.cart-summary-totals .value{
  font-weight: 700;
  color: $gray-darker;
  padding: 0;
  font-size: em(18px);
  .sub{
    font-weight: normal;
    bottom: 0;
  }
}
.shipping .label,
.products .label {
  color: $gray-darker;
  padding: 0;
  font-weight: 400;
}
#cart-summary-product-list {
  font-size: em(14px);
  img {
    border: $gray-light 1px solid;
    width: em(50px);
  }
}
