#block-cmsinfo {
  background: white;
  border-radius: 2px;
  margin-top: em(70px);
  padding: em(50px) em(290px);
  text-align: center;
  h3 {
    text-transform: uppercase;
    color: $gray-dark;
    font-size: em(25px);
    font-weight: 700;
  }
  p {
    color: $gray-dark;
    font-weight: 300;
    font-size: 1.1em;
    .dark {
      color: $gray;
      font-weight: 300;
    }
  }
}
