.contact-rich {
  color: $gray-dark;
  margin-bottom: rem(32px);
  h4 {
    font-size: rem(18px);
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-darker;
    margin-bottom: rem(32px);
  }
  .block {
    height: auto;
    overflow: hidden;
    .icon {
      float: left;
      width: rem(56px);
      i {
        font-size: rem(32px);
      }
    }
    .data {
      color: $gray-darker;
      font-size: rem(14px);
      width: auto;
      overflow: hidden;
    }
  }
}
.contact-form {
  @include box-shadow;
  background: white;
  padding: rem(16px);
  color: $gray-dark;
  width: 100%;
  h3 {
    font-size: rem(18px);
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-darker;
  }
}
