.table-labeled {
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
  .label {
    font-size: inherit;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.card-header {
  font-size: 1.25rem;
}

.login-form {
  margin: 1.5rem auto;
  max-width: 600px;
  form {
    .forgot-password {
      margin: 1rem 0;
    }
  }
}

.register-form {
  margin: 1.5rem auto;
}

.page-my-account {
  .links {
    a {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}

.page-authentication {
  .no-account {
    text-align: center;
    font-size: 1.25rem;
    margin: 1rem 0;
  }
}

.page-addresses {
  .address {
    border: 1px solid $gray;
    margin-bottom: 1rem;
    address {
      min-height: 9.5rem;
    }
  }
}

.page-order {
  table {
    thead {
      th {
        text-align: center;
      }
    }
  }
}

.page-order-details {
  #order-infos {
    ul {
      margin: 0;
    }
  }
}

#order-return-form {
  margin-bottom: 1rem;
}

#order-products {
  &.return {
    th {
      &.head-checkbox {
        width: 30px;
      }
    }
    td {
      padding: 1.375rem 0.75rem;
      &.qty {
        min-width: 125px;
        .current {
          width: 30%;
          float: left;
          text-align: right;
          padding-right: 0.5rem;
        }
        .select {
          width: 70%;
          float: left;
          margin: -0.625rem 0;
          padding-left: 0.25rem;
          select {
            text-align: center;
          }
        }
      }
    }
  }
}
