.drop-down{
  margin-top: 20px;
  span,a,i{
    color:$gray-light;
  }
  ul{
    list-style: none;
    visibility: hidden;
    max-height: 0;
    padding-left: 0;
    background: white;
    @include transition(max-height .7s $ease-out-quad);
  }
  i{
    vertical-align: middle;
    margin-left: 10px;
  }
  .expand-more{
    cursor: pointer;
    @include user-select(none);
  }

  .active{
    max-height: 200px;
    overflow-y: hidden;
    visibility: visible;
  }
}
