.dropdown{
  color:$gray;
  .expand-more{
    color: $gray-darker;
    cursor: pointer;
    @include user-select(none);
    &:hover{
      color: $brand-primary;
    }
  }

  .active{
    max-height: 200px;
    overflow-y: hidden;
    visibility: visible;
  }
}

.dropdown-item:focus, .dropdown-item:hover {
  background: none;
  text-decoration: none;
  color: $brand-primary;
}
