.dropdown{
  color:$gray;
  .expand-more{
    color: $gray-darker;
    cursor: pointer;
    @include user-select(none);
  }

  .active{
    max-height: 200px;
    overflow-y: hidden;
    visibility: visible;
  }
}
