.featured-products {
  .product-thumbnail {
    display: block;
  }
  .product-title a {
    color: $gray;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
  }
  .thumbnail-container {
    margin-bottom: em(25px);
    height: 370px;
    width: 257px;
    background: white;
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.05);
    &:hover {
      .highlighted-informations {
        bottom: 140px;
      }
    }
  }
  .products-section-title {
    text-align: center;
    font-size: em(22px);
    font-weight: 700;
    margin: em(50px) 0 em(40px);
    color: $gray-dark;
  }
  .product-title {
    text-align: center;
  }
  .product-description-short,
  .product-list-actions,
  .discount,
  .product-availability {
    display: none;
  }
  .product-price-and-shipping {
    color: $gray-dark;
    font-weight: 700;
    text-align: center;
  }
  .variant-links {
    background: $gray-light;
    position: relative;
    text-align: center;
    width: 100%;
    top:em(5px);
    padding-top: em(5px);
    .color {
      display: block;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin: em(5px);
      box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
    }
  }
  .highlighted-informations {
    position: absolute;
    bottom: 45px;
    z-index: 0;
    background: white;
    text-align: center;
    width: 257px;
    height: 90px;
    padding-top: em(15px);
    box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
    @include transition(all .7s ease-in-out);
    .quick-view {
      color: $gray-dark;
      font-size: 1em;
    }
  }
  .product-description {
    position: absolute;
    z-index: 1;
    background: white;
    width: 257px;
    bottom: 42px;
    box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
  }
  img {
    margin-left: 4px;
  }
  .product-labels .new,
  .discount-percentage {
    display: block;
    position: absolute;
    top: em(-280px);
    left: em(-7px);
    padding: em(5px) em(10px);
    color: white;
    background: $blue;
    text-transform: uppercase;
    width: 50px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    &.discount-percentage {
      z-index: 2;
      background: $orange;
    }
  }
  .comments_note {
    text-align: center;
    color: $gray;
  }
  .regular-price {
    color: $gray;
    text-decoration: line-through;
    font-size: em(14px);
  }
  .count{
    color:$gray-dark;
    font-weight: 700;
    position: relative;
    bottom: em(8px);
    font-size: em(18px)
  }
  .all-product-link{
    clear: both;
    color:$gray-dark;
    font-weight: 700;
    margin-top: em(30px);
    margin-bottom: em(50px);
    font-size: em(18px);
  }
}
