.product-images {
  li {
    display: inline;
  }
}
.product-price {
  color: $brand-primary;
}
#product-description-short {
  color: $gray-darker;
}
.product-information {
  color: $gray-darker;
}
.input-color {
  position: absolute;
  top: em(7px);
  left: em(8px);
  opacity: 0;
  cursor: pointer;
  &:hover + span,
  &:checked + span {
    border: 2px solid $gray-darker;
  }
}
.input-radio {
  position: absolute;
  top: em(5px);
  left: em(7px);
  cursor: pointer;
  opacity: 0;
}
.radio-label {
  @include box-shadow;
  background: white;
  display: inline-block;
  padding: em(2px) em(10px);
  font-weight: 600;
}
.product-quantity {
  display: inline-block;
}
#quantity_wanted {
  @include box-shadow;
  text-align: center;
  width: em(50px);
  height: em(40px);
  border: none;
}
.product-variants {
  .add-to-cart {
    font-weight: 600;
    padding: em(3px) em(10px);
    background: transparent;
    border: none;
    + .material-icons{
      padding-top: em(3px);
    }
  }
}
.product-discount {
  .regular-price {
    font-size: em(20px);
    font-weight: 700;
  }
  .discount-percentage {
    background: $brand-secondary;
    color: white;
    font-weight: 700;
    padding: em(5px);
  }
}
.tabs {
  @include box-shadow;
  background: white;
  padding: em(20px) em(30px);
  .tab-pane {
    padding-top: em(30px);
  }
  .nav-tabs {
    border: none;
    border-bottom: $gray-light 2px solid;
    .nav-link {
      color: $gray-dark;
      &.active {
        border: none;
        border-bottom: $brand-primary 3px solid;
      }
      &:hover {
        border: none;
        border-bottom: $brand-primary 3px solid;
      }
    }
    .nav-item {
      margin-bottom: -2px;
    }
  }
}
.product-cover {
  .layer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 452px;
    height: 452px;
    background: white;
    position: absolute;
    left: 2px;
    top: 0;
    opacity: 0;
    background: rgba(255,255,255,0.7);
    text-align: center;
    cursor: pointer;
    @include transition(opacity .7s ease-in-out);
    &:hover {
      opacity: 1;
    }
    .zoom-in {
      font-size: em(100px);
      color: white;
    }
  }
}
#product-modal {
  .modal-content {
    background: transparent;
    border: none;
    padding: 0;
    .modal-body {
      display: flex;
      margin-left: -30%;
      .image-caption {
        background: white;
        margin-left: 4px;
        width: 800px;
        padding: em(10px) em(20px);
        border-top: $gray-light 1px solid;
        p {
          margin-bottom: 0;
        }
      }
      .mask {
        overflow: hidden;
        max-height: em(822px);
      }
      .product-images {
        margin-left: em(40px);
        img {
          width: em(148px);
          cursor: pointer;
          &:hover {
            border: $brand-primary 3px solid;
          }
        }
      }
      .arrows {
        i {
          font-size: em(100px);
          display: inline;
        }
        cursor: pointer;
      }
    }
  }
}

#blockcart-modal {
  color: $gray-darker;
  .modal-header{
    background: $brand-success;
  }
  .modal-body{
    background: $gray-light;
  }
  .modal-dialog{
    max-width: 1140px;
    width: 100%;
  }
  .product-image{
    width: em(210px);
  }
  .modal-title{
    font-weight: 600;
    color: white;
    font-size: em(18px);
  }
  .product-name{
    color:$brand-primary;
    font-size: em(18px);
  }
  .cart-products-count{
    font-size: em(18px);
  }
  .cart-content{
    padding-left: em(40px);
  }
}
.thumb {
  cursor: pointer;
  &:hover {
    border: $brand-primary 3px solid;
  }
}
#product-availability {
  display: inline-block;
  font-weight: 700;
  .check {
    color: $brand-success;
    margin-right: em(5px);
  }
}
.product-labels {
  margin-bottom: 0;
}
li.product-label {
  display: none;
  &:last-child {
    display: block;
    position: absolute;
    background: $brand-primary;
    font-weight: 700;
    padding: em(5px) em(7px);
    text-transform: uppercase;
    color: white;
    margin-top: em(10px);
    margin-left: em(-5px);
    z-index: 2;
  }
}
.product-customization {
  @include submit-button;
}
