//Avatar
.employee_avatar_small
	@extend .avatar-sm

.employee_avatar
	@extend .avatar-lg
	display: block!important
	margin: 10px auto!important
	text-align: center
	@include box-shadow(white 0 0 0 2px, #ccc 0 0 10px 3px)

@mixin avatar($size)
	height: $size
	width: $size
	display: inline-block
	text-align: center
	background-color: #eee
	overflow: hidden
	@include border-radius($size)
	img
		width: 100%
		height: 100%
	i
		font-size: $size/3*2
		line-height: $size

.avatar-xs
	@include avatar(16px)
.avatar-sm
	@include avatar(32px)
.avatar-md
	@include avatar(64px)
.avatar-lg
	@include avatar(96px)
.avatar-xl
	@include avatar(128px)


.message-item-initial
	h2
		font-size: 1.5em
		margin: 0 0 5px 0
	.message-item-initial-body
		@extend .panel
		position: relative
		margin-top: 10px
	.message-date
		color: #bbb
		margin-bottom: 10px

//Messages
.message-item
	@extend .media
	position: relative
	border-bottom: solid 1px #EEEEEE
	margin-left: 30px
	&:last-child
		border: none
	.message-item-heading
		display: inline-block
	.message-body
		margin: 0 0 0 80px 
		.message-item-text
			padding: 0 0 0 10px
			border-left: 2px solid #ccc
	.message-avatar
		position: absolute
		top: 0
		left: 0
	.message-date
		color: #bbb

//Arrows
.arrow:before, .arrow:after
	position: absolute
	display: inline-block
	border-color: transparent
	border-style: solid
	content: ""
.arrow-left:before
	margin-left: -7px
	top: 6px
	left: 0px
	border-right-color: #d1d4d7
	border-width: 7px 7px 7px 0
.arrow-left:after
	margin-left: -6px
	top: 7px
	left: 0px
	border-right-color: #fff
	border-width: 6px 6px 6px 0
.arrow-right:before
	margin-right: -7px
	top: 6px
	right: 0px
	border-left-color: #d1d4d7
	border-width: 7px 0 7px 7px
.arrow-right:after
	margin-right: -6px
	top: 7px
	right: 0px
	border-left-color: #fff
	border-width: 6px 0 6px 6px

//Timeline
$time-icon-size: 40px
.timeline
	display: table
	width: 100%
	border-spacing: 0
	table-layout: fixed
	position: relative
	border-collapse: collapse
	&:before
		content: ""
		width: 6px
		margin-left: -4px
		position: absolute
		left: 50%
		top: 0
		bottom: 30px
		background-color: #ddd
		z-index: 0
	.timeline-item
		display: table-row
		.timeline-caption
			display: table-cell
			vertical-align: top
			width: 50%
			.timeline-panel
				@extend .panel
				@include box-shadow(0)
				display: inline-block
				position: relative
				margin-left: $time-icon-size + 2px
				position: relative
				text-align: left
			h5
				margin: 0
				span
					display: block
					color: #999
					margin-bottom: 4px
					font-size: 12px
			p
				font-size: 12px
				margin-bottom: 0
				margin-top: 10px
		.timeline-date
			position: absolute
			width: 150px
			left: -220px
			top: 10px
			text-align: right
		.timeline-icon
			position: absolute
			left: -($time-icon-size + $time-icon-size/2 + 2px)
			width: $time-icon-size
			height: $time-icon-size
			line-height: $time-icon-size
			border-radius: $time-icon-size
			top: -2px
			text-align: center
			border: 2px solid #fff
			background-color: #666
			i
				font-size: ($time-icon-size/2)
				margin-top: 5px
				color: #fff
		&:before, &.alt:after
			content: ""
			display: block
			width: 50%
		&.alt
			text-align: right
			&:before
				display: none
			.timeline-panel
				margin-right: $time-icon-size
				margin-left: 0
			.timeline-date
				left: auto
				right: -220px
				text-align: left
			.timeline-icon
				left: auto
				right: -($time-icon-size+$time-icon-size/2)
		&.active
			display: table-caption
			text-align: center
			&:before
				width: 1%
			.timeline-panel
				margin-left: 0
			.timeline-caption
				display: inline-block
				width: auto
			.timeline-date,
			.timeline-icon
				position: static
				margin-bottom: 10px
				display: inline-block
				width: auto
.command-danger
	background-color: $brand-danger!important
.command-success
	background-color: $brand-success!important