/**
 * For the full copyright and license information, please view the
 * docs/licenses/LICENSE.txt file that was distributed with this source code.
 */
.nowrap {
  white-space: nowrap;
}

#customization_list {
  border: 0;
}

.table.order_return {
  .filter {
    .center {
      input {
        margin: auto;
      }
    }
  }
}
