/**
 * For the full copyright and license information, please view the
 * docs/licenses/LICENSE.txt file that was distributed with this source code.
 */
#leave_bprice {
  margin-left: 0;
}

.product-line-row {
  td {
    max-width: 200px;
    overflow-wrap: break-word;
  }
}
