/**
 * For the full copyright and license information, please view the
 * docs/licenses/LICENSE.txt file that was distributed with this source code.
 */
.adminsearch {
  #content {
    .panel .panel {
      padding: 0;
      margin: 0;
      border: none;
      @include border-radius(0);
      @include box-shadow(0);
    }
  }
}
