.theme-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: rgba(#4d576e, 0.3);
  border: solid 1px #ccc;
  @include border-radius(3px);

  .thumbnail {
    width: 100%;
    margin-bottom: 0;
  }

  .theme-title {
    height: 40px;
    padding: 0;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background-color: #4d576e;
    border-bottom: solid 1px #fff;
  }

  .thumbnail-wrapper {
    .action-wrapper {
      position: absolute;
      top: 40px;
      left: 0;
      display: none;

      .action-overlay {
        width: 100%;
        height: 260px;
        @include background-image(linear-gradient(rgba(#4D576E,0.5),#4D576E));
      }

      .action-buttons {
        position: absolute;
        top: 130px;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.addons-see-all-themes {
  padding-top: 21px;

  a {
    margin-left: 10px;
  }
}

.addons-style-search-bar {
  padding-top: 0;
}

&#content #psthemecusto {
  @media (max-width: $screen-xs) {
    .panel .panel-heading {
      display: flex;
      flex-wrap: wrap;
      padding-top: 5rem;

      .btn.btn-primary {
        margin: 0.5rem;
      }
    }
  }
}

// Theme Configuration Page
@at-root {
  #main {
    #content {
      #psthemecusto {
        .panel {
          &:first-child {
            border: 1px solid var(--#{$cdk}primary-400);
          }

          &-heading {
            width: auto;
            padding: var(--#{$cdk}size-8) !important;
            margin: calc(-1 * var(--#{$cdk}size-24)) calc(-1 * var(--#{$cdk}size-24)) var(--#{$cdk}size-24) calc(-1 * var(--#{$cdk}size-24));
            background-color: var(--#{$cdk}primary-200);

            .btn {
              margin: 0;
              color: var(--#{$cdk}primary-800);
              background-color: transparent;
              border-radius: 0;

              &.btn-primary {
                &:hover {
                  background-color: var(--#{$cdk}white) !important;
                }

                &.selected {
                  color: var(--#{$cdk}white);
                  background-color: var(--#{$cdk}primary-800) !important;
                  border-color: var(--#{$cdk}primary-800) !important;
                  border-radius: 0 !important;
                }
              }
            }
          }
        }

        .form-action-button-container {
          display: flex;
          align-items: stretch;

          .dropdown-action {
            height: auto;

            i {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
