<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dibs</name>
	<displayName>DIBS</displayName>
	<version>1.0</version>
	<description>DIBS payment API</description>
	<author></author>
	<tab>payments_gateways</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>