/* stylelint-disable */
$FontPathIBMPlexSans: "~@fontsource/ibm-plex-sans";
$local-font: true;

@mixin setFont() {
  @if $local-font {
    
    // IBM Plex Sans
    @font-face {
      font-family: "IBM Plex Sans";
      font-style: normal;
      font-weight: 200;
      src:
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-200-normal.woff2") format("woff2"),
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-200-normal.woff") format("woff");
    }

    @font-face {
      font-family: "IBM Plex Sans";
      font-style: normal;
      font-weight: 300;
      src:
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-300-normal.woff2") format("woff2"),
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-300-normal.woff") format("woff");
    }

    @font-face {
      font-family: "IBM Plex Sans";
      font-style: normal;
      font-weight: 400;
      src:
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-400-normal.woff2") format("woff2"),
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-400-normal.woff") format("woff");
    }

    @font-face {
      font-family: "IBM Plex Sans";
      font-style: normal;
      font-weight: 500;
      src:
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-500-normal.woff2") format("woff2"),
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-500-normal.woff") format("woff");
    }

    @font-face {
      font-family: "IBM Plex Sans";
      font-style: normal;
      font-weight: 600;
      src:
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-600-normal.woff2") format("woff2"),
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-600-normal.woff") format("woff");
    }

    @font-face {
      font-family: "IBM Plex Sans";
      font-style: normal;
      font-weight: 700;
      src:
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-700-normal.woff2") format("woff2"),
        url("#{$FontPathIBMPlexSans}/files/ibm-plex-sans-latin-700-normal.woff") format("woff");
    }

    // Material Symbols Outlined
    @font-face {
      font-family: "Material Symbols Outlined";
      font-style: normal;
      src: url("/fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2") format("woff2"), url("/fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf") format("truetype");
    }
  } @else {
    // IBM Plex Sans
    @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");

    // Material Symbols Outlined
    @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0");
  }
}

@include setFont();

// Material Symbols Outlined
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url("../fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2") format("woff2"), url("../fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf") format("truetype");
}

.material-icons,
.material-symbols-outlined {
  display: inline-block;
  font-family: "Material Symbols Outlined", sans-serif;
  font-size: 24px;  /* Preferred icon size */
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  vertical-align: middle;
  direction: ltr;
}
