{% extends '@MailThemes/modern_mjml/components/layout.mjml.twig' %}

{% block title %}Account{% endblock %}

{% block content %}
<mj-section padding="0 25px">
  <mj-column padding="0">

    <mj-raw>
      <!-- TITLE BEGINING -->
    </mj-raw>
    <mj-text padding-top="0" padding-bottom="20px" font-weight="600" font-size="20px">
      Hi {firstname} {lastname},
    </mj-text>
    <mj-raw>
      <!-- TITLE ENDING -->
    </mj-raw>

    <mj-raw>
      <!-- H2 TITLE BEGINING -->
    </mj-raw>
    <mj-text font-size="16px" padding-bottom="20px" padding-top="0px">
      Thank you for creating a customer account at {shop_name}.
    </mj-text>
    <mj-raw>
      <!-- H2 TITLE ENDING -->
    </mj-raw>


  </mj-column>
</mj-section>

<mj-raw>
  <!-- BORDER BEGINING -->
</mj-raw>
<mj-section text-align="left" padding="0 50px 40px">
  <mj-column width="25px">
    <mj-divider width="25px" css-class="left" padding-top="0" padding-left="0" padding-right="0" border-width="3px" border-color="#505050" border-style="solid"></mj-divider>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- BORDER ENDING -->
</mj-raw>

<mj-raw>
  <!-- SUBTITLE BEGINING -->
</mj-raw>
<mj-section padding="0 25px">
  <mj-column padding="0">
    <mj-text padding-bottom="0px" padding-top="0px" font-size="16px" font-weight="600">
      Your login details on {shop_name}
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- SUBTITLE ENDING -->
</mj-raw>


<mj-raw>
  <!-- BOX BEGINING -->
</mj-raw>
<mj-section padding="15px 50px 40px">
  <mj-column background-color="#fefefe" border="1px solid #DFDFDF" padding="20px 0">
    <mj-text>
      Here are your login details:
    </mj-text>
    <mj-text padding-top="0px">
      <span class="label">E-mail address&nbsp;:</span>&nbsp;<span style="color:#25B9D7;font-weight:600">{email}</span>
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- BOX ENDING -->
</mj-raw>

<mj-raw>
  <!-- SUBTITLE BEGINING -->
</mj-raw>
<mj-section padding="0 25px">
  <mj-column padding="0">
    <mj-text padding-bottom="0px" padding-top="0px" font-size="16px" font-weight="600">
      Important Security Tips:
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- SUBTITLE ENDING -->
</mj-raw>

<mj-raw>
  <!-- MESSAGE BOX BEGINING -->
</mj-raw>
<mj-section padding="15px 50px 40px">
  <mj-column background-color="#fefefe" padding-top="10px" padding-bottom="10px" border="1px solid #DFDFDF">
    <mj-text>
      <span class="label" style="font-size:16px">1.</span>&nbsp;<span>Always keep your account details safe.</span>
    </mj-text>
    <mj-text padding-top="0px">
      <span class="label" style="font-size:16px">2.</span>&nbsp;<span>Never disclose your login details to anyone.</span>
    </mj-text>
    <mj-text padding-top="0px">
      <span class="label" style="font-size:16px">3.</span>&nbsp;<span>Change your password regularly.</span>
    </mj-text>
    <mj-text padding-top="0px">
      <span class="label" style="font-size:16px">4.</span>&nbsp;<span> Should you suspect someone is using your account illegally, please
notify us immediately.</span>
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- MESSAGE BOX ENDING -->
</mj-raw>

<mj-raw>
  <!-- CENTER TEXT BEGINING -->
</mj-raw>
<mj-section padding="0 25px 20px">
  <mj-column>
    <mj-text align="center">
      You can now place orders on our shop: <a href="[{shop_url}]" target="_blank" style="text-decoration:none;color:#25B9D7; display:block">{shop name}</a>
    </mj-text>
  </mj-column>
</mj-section>
<mj-raw>
  <!-- CENTER TEXT ENDING -->
</mj-raw>
{% endblock %}
