@charset "UTF-8";

/* ****************************************************************************
      Fonts
**************************************************************************** */
@font-face {
  font-family: "Prestafont";
  font-weight: normal;
  src: url("./fonts/Prestafont-Regular.woff");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: normal;
  src: url("./fonts/IBMPlexSans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: bold;
  src: url("./fonts/IBMPlexSans-Bold.ttf");
  font-display: swap;
}

/* ****************************************************************************
      CSS Properties
**************************************************************************** */
:root {
  --cdk-black: #000;
  --cdk-white: #fff;
  --cdk-primary-100: #fafafa;
  --cdk-primary-200: #f7f7f7;
  --cdk-primary-300: #eee;
  --cdk-primary-400: #ddd;
  --cdk-primary-500: #bbb;
  --cdk-primary-600: #5e5e5e;
  --cdk-primary-700: #3f3f3d;
  --cdk-primary-800: #1b1c1d;
  --cdk-primary-900: #101010;
  --cdk-red-50: #ffe4e6;
  --cdk-red-100: #fdbfbf;
  --cdk-red-300: #d63f3c;
  --cdk-red-500: #ba151a;
  --cdk-red-700: #a41913;
  --cdk-purple-50: #f8f0f7;
  --cdk-purple-500: #decde7;
  --cdk-purple-700: #7b4fac;
  --cdk-blue-50: #e8edfd;
  --cdk-blue-100: #d1dcfc;
  --cdk-blue-300: #a2b8f9;
  --cdk-blue-500: #174eef;
  --cdk-blue-700: #2942cc;
  --cdk-ocean-blue-50: #e4f4f8;
  --cdk-ocean-blue-500: #a4dbe8;
  --cdk-ocean-blue-700: #5c92aa;
  --cdk-yellow-50: #fff5e5;
  --cdk-yellow-100: #ffeccc;
  --cdk-yellow-300: #ffd999;
  --cdk-yellow-500: #ffa000;
  --cdk-amber-100: #fdf6dd;
  --cdk-amber-500: #f8e08e;
  --cdk-green-50: #eaf8ef;
  --cdk-green-100: #bde9c9;
  --cdk-green-300: #59af70;
  --cdk-green-500: #207f4b;
  --cdk-size-0: 0;
  --cdk-size-1: 1px;
  --cdk-size-2: 0.125rem;
  --cdk-size-3: 0.1875rem;
  --cdk-size-4: 0.25rem;
  --cdk-size-5: 0.3125rem;
  --cdk-size-6: 0.375rem;
  --cdk-size-8: 0.5rem;
  --cdk-size-10: 0.625rem;
  --cdk-size-12: 0.75rem;
  --cdk-size-14: 0.875rem;
  --cdk-size-16: 1rem;
  --cdk-size-18: 1.125rem;
  --cdk-size-20: 1.25rem;
  --cdk-size-24: 1.5rem;
  --cdk-size-28: 1.75rem;
  --cdk-size-30: 1.875rem;
  --cdk-size-32: 2rem;
  --cdk-size-36: 2.25rem;
  --cdk-size-40: 2.5rem;
  --cdk-size-44: 2.75rem;
  --cdk-size-48: 3rem;
  --cdk-size-52: 3.25rem;
  --cdk-size-56: 3.5rem;
  --cdk-size-60: 3.75rem;
  --cdk-size-64: 4rem;
  --cdk-size-72: 4.5rem;
  --cdk-size-80: 5rem;
  --cdk-size-96: 6rem;
  --cdk-size-112: 7rem;
  --cdk-size-128: 8rem;
  --cdk-size-144: 9rem;
  --cdk-size-160: 10rem;
  --cdk-size-176: 11rem;
  --cdk-size-192: 12rem;
  --cdk-size-208: 13rem;
  --cdk-size-224: 14rem;
  --cdk-size-240: 15rem;
  --cdk-size-256: 16rem;
  --cdk-size-288: 18rem;
  --cdk-size-320: 20rem;
  --cdk-font-family-primary: "IBM Plex Sans", "Arial", "sans-serif";
  --cdk-font-family-secondary: "Prestafont", "IBM Plex Sans", "Arial",
    "sans-serif";
  --cdk-font-size-xs: 0.75rem;
  --cdk-font-size-sm: 0.875rem;
  --cdk-font-size-base: 1rem;
  --cdk-font-size-lg: 1.125rem;
  --cdk-font-size-xl: 1.25rem;
  --cdk-font-size-2xl: 1.5rem;
  --cdk-font-size-3xl: 1.875rem;
  --cdk-font-size-4xl: 2rem;
  --cdk-font-size-5xl: 3rem;
  --cdk-box-shadow-default: 0 1px 3px 0 rgb(29 29 27 / 0.2);
  --cdk-box-shadow-sm: 0 1px 2px 0 rgb(29 29 27 / 0.05);
  --cdk-box-shadow-md: 0 4px 6px -1px rgb(29 29 27 / 0.2);
  --cdk-box-shadow-lg: 0 10px 15px -3px rgb(29 29 27 / 0.2);
  --cdk-box-shadow-xl: 0 20px 25px -5px rgb(29 29 27 / 0.2);
  --cdk-box-shadow-2xl: 0 25px 60px -12px rgb(29 29 27 / 0.25);
  --cdk-box-shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --cdk-box-shadow-none: none;
  --cdk-box-shadow-overlay: 0 12px 60px 0 rgb(0 0 0 / 0.1);
  --cdk-box-shadow-sticky: 0 6px 12px rgb(0 0 0 / 0.1);
  --cdk-box-shadow-pop-modal: 0 12px 24px rgb(0 0 0 / 0.1);
  --cdk-opacity-overlay: 0.8;
  --cdk-default-transition: all 0.15s;
  --cdk-default-transition-duration: 0.15s;
}

/* ****************************************************************************
      reset
**************************************************************************** */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ****************************************************************************
      structure
**************************************************************************** */
#container {
  position: relative;
  margin: 0 auto;
  width: 990px;
  background: var(--cdk-white);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--cdk-size-16);
  padding: var(--cdk-size-24);
  background: var(--cdk-primary-800);
}

#loaderSpace {
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent url(img/bg_loaderSpace.png) repeat 0 0;
}

#loader {
  display: none;
  margin: 450px 0 0 440px;
  height: 128px;
  width: 128px;
  color: #fff;
  background-image: url(img/ajax-loader.gif);
}

#mainForm {
  display: flex;
  flex-direction: column;
  gap: var(--cdk-size-32);
  padding: var(--cdk-size-40);
}

.mainForm__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--cdk-size-16);
}

.mainForm__content {
  display: flex;
  gap: var(--cdk-size-16);
}

.mainForm__footer {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--cdk-size-16);
}

#btBack {
  margin-right: auto;
}

#btNext {
  margin-left: auto;
}

#leftpannel {
  flex-shrink: 0;
  flex-basis: var(--cdk-size-224);
}

#sheets {
  flex-grow: 1;
}

#footer {
  margin-block: var(--cdk-size-16);
  list-style-type: none;
  text-align: center;
}

div#phone_help {
  margin: auto;
  text-align: center;
  padding: 10px 5px;
}

/* ****************************************************************************
      generics styles
**************************************************************************** */
body {
  font-family: var(--cdk-font-family-primary);
  font-weight: normal;
  font-size: var(--cdk-size-14);
  line-height: var(--cdk-size-18);
  color: var(--cdk-primary-800);
  background: var(--cdk-primary-400);
}

/* title */
h1 {
  font-family: var(--cdk-font-family-secondary);
  font-size: var(--cdk-size-32);
  font-weight: bold;
  line-height: 1.5;
  font-feature-settings: "liga" off;
}
h2 {
  font-size: var(--cdk-size-18);
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: var(--cdk-size-16);
}
h3 {
  font-size: var(--cdk-size-16);
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: var(--cdk-size-16);
}
h4 {
  font-size: var(--cdk-size-14);
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: var(--cdk-size-16);
}

/* text */
p {
  line-height: 1.4em;
  padding-bottom: var(--cdk-size-16);
}

/* link */
a,
a:active,
a:visited {
  color: var(--cdk-blue-500);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

sup.required {
  vertical-align: baseline;
  font-size: var(--cdk-size-14);
  line-height: 1;
  color: var(--cdk-red-500);
  padding-left: var(--cdk-size-4);
}

/* divider */
hr {
  margin-block: var(--cdk-size-16);
  border: none;
  border-top: 1px solid var(--cdk-primary-400);
}

/* form */
.button {
  padding: var(--cdk-size-8) var(--cdk-size-16);
  border-radius: 0;
  transition: var(--cdk-default-transition);
  height: auto;
  background: var(--cdk-primary-800);
  border: none;
  color: var(--cdk-white);
  border-color: var(--cdk-primary-800);
  font-style: normal;
  font-weight: bold;
  font-size: var(--cdk-size-14);
  line-height: var(--cdk-size-18);
  cursor: pointer;
}

.button:hover {
  background-color: var(--cdk-primary-700);
  text-decoration: none;
}

.button:active,
.button:focus {
  background-color: var(--cdk-primary-600);
}

.button.disabled,
.button[disabled] {
  color: var(--cdk-white);
  background-color: var(--cdk-primary-500);
  cursor: initial;
}

.button--small {
  display: inline-flex;
  font-size: var(--cdk-size-12);
  font-weight: normal;
  padding: var(--cdk-size-6) var(--cdk-size-12);
}

#btBack,
.button--secondary {
  color: var(--cdk-primary-800);
  background-color: var(--cdk-white);
  border: 1px solid var(--cdk-primary-800);
}

#btBack:hover,
.button--secondary:hover {
  background-color: var(--cdk-primary-300);
  border: 1px solid var(--cdk-primary-800);
}

#btBack:active,
#btBack:focus,
.button--secondary:active,
.button--secondary:focus {
  background-color: var(--cdk-primary-400);
}

:is(input[type=text], input[type=password], input[type=textarea]):active,
:is(input[type=text], input[type=password], input[type=textarea]):focus {
  outline: var(--cdk-size-2) solid var(--cdk-blue-500);
}

input[type=checkbox],
input[type=radio] {
  accent-color: var(--cdk-blue-500);
}

input.text,
input[type=text] {
  padding: var(--cdk-size-8) var(--cdk-size-12);
  height: var(--cdk-size-36);
  width: var(--cdk-size-224);
  max-width: 100%;
  border: 1px solid var(--cdk-primary-400);
}
input.text:hover,
input[type=text]:hover {
  border-color: var(--cdk-primary-800);
}
input.text:active,
input.text:focus,
input[type=text]:active,
input[type=text]:focus {
  outline: var(--cdk-size-2) solid var(--cdk-blue-500);
}
select {
  background: var(--cdk-white);
  border: 1px solid var(--cdk-primary-400);
  padding: var(--cdk-size-8) var(--cdk-size-12);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("img/unfold_more_24px.svg");
  background-size: var(--cdk-size-18);
  background-repeat: no-repeat;
  background-position: calc(100% - var(--cdk-size-4)) center;
}
select:hover {
  border-color: var(--cdk-primary-800);
}
select:active,
select:focus {
  outline: var(--cdk-size-2) solid var(--cdk-blue-500);
}

.field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--cdk-size-8) var(--cdk-size-16);
  padding: var(--cdk-size-16) 0;
  border-bottom: 1px solid var(--cdk-primary-400);
}
.field label {
  flex-basis: var(--cdk-size-208);
  font-weight: bold;
}
.field label.radiolabel {
  width: auto;
}
.field div.contentinput{
  display: flex;
  align-items: start;
}
.radio-inline {
  display: flex;
  align-items: center;
  gap: var(--cdk-size-16);
}
.radio-inline label{
  display: flex;
  font-weight: normal;
  align-items: center;
  gap: var(--cdk-size-4);
}
.modules-select-type label{
  font-weight: normal;
}
.radio-inline label input{
  margin: 0;
}

.theme-selection {
  align-items: start;
  padding-top: var(--cdk-size-8);
}

.theme-selection .theme-infos {
  padding-top: var(--cdk-size-8);
}

.theme-selection .contentinput{
  flex-basis: 0;
  flex-grow: 1;
}

.field .userInfos {
  display: block;
  flex-basis: 100%;
  flex-shrink: 0;
  font-size: var(--cdk-size-12);
  color: var(--cdk-primary-700);
}

#uploadedImage {
  border: 1px solid #ccc;
}

.waitBlock {
  position: relative;
  padding: var(--cdk-size-16) var(--cdk-size-16) var(--cdk-size-16) var(--cdk-size-48);
  background-color: var(--cdk-blue-50);
  border: 1px solid var(--cdk-blue-500);
}

.waitBlock::before {
  content: "";
  display: block;
  position: absolute;
  left: var(--cdk-size-16);
  top: calc(50% - var(--cdk-size-10));
  transform: translateY(-50%);
  width: var(--cdk-size-20);
  height: var(--cdk-size-20);
  background: url("img/sync.svg") no-repeat center center;
  background-size: var(--cdk-size-20) var(--cdk-size-20);
  animation: spin 2s linear infinite;
}

.okBlock {
  padding: var(--cdk-size-16) var(--cdk-size-16) var(--cdk-size-16) var(--cdk-size-48);
  background: var(--cdk-green-50) url("img/success.svg") no-repeat var(--cdk-size-16) center;
  background-size: var(--cdk-size-20) var(--cdk-size-20);
  border: 1px solid var(--cdk-green-500);
}

.errorBlock {
  padding: var(--cdk-size-16) var(--cdk-size-16) var(--cdk-size-16) var(--cdk-size-48);
  background: var(--cdk-red-50) url("img/error.svg") no-repeat var(--cdk-size-16) center;
  background-size: var(--cdk-size-20) var(--cdk-size-20);
  border: 1px solid var(--cdk-red-500);
}

.errorTxt {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  flex-shrink: 0;
  gap: var(--cdk-size-8);
  color: var(--cdk-red-500);
}
.errorTxt::before{
  content: "";
  display: block;
  width: var(--cdk-size-20);
  height: var(--cdk-size-20);
  background: url("img/error.svg") no-repeat center center;
  background-size: var(--cdk-size-20) var(--cdk-size-20);
}

.checkLicense {
  display: flex;
  align-items: start;
  gap: var(--cdk-size-8);
  margin-bottom: var(--cdk-size-16);
}

.infosLicense {
  height: var(--cdk-size-208);
  border: 1px solid var(--cdk-primary-400);
  margin-bottom: var(--cdk-size-16);
  padding: var(--cdk-size-16) var(--cdk-size-16) 0 var(--cdk-size-16);
  background: var(--cdk-white);
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.infosBlock {
  padding: var(--cdk-size-16);
  font-weight: normal;
  font-size: var(--cdk-size-14);
  line-height: var(--cdk-size-18);
  background: var(--cdk-primary-200);
  border: 1px solid var(--cdk-primary-400);
}

.infosBlock img {
  vertical-align: middle;
}

.warnBlock {
  padding: 14px 25px 14px 35px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background: #feefb3;
  border: 1px solid #9e6014;
  color: #9e6014;
}

.messagesBlock {
  position: relative;
  padding: var(--cdk-size-16) var(--cdk-size-16) var(--cdk-size-16) var(--cdk-size-48);
  font-weight: normal;
  font-size: var(--cdk-size-14);
  line-height: var(--cdk-size-18);
  background: var(--cdk-blue-50) url("img/info.svg") no-repeat var(--cdk-size-16) center;
  background-size: var(--cdk-size-20) var(--cdk-size-20);
  border: 1px solid var(--cdk-blue-500);
}

.okBlock h1,
.okBlock h2,
.okBlock h3,
.errorBlock h1,
.errorBlock h2,
.errorBlock h3,
.infosBlock h1,
.infosBlock h2,
.infosBlock h3 {
  padding-bottom: 5px;
}

/* ****************************************************************************
      HEADER
**************************************************************************** */
#header #headerLinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--cdk-size-24);
}
#header #headerLinks li {
  display: inline-block;
  font-size: var(--cdk-size-14);
}
#header #headerLinks li.last {
  background: none;
}
#header #headerLinks li a {
  color: #fff;
  text-decoration: none;
}
#header #headerLinks li a:hover {
  text-decoration: underline;
}
#header #headerLinks #phone_block {
  padding: 0 0 0 46px;
  line-height: 14px;
  color: #fff;
  text-shadow: 0 1px 0 #333;
  background: transparent url(img/bg-phone_block.png) no-repeat 0 0;
}
#header #headerLinks #phone_block div {
  padding: 7px 15px 8px 0;
  background: transparent url(img/bg-phone_block.png) no-repeat right top;
}

#header #PrestaShopLogo {
  float: left;
  margin: 5px 0 0 10px;
  height: 51px;
  width: 192px;
  text-indent: -5000px;
  background: transparent url(img/logo.png) no-repeat 0 0;
}

#header #infosSup {
  display: none;
  float: left;
  margin: 10px 0 0 50px;
}

/* ****************************************************************************
      LEFTPANEL
**************************************************************************** */
#leftpannel #help {
  display: none;
}
#tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#tabs li {
  position: relative;
  padding: var(--cdk-size-8) 0 var(--cdk-size-8) var(--cdk-size-16);
  font-size: var(--cdk-size-14);
  color: var(--cdk-primary-500);
}
#tabs li a {
  color: var(--cdk-primary-500);
}
#tabs li a:hover {
  color: var(--cdk-primary-800);
}
#tabs li.selected {
  font-weight: bold;
  color: var(--cdk-blue-500);
}
#tabs li.selected::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: var(--cdk-size-4) solid transparent;
  border-bottom: var(--cdk-size-4) solid transparent;
  border-left: var(--cdk-size-4) solid var(--cdk-primary-800);
}
#tabs li.finished,
#tabs li.finished a {
  color: var(--cdk-primary-800);
}
#tabs li.finished::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(calc(-50% - var(--cdk-size-2))) rotate(45deg);
  height: var(--cdk-size-10);
  width: var(--cdk-size-6);
  border-bottom: var(--cdk-size-2) solid var(--cdk-green-500);
  border-right: var(--cdk-size-2) solid var(--cdk-green-500);
}

/* ****************************************************************************
      FOOTER
**************************************************************************** */
#footer li {
  display: inline;
  font-size: var(--cdk-size-14);
}

#footer a,
#footer a:link,
#footer a:active,
#footer a:visited {
  font-weight: bold;
  color: var(--cdk-blue-500);
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}

/* ****************************************************************************
      SHEET
**************************************************************************** */
.stepList {
  display: flex;
  align-items: center;
  gap: var(--cdk-size-8);
  list-style-type: none;
}
.stepList li {
  height: 36px;
  width: 36px;
  text-indent: -9999px;
  background: transparent url("img/empty.svg") no-repeat center center;
}

.stepList li.ok {
  background: transparent url("img/ok.svg") no-repeat center center;
}
.stepList li.ko {
  background: transparent url("img/nok.svg") no-repeat center center;
}

li.title {
  margin: 0;
  font-weight: bold;
}

/* INSTALLATION ***************************************************************************** */
/* ETAPE 1 - lang ********************************************************** */
#formSetMethod {
  padding-bottom: 20px;
}
#formSetMethod p {
  padding-bottom: 0;
}

#langList {
  margin-bottom: 20px;
}

/* ETAPE 2 - required ******************************************************* */
#sheet_system #req_bt_refresh {
  float: right;
}
#sheet_system #btTestDB {
  float: right;
}
ul#required,
ul#optional {
  list-style-type: none;
  margin: 0;
}
ul#required li,
ul#optional li {
  padding: var(--cdk-size-8);
  font-size: var(--cdk-size-12);
  background: var(--cdk-primary-100);
}
ul#required li.title,
ul#optional li.title {
  margin-top: var(--cdk-size-16);
  font-size: var(--cdk-size-14);
}
ul#required li.required,
ul#optional li {
  border-bottom: 1px solid var(--cdk-white);
}
ul#required li.ok,
ul#optional li.ok {
  display: none;
}
ul#required li.fail {
  background: var(--cdk-red-50) url(img/error.svg) no-repeat calc(100% - var(--cdk-size-8)) center;
  background-size: var(--cdk-size-20);
  padding-right: var(--cdk-size-32);
}
ul#optional li.fail {
  background: var(--cdk-yellow-50) url(img/warning.svg) no-repeat calc(100% - var(--cdk-size-8)) center;
  background-size: var(--cdk-size-20);
  padding-right: var(--cdk-size-32);
}

/* ETAPE 3 - DB ************************************************************* */
#formCheckSQL p.first {
  border-top: none;
}
#formCheckSQL p.last {
  border-bottom: none;
}

#formCheckSQL p label {
  display: inline-block;
  width: 230px;
}

#formCheckSQL .userInfos {
  display: block;
  font: italic 11px Georgia, Arial, Sans-serif italic;
  color: #999;
}

#dbResultCheck {
  margin-top: var(--cdk-size-16);
}

/* ETAPE 4 - infos ********************************************************* */
#contentInfosNotification {
  padding-left: 190px;
  border: none;
}
#contentInfosNotification label {
  width: auto;
  font-size: 11px;
}

#inputFileLogo {
  margin-left: 190px;
}

#resultInfosPasswordRepeat {
  color: #cc0000;
}

/* ETAPE 5 - end *********************************************************** */
#resultInstall {
  margin-bottom: 25px;
}
#resultInstall td {
  padding: 7px 6px;
}
#resultInstall tr.odd {
  background: #f8f8f8;
}
#resultInstall td.resultEnd {
  color: #666;
}

.print {
  background: white;
  color: #78a542;
  cursor: pointer;
  font-weight: 700;
}

.print:hover {
  color: #385e0b;
}

.fo-bo-container {
  display: grid;
  gap: var(--cdk-size-16);
  grid-template-columns: repeat(2, 1fr);
  margin-top: var(--cdk-size-16);
}

.blockInfoEnd {
  display: grid;
  grid-template-columns: var(--cdk-size-112) 1fr;
  gap: var(--cdk-size-16);
  padding: var(--cdk-size-16) var(--cdk-size-8);
  border: 1px solid var(--cdk-primary-400);
  cursor: pointer;
}
.blockInfoEnd h3 {
  padding-bottom: var(--cdk-size-8);
}
.blockInfoEnd p {
  font-size: var(--cdk-size-12);
  color: var(--cdk-primary-700);
  padding-bottom: var(--cdk-size-8);
}

#prestastore,
#prestastore_update {
  height: 592px;
  width: 650px;
  border: none;
  /*-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius: 5px*/
}

/* MISE A JOUR ********************************************************************************* */

/* ETAPE 1 - disclaimer **************************************************** */

/* ETAPE 2 - require_update ************************************************ */
#disclaimerDivCertify {
  margin-bottom: 20px;
}

#upgradeProcess table {
  padding: 5px;
  width: 650px;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}
#upgradeProcess tr {
  border-bottom: 1px solid #ccc;
}
#upgradeProcess th,
#upgradeProcess td {
  padding: 3px 5px;
}
#upgradeProcess th {
  font-size: 13;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  background: #cfcfcf url(img/bg_moduleTable_th.png) repeat-x 0 0;
}

#upgradeProcess .infosBlock {
  margin: 20px 0;
  padding: 14px 25px;
  background: #f8f8f8;
}

ul#required_update,
ul#optional_update {
  list-style-type: none;
}
ul#required_update li,
ul#optional_update li {
  padding: 6px 8px 4px 8px;
  background: #f8f8f8;
}
ul#required_update li.title,
ul#optional_update li.title {
  margin-top: 20px;
  padding: 4px 8px;
  background: #f8f8f8 url(img/bg_li_title.png) repeat-x 0 0;
}
ul#required_update li.required,
ul#optional_update li.optional {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
ul#required_update li.fail,
ul#optional_update li.fail {
  background: #f8f8f8 url(img/pict_error.png) no-repeat 100% 8px;
}
ul#required_update li.ok,
ul#optional_update li.ok {
  background: #f8f8f8 url(img/bg-li-tabs-finished.png) no-repeat 100% 10px;
}
#sheet_require_update #req_bt_refresh_update {
  float: right;
}

/* ETAPE 3 - updateErrors ************************************************** */

/* ETAPE 4 - end_update **************************************************** */
#updateLog {
  height: 200px;
  overflow: scroll;
  border: 1px solid #e1e2e2;
}
#updateLog .fail {
  font-weight: bold;
  color: red;
}
.request {
  border-bottom: 1px solid #e1e2e2;
}

/* STEP 5 ******************************************/
#install_process_form {
  min-height: 340px;
}
#progress_bar {
  display: none;
}
#progress_bar .total {
  position: relative;
  width: 100%;
  height: var(--cdk-size-30);
  background-color: var(--cdk-primary-400);
  text-align: center;
}

#progress_bar .total span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: var(--cdk-size-16);
  font-weight: bold;
  display: block;
  transform: translateY(-50%);
}

#progress_bar .total .progress {
  width: 0px;
  height: 30px;
  background-color: var(--cdk-blue-500);
}

#progress_bar .installing {
  position: relative;
  display: none;
  padding-left: var(--cdk-size-28);
}

#progress_bar .installing::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: calc(50% - var(--cdk-size-18));
  transform: translateY(-50%);
  width: var(--cdk-size-20);
  height: var(--cdk-size-20);
  background: url("img/sync.svg") no-repeat center center;
  background-size: var(--cdk-size-20) var(--cdk-size-20);
  animation: spin 2s linear infinite;
}

#progress_bar ol {
  list-style-type: none;
  margin-left: 4px;
  margin-top: 10px;
}
#progress_bar ol li {
  line-height: 24px;
}
#progress_bar ol.process_list li.success {
  color: var(--cdk-green-500);
  text-decoration: line-through;
}
#progress_bar ol.process_list li.fail {
  color: var(--cdk-red-500);
}

#error_process {
  padding: var(--cdk-size-16);
  background-color: var(--cdk-red-50);
  border: 1px solid var(--cdk-red-500);
  margin: var(--cdk-size-16) 0;
  display: none;
}
#error_process h3 {
  color: var(--cdk-red-500);
}
#error_process p {
  margin-left: 20px;
}
#error_process p a {
  font-weight: bold;
}
#error_process p a:hover {
  text-decoration: underline;
}

#install_process_success {
  display: none;
}

#sheets ul.chzn-results {
  margin-left: 5px;
  padding: 0px;
}

/* ****************************************************************************
      Chosen
**************************************************************************** */
/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: var(--cdk-size-224) !important;
  max-width: 100%;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--cdk-primary-400);
  border-top: 0;
  background: var(--cdk-white);
  box-shadow: var(--cdk-box-shadow-default);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: var(--cdk-size-8) var(--cdk-size-12);
  height: var(--cdk-size-36);
  border: 1px solid var(--cdk-primary-400);
  background-color: var(--cdk-white);
  background-image: url("img/unfold_more_24px.svg");
  background-size: var(--cdk-size-18);
  background-repeat: no-repeat;
  background-position: calc(100% - var(--cdk-size-4)) center;
  color: var(--cdk-primary-800);
  text-decoration: none;
  white-space: nowrap;
  line-height: 1.5;
}
.chosen-container-single .chosen-default {
  color: var(--cdk-primary-500);
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: var(--cdk-size-24);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: var(--cdk-white);
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: var(--cdk-size-8);
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid var(--cdk-primary-400);
  background: var(--cdk-white);
  font-size: var(--cdk-size-14);
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  border-radius: 0;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: var(--cdk-primary-800);
  color: var(--cdk-white);
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 15px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #666;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: var(--cdk-white);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: var(--cdk-white);
  font-size: 1px;
}
.chosen-container-multi
  .chosen-choices
  li.search-choice
  .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: var(--cdk-size-5);
  border: 1px solid var(--cdk-primary-400);
  color: var(--cdk-primary-500);
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: var(--cdk-primary-400);
}
.chosen-container-multi
  .chosen-choices
  li.search-choice-focus
  .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: var(--cdk-white);
  background-color: var(--cdk-primary-800);
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

#sheet_content ul {
  list-style: none;
  margin: 0;
}

.themes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--cdk-size-8);
  overflow-y: auto;
  height: var(--cdk-size-208);
  border: 1px solid var(--cdk-primary-400);
  padding: var(--cdk-size-8);
}

.theme-card {
  position: relative;
}

.theme-card label {
  font-weight: bold;
}

.theme-card .image-block {
  max-width: 100%;
  height: 9rem;
  overflow: hidden;
}

.theme-card .image-block img {
  max-width: 100%;
  height: auto;
}
.theme-card .theme-version {
  font-size: var(--cdk-size-12);
  padding-block: var(--cdk-size-8) var(--cdk-size-16);
  text-align: center;
}

#modules-container {
  display: none;
  padding: var(--cdk-size-16);
  width: 100%;
  height: var(--cdk-size-240);
  overflow: auto;
  border: 1px solid var(--cdk-primary-400);
}
#modules-container label {
  width: 100%;
  font-weight: normal;
}
#modules-container dt {
  padding: 0.6rem 0;
  font-weight: bold;
}

#search-for-module {
  margin-bottom: var(--cdk-size-8);
}

.password-strength-feedback {
  flex-basis: 100%;
  color: var(--cdk-primary-600);
  box-sizing: border-box;
}

.password-strength-feedback svg {
  color: var(--cdk-primary-400);
  display: inline-block;
  vertical-align: middle;
  width: var(--cdk-size-20);
  height: var(--cdk-size-20);
}

.password-strength-feedback .progress-container {
  margin-top: var(--cdk-size-8);
  margin-bottom: var(--cdk-size-4);
  background-color: var(--cdk-primary-400);
  border-radius: var(--cdk-size-4);
}

.password-strength-feedback .progress-bar {
  text-align: center;
  border-radius: var(--cdk-size-4);
  background-color: var(--cdk-red-500);
}

.password-strength-feedback .progress-bar > div {
  background-color: var(--cdk-white); /* Adjust with JavaScript */
  width: 0%; /* Adjust with JavaScript */
  height: var(--cdk-size-8);
  border-radius: var(--cdk-size-4);
}

.password-strength-feedback .password-strength-text {
  text-align: left;
  font-size: var(--cdk-size-14);
  margin-bottom: var(--cdk-size-16);
}

.password-strength-feedback .password-requirements p {
  margin-bottom: 0;
  padding-bottom: var(--cdk-size-8);
  font-size: var(--cdk-size-12);
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-success {
  border-color: #70b580;
}

.border-danger {
  border-color: var(--cdk-red-500);
}

.field-password {
  align-items: start !important;
}

.field-password > label{
  padding-top: var(--cdk-size-8);
}

.field-password input {
  padding: var(--cdk-size-8) var(--cdk-size-16);
  height: var(--cdk-size-36);
  width: var(--cdk-size-224);
}

.field-password .contentinput {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  flex-wrap: wrap;
}

.text-success {
  color: var(--cdk-green-500) !important;
}

.popover {
  padding: 10px;
  background: #363a41;
  border: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1060;
  max-width: 276px;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.75rem;
  word-wrap: break-word;
  background-clip: padding-box;
  border-radius: 0.3rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  bottom: calc(100% + 10px);
  width: 100%;
}

.popover .arrow::after,
.popover .arrow::before {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-popover-auto[x-placement^="top"] > .arrow::before,
.bs-popover-top > .arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #bbcdd2;
}

.popover.bs-popover-auto[x-placement^="top"] .arrow::after,
.popover.bs-popover-auto[x-placement^="top"] .arrow::before,
.popover.bs-popover-top .arrow::after,
.popover.bs-popover-top .arrow::before {
  border-top-color: #363a41;
}

.popover.bs-popover-auto[x-placement^="top"] .arrow,
.popover.bs-popover-top .arrow {
  bottom: calc((0.5rem) * -1);
}

.popover .arrow {
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 100%;
}

.popover .popover-header {
  margin-bottom: 0.2rem;
}

.popover-header:empty {
  display: none;
}

.popover .popover-body,
.popover .popover-header {
  padding: 0;
  color: #fff;
  background: 0 0;
  border: 0;
}

.d-none {
  display: none;
}

/* animation */
@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}