.btn
  &.btn-default
    &:hover
      background-color: $primary-light-color
      border-color: $primary-light-color
    &.active,
    &:focus
      background-color: $primary-color
      color: #FFFFFF
      border-color: $primary-color!important
