@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 400;
  src: url("~vazirmatn/fonts/webfonts/Vazirmatn-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 700;
  src: url("~vazirmatn/fonts/webfonts/Vazirmatn-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 300;
  src: url("~vazirmatn/fonts/webfonts/Vazirmatn-Light.woff2") format("woff2");
}
