<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>editorial</name>
            <displayName><![CDATA[Home text editor]]></displayName>
            <version><![CDATA[2.0]]></version>
            <description><![CDATA[A text editor module for your homepage.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>