<div id="ps-quicknav-sidebar"  class="_fullspace">
    <div class="quicknav-header">
        <div class="pull-left"><a href="#" data-toggle="sidebar" data-target=".sidebar">×</a></div>
        <h2>{{ title|raw|trans({}, 'AdminCommon') }}</h2>
    </div>
    <div class="quicknav-scroller _fullspace">
        <object class="_fullspace" data="{{ url }}"></object>
    </div>
    <div class="quicknav-fixed-bottom navbar-form-footer">
        {{ footer|raw }}
    </div>
</div>
