<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>crossselling</name>
            <displayName><![CDATA[Cross Selling]]></displayName>
            <version><![CDATA[0.1]]></version>
            <description><![CDATA[Customers who bought this product also bought:]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>