
.forgotten-password {
  padding: 4px;

  .form-fields {

    .center-email-fields {
      display: flex;
      justify-content: center;
    }

    .email {
      padding-left: 0;
      padding-right: 0;
      width: 430px;

      input {
        height: 38px;
      }
    }

    label.required {
      width: 130px;
    }
  }
}

.send-renew-password-link {
  padding-left: 10px;
  padding-right: 10px;
}
