<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>statslive</name>
	<displayName>Visitors online</displayName>
	<version>1</version>
	<description>Display the list of customers and visitors currently online.</description>
	<author>PrestaShop</author>
	<tab>analytics_stats</tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
</module>