// Flex: PrestaShop Admin Theme RTL
//    _____   __        _____   __  __   
//  /\_____\ /\_\     /\_____\/\  /\  /\ 
// ( (  ___/( ( (    ( (_____/\ \ \/ / / 
//  \ \ \_   \ \_\    \ \__\   \ \  / /  
//  / / /_\  / / /__  / /__/_  / /  \ \  
// / /____/ ( (_____(( (_____\/ / /\ \ \ 
// \/_/      \/_____/ \/_____/\/__\/__\/ 
//                                   
// by Remi Gaillard

@import "modules/colors"
$fa-font-path: "../../fonts"

// Colors
$main-color: #2E2E42
$primary-color: #00B7AE
$secondary-color: #00948A
$bg-content-color: white

// Let's go party!
@import "admin-theme_rtl"