// Contrast: PrestaShop Admin Theme RTL
//   _____            _                 _
//  / ____|          | |               | |
// | |     ___  _ __ | |_ _ __ __ _ ___| |_
// | |    / _ \| '_ \| __| '__/ _` / __| __|
// | |___| (_) | | | | |_| | | (_| \__ \ |_
//  \_____\___/|_| |_|\__|_|  \__,_|___/\__|
//
// by Francois Gaillard

@import "modules/colors"
$fa-font-path: "../../fonts"

// Colors
$main-color: #323A46
$primary-color: #FA6A49
$secondary-color: #00B0D3
$bg-content-color: #F9FAFD

// Let's go party!
@import "admin-theme_rtl"