// Fruit: PrestaShop Admin Theme RTL
//   _______   _______   ____  ____   __  ___________
//  /"     "| /"      \ ("  _||_ " | |" \("     _   ")
// (: ______)|:        ||   (  ) : | ||  |)__/  \\__/
//  \/    |  |_____/   )(:  |  | . ) |:  |   \\_ /
//  // ___)   //      /  \\ \__/ //  |.  |   |.  |
// (:  (     |:  __   \  /\\ __ //\  /\  |\  \:  |
//  \__/     |__|  \___)(__________)(__\_|_)  \__|
//
// by Damien Metzger

@import "modules/colors"
$fa-font-path: "../../fonts"
$img-path: "../../img"

// Colors
$main-color: #3B3F45
$primary-color: #00C8AB
$secondary-color: #405C72
$bg-content-color: #FCFDFE

// Let's go party!
@import "admin-theme_rtl"
