{
  "extends": [
    "stylelint-config-prestashop"
  ],
  "rules": {
    "declaration-block-semicolon-newline-before": null,
    "declaration-block-semicolon-space-before": null,
    "function-disallowed-list": null,
    "keyframes-name-pattern": null,
    "property-disallowed-list": null,
    "selector-max-id": null,
    "selector-max-class": null,
    "selector-max-type": null,
    "selector-max-compound-selectors": null,
    "selector-no-qualifying-type": null,
    "selector-max-combinators": null,
    "selector-max-universal": 4,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "selector-descendant-combinator-no-non-space": null,
    "scss/at-function-named-arguments": null
  }
}
