{
  "extends": [
    "stylelint-config-prestashop"
  ],
  "rules": {
    "selector-max-id": null,
    "selector-max-class": null,
    "selector-max-compound-selectors": null,
    "declaration-no-important": null,
    "selector-no-qualifying-type": null,
    "selector-max-combinators": null
  }
}
