<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blocktopmenu</name>
            <displayName><![CDATA[Menu Haut horizontal]]></displayName>
            <version><![CDATA[1.4]]></version>
            <description><![CDATA[Ajouter un nouveau menu en haut de votre boutique.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>