<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blocktopmenu</name>
            <displayName><![CDATA[Top horizontal menu]]></displayName>
            <version><![CDATA[1.5]]></version>
            <description><![CDATA[Add a new horizontal menu to the top of your e-commerce website.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>