<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>followup</name>
	<displayName><![CDATA[Customer follow-up]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Follow-up with your customers with daily customized e-mails.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[advertising_marketing]]></tab>
	<confirmUninstall>Are you sure you want to delete all settings and your logs?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>