<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>followup</name>
            <displayName><![CDATA[Relancez vos clients]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Relancez vos clients gr&acirc;ce &agrave; des envoi d&#039;e-mails quotidiens]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[advertising_marketing]]></tab>
	<confirmUninstall>Etes-vous sûr de vouloir supprimer vos paramètres ainsi que vos statistiques liées aux relances ?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>