<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blocklayered</name>
	<displayName>Layered navigation block</displayName>
	<version>1.3</version>
	<description>Displays a block with layered navigation filters.</description>
	<author>PrestaShop</author>
	<tab>front_office_features</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>