html, body
{
    margin: 0;
    padding: 0;
}
body
{
    font: 76% Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #fff;
}
h1, h2, h3, h4, h5
{
    margin: 1em 0;
}
p
{
    margin: 0 0 1em;
    line-height: 1.5em;
}
a,
a:link,
a:visited{}
a:hover,
a:active{}
a img{border: none;}
ul li,
ol li{line-height: 1.5em;}
form{margin: 0;}
fieldset{padding: 0;}


/* ~~~ === POSITIONING SELECTORS =============================================================================== ~~~ */
#container
{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
#content
{
    position: absolute;
    top: -98px;
    left: 50%;
    width: 300px;
    height: 196px;
    margin-left: -150px;
}

/* ~~~ === FORMS ====================================================================================== ~~~ */
table.adminLoginTable
{
    width: 100%;
    border: 1px solid #999;
    background-color: #E6E4DF;
    margin: 0;
}
table.adminLoginTable thead th
{
    background-color: #999;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    text-transform : uppercase;
    text-align: left;
    color: #fff;
    padding: 4px 8px;
}
table.adminLoginTable tbody th
{
    text-align: right;
    white-space: nowrap;
}
table.adminLoginTable tbody td
{
    padding: 4px 8px;
}
table.adminLoginTable tfoot td{padding: 4px 8px 12px;}
table.adminLoginTable tbody th.padTop,
table.adminLoginTable tbody td.padTop{padding-top: 12px;}
.input
{
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #999;
}
.button
{
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    background-color: #999;
    color: #fff;
}


