<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mailalerts</name>
	<displayName><![CDATA[Mail alerts]]></displayName>
	<version><![CDATA[2.2]]></version>
	<description><![CDATA[Sends e-mail notifications to customers and merchants.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[administration]]></tab>
	<confirmUninstall>Are you sure you want to delete all customer notifications?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>