<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mailalerts</name>
	<displayName>Mail alerts</displayName>
	<version>2.2</version>
	<description>Sends e-mail notifications to customers and merchants.</description>
	<author>PrestaShop</author>
	<tab>administration</tab>
	<confirmUninstall>Are you sure you want to delete all customer notifications?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>