<div class="translation-domain">
    <button class="btn btn-default btn-sm show-translation-messages">{{ label_show_messages }}</button>
    <button class="btn btn-default btn-sm hide hide-translation-messages">{{ label_hide_messages }}</button>