<nav class="hide">
    <ul class="pagination">
        <li class="page-item active" data-page-index="1"><a class="page-link" href="#_{{ page_id }}">1</a></li>
        <li class="page-item tpl hide"><a class="page-link" href="#_{{ page_id }}"></a></li>
    </ul>
</nav>