<div class="domains-tree col-md-4">
  <a class="btn-expand">
    <i class="material-icons">&#xE315;</i>
    <span>{{ 'Expand all'|trans({}, 'Admin.Actions') }}</span>
  </a>
  <a class="btn-reduce">
    <i class="material-icons">&#xE315;</i>
    <span>{{ 'Collapse all'|trans({}, 'Admin.Actions') }}</span>
  </a>

  <hr />
  {{ getTranslationsTree(translationsTree, theme)|raw }}
</div>
