@import url('//fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.min";
@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "partials/_fonts";
@import "partials/_forms";
@import "partials/_mixins";
@import "partials/_helpers";
@import "modules/drop-down";
@import "modules/search-widget";
@import "modules/top-menu";
@import "modules/checkout";
@import "modules/customer";
@import "modules/homeslider";
@import "modules/homefeatured";
@import "modules/cms-info";
@import "modules/categories";
@import "modules/products";
@import "modules/footer";
/*** COMMONS ***/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray-light;
  line-height: 1.25em;
}
ul {
  list-style: none;
  padding-left: 0;
}
.material-icons {
  vertical-align: middle;
}
a:hover{
  color: $brand-primary;
  text-decoration: none;
}
.dropdown-item:focus, .dropdown-item:hover {
  background: none;
}
/*** HEADER ***/
#header {
  background: white;
  .header-nav {
    border-bottom: $gray-light 2px solid;
    max-height: 50px;
    margin-bottom: 30px;
    .right-nav{
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
    }
    .login {
      color: $gray-darker;
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
    }
    .currency-selector{
      margin-top: em(15px);
      margin-left: em(15px);
    }
    .user-info {
      margin-left: em(40px);
      margin-top: em(15px);
      text-align: right;
      a {
        color: $gray;
        &:hover{
          text-decoration: none;
          color: $brand-primary;
        }
      }
    }
    .language-selector {
      margin-top: em(15px);
    }
    .cart-preview {
      &.active {
        background: $brand-primary;
        a {
          color: white;
        }
        i {
          color: rgba(255, 255, 255, 0.6);
        }
      }
      .shopping-cart {
        vertical-align: middle;
      }
      .body {
        display: none;
      }
    }
    .blockcart {
      background: $gray-light;
      font-size: 16px;
      width: em(135px);
      height: em(48px);
      padding-top: em(12px);
      margin-left: em(15px);
      text-align: center;
      a {
        color: $gray;
        &:hover{
          color: $brand-primary;
        }
      }
    }
    #contact-link {
      margin-top: em(15px);
      color: $gray;
      a {
        color: $gray;
      }
    }
  }
  .header-top {
    padding-bottom: em(10px);
    .menu {
      > ul {
        display: table;
        > li {
          display: table-cell;
        }
      }
    }
    a[data-depth="0"] {
      color: $gray;
      text-transform: uppercase;
    }
  }
}
/*** WRAPPER ***/
#wrapper {
  background: $gray-light;
  box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.11);
  padding-top: em(25px);
  .banner img{
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.15);
  }
  .breadcrumb {
    background: transparent;
    padding: 0;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
    }
    li {
      display: inline;
      &:after {
        content: "/";
        color: $gray-dark;
        margin: em(5px);
      }
      &:last-child {
        a{
          color:$gray-darker;
        }

        &:after {
          content: "";
        }
      }
    }
    a {
      color: $gray;
    }
  }
}
/*** MAIN ***/
#main {
  .page-header {
    margin-bottom: em(25px);
  }
  .page-content {
    margin-bottom: em(25px);
    h6 {
      margin-bottom: 1.25rem;
    }
  }
  .page-footer {
    margin-bottom: em(25px);
  }
}
/*** FOOTER ***/
#footer {
  padding-top: em(40px);
}
@include media-breakpoint-down(md) {
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
}
