@import "modules/colors"
$fa-font-path: "../../fonts"

//theme lightness
$main-color: darken($blueSeduction,15%)
$primary-color: $blueVirb
$secondary-color: $blueSeduction

$bg-content-color: $grayTimberwolf

@import "admin-theme"