@import "modules/colors"
$fa-font-path: "../../fonts"

//theme lightness
$main-color: $grayCharcoal
$primary-color: $blueZurb
$secondary-color: $purpleCerise

$bg-content-color: $grayTaupe

@import "admin-theme"