@import "modules/colors"
$fa-font-path: "../../fonts"

//theme blue
$main-color: darken($blueSeduction,25%)
$primary-color: $blueSkype
$secondary-color: $blueSeduction

$bg-content-color: #F5F5F9

@import "admin-theme"