.token-input{
  border:0 !important;
  padding: 0 !important;
  margin-top: -6px !important;
  background-color: transparent !important;
  max-width:100%;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
#content.bootstrap{
  padding-top: 20px;
}
#form .toolbarBox a{
  text-decoration: none;
}
.product-combination-image{
  display: inline-block;
  margin: 5px;
}
.product-combination-image img{
  border: 1px solid #ccc
}
.tt-menu{
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
}
.tt-suggestion{
  cursor: pointer
}
#form .navbar-form-footer{
  padding:15px;
  border-top: 1px solid #ccc !important;
  z-index: 400 !important;
}
#form .form-action-bar{
  padding-left:210px
}
body.page-sidebar-closed #form .form-action-bar{
  padding-left:50px
}
body.mobile-nav #form .form-action-bar{
  padding-left:0
}
#form .form-action-bar .checkbox-active{
  margin-left:10px;
  display: inline-block
}
#form .form-action-bar .checkbox-active .checkbox{
  display: inline-block
}
.checkbox-active .titatoggle input + span:after{
  margin-top: 7px
}

@media (max-width: 768px){
  #form .form-action-bar{
    padding-left:50px;
  }
}
