.token-input{
  border:0 !important;
  padding: 0 !important;
  margin-top: -6px !important;
  background-color: transparent !important;
  max-width:100%;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
#content.bootstrap{
  padding-top: 20px;
}
#form .toolbarBox a{
  text-decoration: none;
}

.product-combination-image{
  display: inline-block;
  margin: 5px;
}
.product-combination-image img{
  border: 1px solid #ccc
}
.tt-menu{
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
}
.tt-suggestion{
  cursor: pointer
}