<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>hipay</name>
	<displayName>Hipay</displayName>
	<version>1</version>
	<description>Secure payement Visa Mastercard and european solutions.</description>
	<author></author>
	<tab>payments_gateways</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>