{% if isMultistoreUsed %}
<div class="toto" style="width:100%; height: 40px; background-color:#d06868; padding:12px;">
<h2 style="color: white; font-size: 14px; text-align:center;">Shop test</h2>
</div>
{% endif %}
