fieldset.shipwire_fieldset td.shipwire_column { padding: 0 18px; text-align: right; vertical-align: top;}
fieldset.shipwire_fieldset input[type=text] { width: 250px; }
fieldset.shipwire_fieldset input.shipwire_button { margin-top: 10px; }
fieldset.shipwire_fieldset div#test_connection { margin-left: 18px; border: 1px solid #DFD5C3; padding: 5px; font-size: 11px; margin-bottom: 10px; width: 90%; }
fieldset.shipwire_fieldset a { color: #0000CC; font-weight: bold; text-decoration: underline; }
.clear {clear: both; margin: 0 auto;}
.current-page {border: 1px solid #000; padding: 3px;}
.description {font-size: 11px; color: #777; font-style: italic; margin-top: 3px;}

.small { font-size: 10px; display: inline-block; }

.tabbed-form { margin: 0px; padding: 0px; }
.tabbed-form.menu li { list-style: none; float: left; border: 1px solid #CCC; padding: 3px 6px; border-bottom: none;}
.tabbed-form.menu li.active { background: #FFF; height: 22px; margin-top: -7px; border: 1px solid #AAA; border-bottom: none; position: relative; top: 2px;}
.tabbed-form.menu li:hover { background: #FFF; cursor: pointer; }
.tabbed-form.content { border: 1px solid #AAA; padding-left: 10px; background: #FFF;}
.tabbed-form.content li { list-style: none; width: 100%; padding: 10px; }

span.tree-button { border: 1px solid #000000; font-size: 10px; height: 0; margin: 4px; padding: 0 2px; }
span.tree-button:hover { background: #DDD; cursor: pointer; }
.tree .details { display: none; margin: 5px 20px;}
.tree table { vertical-align: middle; }
.tree table td { padding: 0px 5px; min-width: 50px;}

.spaced-table { border-collapse: collapse }
.spaced-table td {padding: 0px 5px; min-width: 50px; font-weight: bold; border-bottom: 1px dashed #E8E8E8;}

.spaced-table2 th{ min-width: 100px; max-width: 100px}
.spaced-table2 td{ max-width: 100px; }
.spaced-table3 th { min-width: 200px; max-width: 200px}
.spaced-table3 th.small{ min-width: 30px; max-width: 30px}
.spaced-table3 th.medium{ min-width: 100px; max-width: 100px}
.spaced-table3 td{ max-width: 200px; vertical-align: top;}
.spaced-table3 td .small{ max-width: 30px; }
.spaced-table3 td .medium{ max-width: 100px; }


.shipwire-dialogbox { border: 1px solid #D8D8D8; padding: 10px; width: 90%; margin: 10px 0px;}
.shipwire-dialogbox input { margin: 5px 0px;}
.shipwire-dialogbox  label{ padding: 0.2em 1.5em 0 0; width: 150px; }

.prepaid-bandwidth { 
	background: none repeat scroll 0 0 #DDE9F7;
	border: 1px solid #50B0EC;
	font-size: 11px;
	left: 566px;
	padding: 10px;
	position: relative;
	text-shadow: 0 1px 0 #FFFFFF;
	top: 26px;
	width: 155px;
}

.prepaid-bandwidth.coupon {
	left: 565px;
	width: 340px;
}

.bandwidth-value { font-size: 30px; text-align: center; margin-top: 10px;}

.bold-td { font-weight: bold; }
.hint { padding: 8px 6px 8px 42px; }

/* Aliases */
.MB0 {margin-bottom: 0;}
.MB10 {margin-bottom: 10px;}
.MB20 {margin-bottom: 20px;}
.MB30 {margin-bottom: 30px;}
.MT0 {margin-top: 0;}
.MT10 {margin-top: 10px;}
.MT20 {margin-top: 20px;}
.MT30 {margin-top: 30px;}
.ML0 {margin-left: 0px;}
.ML10 {margin-left: 10px;}
.ML20 {margin-left: 20px;}
.ML30 {margin-left: 30px;}
.MR0 {margin-right: 0px;}
.MR10 {margin-right: 10px;}
.MR20 {margin-right: 20px;}
.MR30 {margin-right: 30px;}
.resetM {margin: 0;}
.C { clear: both; margin: 0 auto; }
.I {font-style: italic;}
.L {float: left;}
.R {float: right;}

/* jExcerpt */
.jexcerpt-long { 
	float: left;
	display: none;
	position: absolute;
	background: #FFF;
	border: 1px solid #444;
	padding: 3px;
	margin: -3px;
	cursor: default;
}
.jexcerpt-short { 
	float: left;
}

#requiredFieldsTranslation { display: none; }