.logo-configuration-card-body {
  padding: inherit;

  .logo-card {
    border: 0;
    @include border-radius(0);

    .logo-card-title {
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      font-stretch: normal;
      line-height: normal;
      color: #4a4a4a;
      text-align: center;
      letter-spacing: -0.01875rem;
    }

    .tab-content {
      padding: 0;

      .input-in-tab {
        margin-top: -2px;
      }
    }

    .logo-card-description {
      height: 34px;
      margin-top: 20px;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      font-stretch: normal;
      line-height: normal;
      color: $gray-500;
      letter-spacing: -0.0125rem;
    }

    .logo-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 6.625rem;
      margin-top: 2rem;
      margin-bottom: 1.6875rem;

      .header-logo,
      .email-logo,
      .invoice-logo {
        max-width: 6.25rem;
        max-height: 6.625rem;
      }

      .favicon-logo {
        width: 2.41875rem;
        height: 2.41875rem;
        border: 1px solid transparent;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }

  .logo-card:not(:last-child) {
    border-right: 0.0625rem solid #dedede;
  }

  .nav-pills {
    .nav-item {
      padding-right: 1.25rem;
    }

    border-top: 0;
    border-bottom: 0;

    .nav-link {
      &.active {
        color: $gray-700;
        background-color: inherit;
      }
      height: 1.65rem;
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;

      color: #afbbbe;
    }
  }
}
