<div class="module-item-list module-addons-item-list col-md-12">
    <div class="container-fluid">
        <div class="module-addons-item-wrapper-list">
          <span class="module-icon-addons-exit-list">
            <img src="{{ asset('themes/default/img/preston.png') }}" alt="{{ 'Exit to PrestaShop Addons Marketplace'|trans({}, 'Admin.Modules.Feature') }}" />
          </span>
          {{ 'See all results for your search on'|trans({}, 'Admin.Modules.Feature') }}<br/>
          <a class="url" href="#">{{ 'PrestaShop Addons Marketplace'|trans({}, 'Admin.Modules.Feature') }}</a>
        </div>
    </div>
</div>