<div class="dropdown">
    <button class="btn dropdown-toggle module-status-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <div class="module-status-selector-label">
            Show all modules
        </div>
        <span><i class="icon-chevron-sign-down"></i></span>
    </button>
    <ul class="dropdown-menu module-status-selector">
        <li class="module-status-reset">
            <a href="#">
                <span>
                    Show all modules
                </span>
            </a>
        </li>
        <li class="module-status-menu" data-status-ref="1">
            <a href="#">
                Enabled Modules
            </a>
        </li>
        <li class="module-status-menu" data-status-ref="0">
            <a href="#">
                Disabled Modules
            </a>
        </li>
    </ul>
</div>
