<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="module-notification-kpis">

            <div class="module-kpi">
                <i class="material-icons">settings</i>
                <span class="module-kpi-number">{{modules.to_configure|length}}</span> modules to configure
            </div>

            <div class="module-kpi">
                <i class="material-icons">update</i>
                <span class="module-kpi-number">{{modules.to_update|length}}</span>  modules to update
            </div>

        </div>
    </div>
</div>

<hr class="top-menu-separator"/>
