<div class="module-sorting-menu">
    <div class="row">

        <div class="col-lg-6">
            <div class="module-sorting-search-wording">
                <span class="module-search-result-wording">{{ totalModules }} modules and services selected for you</span>
                <span class="help-box" data-toggle="popover"
                    data-title="{{ trans("Selection", {}, 'AdminModules') }}"
                    data-content="{{ trans("Customize your store with this selection of modules recommended for your shop, based on your country, language and version of PrestaShop. It includes the most popular modules from our Addons marketplace, and free partner modules.", {}, 'AdminModules') }}">
                </span>
            </div>
            <p class="module-addons-search">
                <a class='module-addons-search-link' href="#">
                    See all results for this search on Addons Marketplace
                    <span>
                        <i class="icon-signout"></i>
                    </span>
                </a>
            </p>
        </div>

        <div class="col-lg-6">
            <div class="module-sorting module-sorting-display pull-right">
                <i id="module-sort-grid" data-switch="grid" class="material-icons module-sort-switch module-sort-active">view_module</i>
                <i id="module-sort-list" data-switch="list" class="material-icons module-sort-switch">view_list</i>
            </div>
            <div class="module-sorting module-sorting-author pull-right">
                <select class="c-select c-select-sm">
                  <option value="" disabled selected>- Sort by -</option>
                  <option value="sort-by-name">Name</option>
                  <option value="sort-by-price-asc">Increasing Price</option>
                  <option value="sort-by-price-desc">Decreasing Price</option>
                  <option value="sort-by-scoring">Score</option>
                </select>
            </div>
        </div>
    </div>
</div>
