<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blocklink</name>
	<displayName>Link block</displayName>
	<version>1.4</version>
	<description>Adds a block with additional links.</description>
	<author>PrestaShop</author>
	<tab>front_office_features</tab>
	<confirmUninstall>Are you sure you want to delete all your links ?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>