<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blocklink</name>
	<displayName><![CDATA[Link block]]></displayName>
	<version><![CDATA[1.5]]></version>
	<description><![CDATA[Adds a block with additional links.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall>Are you sure you want to delete all your links ?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>