{% if attr.counter is defined %}
  <span
    class="maxLength">{{ '[1][/1] of [2][/2] characters used (recommended)'|trans({}, 'Admin.Catalog.Feature')|replace({
      '[1]': '<span class="currentLength">',
      '[/1]': '</span>',
      '[2]': '<span class="currentTotalMax">',
      '[/2]': '</span>',
    })|raw }}</span>
{% endif %}
