//light
//$main-color: #F7F7F7
//$main-color: #DBD8CF 			//sable
//$main-color: #CFD7DD			//bleu
//$main-color: #E0E0E0 			//gris
//$main-color: #D7D6DE 			//violet
//$main-color: #F1F8FE 			//theme wordpress

//dark
//$main-color: #272A31 			//bleu PrestaShop
//$main-color: #3D3D3D 			//gris
$main-color: #515561 			//gris bleu clair
//$main-color: #4D4645 			//taupe
//$main-color: #272822 			//gris vert
//$main-color: #313A45 			//gris bleu
//$main-color: #7B8676
//$main-color: #443A42 			//violet
//$main-color: #373E35 			//vert camo
//$main-color: #262C3F 			//bleu nuit  - pretty sure that a girl could do better naming the colors, sorry about that...
//$main-color: #8C8574
//$main-color: #3A3A4A

//$secondary-color: white		//blanc
//$secondary-color: #F5792B		//orange
//$secondary-color: #81A98C		//vert d'eau
//$secondary-color: #1EAEC0		//bleu
//$secondary-color: #00C3C1		//turquoise
//$secondary-color: #97C885		//vert menthe
//$secondary-color: #4691D2		//bleu ciel
//$secondary-color: #814C76		//violet
//$secondary-color: #FE635F		//saumon
//$secondary-color: #FFB4B8		//rose
//$secondary-color: #F2B100		//moutarde
//$secondary-color: #F6A88A		//abricot
//$secondary-color: #937976		//taupe clair
//$secondary-color: #60C276		//vert
$secondary-color: #9DC44B		//vert pomme
//$secondary-color: #6992AF		//theme wordpress
//$secondary-color: #8BC954 	//vert PrestaShop
//$secondary-color: #AB7073
//$secondary-color: black

$brand-primary: #89AFE5
//$brand-primary: #1BA6E5

//some tests
//$secondary-color: #79C09D
//$secondary-color: invert($main-color)
//$secondary-color: lighten(invert($main-color),20%)
//$secondary-color: adjust-hue($main-color, 80%)
//$hue: hue(adjust-hue($main-color, 80%))
//$secondary-color: hsl($hue, 50%, 50%) //Creates a Color from hue, saturation, and lightness values
//$secondary-color: #00A89C

//dark and light, love and war, fire and ice, etc...
$contrasted-dark-default: #333
$contrasted-light-default: white
$contrasted-lightness-threshold: 10% //30% default

//50 shades of gray
//$bg-content-color: #F8F9FB 	//bleu gris clair
//$bg-content-color: #F8FBF8 	//vert gris clair
//$bg-content-color: #F8F4E3 	//gris foncé
//$bg-content-color: #F6F6F6 		//gris
$bg-content-color: #F8F8F8 	//gris

//heading
//$bg-header-color: darken($secondary-color,20%)
$bg-header-color: #242424
$bg-footer-color: #242424
$bg-page-head-color : $secondary-color
$bg-panel-heading-color: hsl(hue($secondary-color), 10, 90)

//others
$badge-notif-color: #8BC954
$icon-color: #87C795