@import "compass"
@import "admin-theme/admin-theme-colors"
@import "admin-theme/_bootstrap-variables"
@import "admin-theme/_bootstrap-init"
@import "admin-theme/_font-awesome"

html, body
	min-height: 100%
	height: 100%

#main
	min-height: 100%
	padding: 36px 0 60px
	margin: 0 0 -60px 0
	background-color: $bg-content-color
	background-image: url('../img/patterns/bedge_grunge.png') // texture

#content
	padding: 80px 20px 0
	margin-left: 240px
	@include transition-property(margin)
	@include transition-duration(0.4s)
	@include transition-timing-function(ease-out)
	fieldset, .panel
		padding: 20px
		margin-bottom: 20px
		border: solid 1px darken($bg-content-color,10%)
		background-color: lighten($bg-content-color,20%)
		@include border-radius(5px)
		@include box-shadow(rgba(black,0.10) 0 2px 0, white 0 0 0 3px inset)
	.panel-heading
		@extend h3
	h3:not(.modal-title), .panel-heading
		border: none
		padding: 0 5px
		margin: -16px -16px 15px -16px
		color: contrasted($bg-panel-heading-color)	
		font-size: 1.2em
		line-height: 30px
		font-weight: 300
		text-transform: uppercase
		background-color: white
		border-bottom: solid 1px #ccc
		i, a
			color: contrasted($bg-panel-heading-color)
		.badge
			background-color: $brand-primary
			+border-radius(0)
			height: 29px
			line-height: 25px
			font-size: 1.3em
			margin-right: 7px
			font-weight: 300
			float: left
			margin-left: -5px
		.panel-heading-action
			@extend .pull-right
			margin-right: -5px
			a.list-toolbar-btn
				float: left
				height: 30px
				width: 30px
				color: $brand-primary
				border-left: solid 1px #ccc
				&:hover
					text-decoration: none
					color: black
				i
					text-align: center
					font-size: 1.3em
					line-height: 30px
	.panel-danger .panel-heading
		background-color: $badge-notif-color!important
	form .alert
		clear: both
		
	@media (max-width: $screen-tablet)
		margin-left: 0
		width: 100%

#nobootstrap
	float: left

//todo: remove temp fix for bootstrap RC1 -> final
input[type="text"],input[type="search"],input[type="password"], textarea, select
	@extend .form-control
fieldset > .row
	@extend .form-group

//components
@import "admin-theme/admin-header"
@import "admin-theme/admin-footer"
@import "admin-theme/admin-nav"
@import "admin-theme/admin-commons"
@import "admin-theme/admin-tables"
@import "admin-theme/admin-tree"
@import "admin-theme/admin-forms"
@import "admin-theme/admin-kpi"
@import "admin-theme/admin-switch"
@import "admin-theme/admin-toolbar"

//page specific
@import "admin-theme/admin-carrier-wizard"
@import "admin-theme/admin-modules"
@import "admin-theme/admin-dashboard"
