<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>pscleaner</name>
            <displayName><![CDATA[Nettoyage de PrestaShop]]></displayName>
            <version><![CDATA[0.9]]></version>
            <description><![CDATA[V&eacute;rifie et r&eacute;pare les probl&egrave;mes d&#039;int&eacute;grit&eacute; fonctionnelle et supprime les donn&eacute;es par d&eacute;faut (produits, commandes, clients)]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>