<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>socolissimo</name>
	<displayName>So Colissimo</displayName>
	<version>2.0</version>
	<description>Offer your customers, different delivery methods with LaPoste.</description>
	<author>PrestaShop</author>
	<tab>shipping_logistics</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries>fr</limited_countries>
</module>