<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>trustedshops</name>
	<displayName><![CDATA[Trusted Shops trust solutions]]></displayName>
	<version><![CDATA[1.3.3]]></version>
	<description><![CDATA[Build confidence in your online shop with the Trusted Shops quality seal, buyer protection and customer rating.]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[payment_security]]></tab>
	<confirmUninstall>Are you sure you want to delete all your settings?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>