<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>criteo</name>
	<displayName><![CDATA[Criteo]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Criteo product export and tag display.]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[advertising_marketing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>