{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
    <div class="panel">
        <div class="panel-heading">
            {{trans('Change your theme')}}
        </div>
    </div>
{% endblock %}
