.btn {
  &.btn-action {
    color: #576C72;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    &:disabled {
      color: white;
      background-color: #dddddd;
      box-shadow: none;
    }
  }
}
