ul.category-tree {
  padding: 0;

  .less,
  .more {
    position: relative;
    background: none;

    > .checkbox,
    > .radio {
      cursor: pointer;

      &::before {
        position: absolute;
        top: -0.25rem;
        left: -0.1rem;
        font-family: "Material Icons", Arial, Helvetica, sans-serif;
        font-size: 1.25rem;
        color: $gray-medium;
        cursor: pointer;
      }
    }
  }

  .less {
    > .checkbox,
    > .radio {
      &::before {
        content: "\E313";
      }
    }
  }

  .more {
    > .checkbox,
    > .radio {
      &::before {
        content: "\E5CC";
      }
    }
  }

  .category-label {
    position: relative;
    display: block;
    padding-right: 1.563rem;

    .form-check-label {
      position: absolute;
      top: 0;
      right: 0.4em;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .category {
      position: absolute;
      top: 0.4em; // relative to the current font size, so "em" and not "rem"
      right: 0.4em;
      cursor: pointer;
    }
  }

  ul {
    padding-left: 1.563rem;
  }

  li {
    list-style: none;
    background-repeat: no-repeat;
    background-position: 0 3px;
    background-size: 12px 12px;

    .checkbox,
    .radio {
      padding-top: 0;
      padding-left: 20px;
    }
  }
}

// category tree on the catalog page
#tree-categories,
.category-filter-menu {
  padding: 0.625rem;

  .categories-tree-actions {
    margin-bottom: 0.625rem;
    white-space: nowrap; // prevent buttons from collapsing
    border-bottom: 0.063rem solid $gray-light;

    > a {
      display: inline-block;

      margin-bottom: 0.625rem;
      color: $gray-medium;

      + a {
        margin-left: 0.9375rem;
      }

      &:hover {
        text-decoration: none;
      }

      i.material-icons {
        font-size: 1.25rem;
        vertical-align: bottom;
      }
    }

    > button {
      display: inline-block;
      padding: 0;
      margin-bottom: 0.625rem;
      color: $gray-medium;
    }
  }

  label.form-control-label {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    color: $gray-medium;
  }

  #choice_tree {
    .category-tree {
      margin-bottom: 0;
    }
  }
}

.category-filter-menu {
  min-width: 320px;
}
