.choice-table {
  max-height: 300px;
  overflow-y: auto;
}

.choice-table-headers-fixed {
  table {
    tbody {
      display: block;
      @extend .choice-table;
    }

    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }
}
