.colorpicker {
  padding: 0;
  border: none;

  &::before,
  &::after {
    border: none;
  }

  .form-control {
    cursor: pointer;
    border: 1px solid var(--#{$cdk}primary-400);
    box-shadow: inset 0 0 0 var(--#{$cdk}size-4) var(--#{$cdk}white);

    &,
    &:focus-visible,
    &:focus {
      color: transparent;
      text-shadow: none;
    }
  }
}
