.help-box {
  box-sizing: border-box;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0 5px 2px;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: $brand-primary;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: $notice;
  border: 2px solid $brand-primary;

  &::after {
    content: "?";
  }

  &:focus {
    outline: none;
  }
}
