.material-choice-tree-container {
  padding: .625rem;
  border: 1px solid $gray-light;

  .choice-tree-actions {
    border-bottom: .063rem solid $gray-light;
    margin-bottom: 10px;
  }

  ul.choice-tree {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      background-size: 12px 12px;
      background: no-repeat 0 3px;

      .checkbox,
      .radio {
        padding-left: 18px;
        padding-top: 0;

        i.material-icons {
          &::before {
            content: "radio_button_unchecked";
            color: $medium-gray;
          }

          cursor: pointer;

          width: 22px;
          height: 22px;
          font-size: 1.3rem;

          padding-right: 1px;
        }

        input[type="radio"] {
          &:checked {
            + i.material-icons {
              &::before {
                content: "radio_button_checked";
                color: $primary;
              }
            }
          }
          &:disabled {
            + i.material-icons {
              cursor: not-allowed;
              opacity: .5;
            }
          }

          display: none;
        }
      }

      .checkbox {
        i.md-checkbox-control {
          // make material checkbox smaller
          &::before {
            width: 16px;
            height: 16px;
            margin-top: 3px;
          }
        }

        input[type="checkbox"] {
          &:checked,
          &:indeterminate {
            + i.md-checkbox-control {
              &:after {
                // make material checkmark smaller
                top: 5px;
                left: 3px;
                width: 11px;
                height: 7px;
              }
            }
          }
        }
      }

      ul {
        padding-left: 1rem;
      }
    }

    .collapsed,
    .expanded {
      background: none;
      position: relative;

      > .checkbox,
      > .radio {
        cursor: pointer;

        &::before {
          position: absolute;
          font-family: 'Material Icons';
          cursor: pointer;
          font-size: 1.25rem;
          color: $gray-medium;
          top: -0.25rem;
          left: -0.1rem;
        }
      }
    }

    .expanded {
      > .checkbox,
      > .radio {
        &::before {
          content: "\E313";
        }
      }
    }

    .collapsed {
      // hide inner tree when item is collapsed
      > ul {
        display: none;
      }

      > .checkbox,
      > .radio {
        &::before {
          content: "\E5CC";
        }
      }
    }
  }
}

.category-choice-tree-button {
  .material-choice-tree-container {
    border: none;
  }
}
