.module-item-wrapper-grid {
  @extend .card;
  @extend .card-block;
  min-height: 415px;

  border: none;
  @include border-radius(0);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

  .module-item-heading-grid {
    position: relative;
    text-align: center;

    .module-logo-thumb-grid {
      width: 100%;
      width: $module-logo-size;
      height: $module-logo-size;
      margin: 0 auto;
      text-align: center;
      @include border-radius(0);

      > img {
        max-width: $module-logo-size;
        max-height: $module-logo-size;
      }
    }

    .module-name-grid {
      @extend .card-title;
      position: relative;
      min-height: 40px;
      margin: 1rem 0 0.5rem;
      font-weight: bolder;
      text-align: center;
    }

    .module-version-author-grid {
      @extend .card-title;
      overflow: hidden;
      font-weight: lighter;
      color: $gray-medium;

      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;

      b {
        font-weight: lighter;
      }
    }
  }

  .module-container {
    text-align: center;
  }

  .module-star-ranking-grid {
    @include stars($ps-stars);
  }

  .module-quick-action-grid {
    display: inline;
    color: $gray-dark;

    .module-actions {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
    }

    .light-button {
      float: none;
      width: 92%;
      height: 32px;
      padding: 0.5rem;
      margin: 0 auto;
      font-size: 0.625rem;
    }

    .onclick {
      margin-bottom: -7px;
    }
  }

  .module-quick-description-grid {
    min-height: 100px;
    margin: 15px 0;
    text-align: center;

    .module-read-more-grid {
      display: inline-block;

      .module-read-more-grid-btn {
        font-weight: 700;
      }
    }
  }
}

/**
* Marketplace Module card
**/

.module-addons-item-grid {
  display: none;

  height: 258px;
  margin-bottom: 0.75rem;
  cursor: pointer;
  user-select: none;

  .module-addons-item-wrapper-grid {
    @extend .module-item-wrapper-grid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    vertical-align: middle;

    .module-icon-addons-exit-grid {
      display: block;
      padding-bottom: 20px;
    }
  }
}

/**
* Facebook-like module cards
**/

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.module-placeholders-wrapper {
  margin-top: 76px;

  .timeline-item-wrapper {
    @extend .module-item-wrapper-grid;
    height: 250px;

    .animated-background {
      position: relative;
      height: 96px;
      background: #f6f7f8;
      background: #eee;
      // stylelint-disable-next-line
      background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
      background-size: 800px 104px;
      animation-name: placeHolderShimmer;

      animation-duration: 1.75s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;

      .background-masker {
        position: absolute;
        box-sizing: border-box;
        background: $white;
      }
    }
  }
}

.outlined .background-masker {
  border: 1px solid #ddd;
}

.outlined:hover .background-masker {
  border: none;
}

.outlined:hover .background-masker:hover {
  z-index: 1;
  border: 1px solid #ccc;
}

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
  top: 0;
  right: 0;
  left: 40px;
  height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
  top: 10px;
  left: 40px;
  width: 10px;
  height: 8px;
}

.background-masker.header-bottom {
  top: 18px;
  height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
  top: 24px;
  height: 6px;
}

.background-masker.header-right,
.background-masker.subheader-right {
  right: 0;
  left: 300px;
  width: auto;
}

.background-masker.subheader-right {
  left: 230px;
}

.background-masker.subheader-bottom {
  top: 30px;
  height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
  top: 40px;
  right: 0;
  left: 0;
  height: 6px;
}

.background-masker.content-top {
  height: 20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
  top: 60px;
  right: 0;
  left: 380px;
  width: auto;
  height: 8px;
}

.background-masker.content-second-line {
  top: 68px;
}

.background-masker.content-second-end {
  top: 74px;
  left: 420px;
}

.background-masker.content-third-line {
  top: 82px;
}

.background-masker.content-third-end {
  top: 88px;
  left: 300px;
}

.modal-read-more {
  .modal-dialog {
    max-width: none;
  }
}

.module-modal-footer {
  display: block;
}
