// stylelint-disable-next-line
$component-name: shop-selector;

.#{$component-name} {
  &-search {
    min-height: auto;
    padding: 0.3rem 1rem;
    padding-left: 2.2rem;

    &-container {
      position: relative;
      margin-bottom: 1rem;

      @include media-breakpoint-down(sm) {
        display: none;
      }

      i {
        position: absolute;
        top: 0.5rem;
        left: 0.75rem;
        z-index: 1;
        font-size: 1.2rem;
        color: $medium-gray;
        pointer-events: none;
      }

      .tt-menu {
        width: 100%;
        overflow: hidden;
        background-color: $white;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
        @include border-bottom-radius(4px);

        .tt-dataset > div {
          padding: 0.5rem 1rem;
          cursor: pointer;
          @include transition(0.25s ease-out);

          &:hover,
          &.tt-cursor {
            background-color: #f4fcfd;
          }
        }
      }
    }
  }

  ul.#{$component-name}-group-list {
    position: relative;
    max-height: 500px;
    padding: 0 1rem 0 0;
    margin-left: 0;
    list-style-type: none;
  }

  &-group-item {
    &.#{$component-name}-item {
      justify-content: flex-start;
      margin-bottom: 1rem;
      color: $medium-gray;
      font-weight: 600;
    }
  }

  &-shop-item {
    padding: 0.5rem;
    cursor: pointer;
    @include border-radius(0.5rem);
    font-weight: 600;

    .material-icons {
      color: $brand-primary;
      opacity: 0;
    }
  }

  &-shop-item:hover {
    background-color: rgba(37, 185, 215, 0.15);

    .material-icons {
      opacity: 1;
    }
  }

  &-shop-item.selected-shop {
    background-color: rgba(37, 185, 215, 0.15);
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    > .#{$component-name}-color-check .material-icons {
      font-size: 1.25rem;
    }

    &-left {
      display: flex;
      align-items: center;

      > i {
        margin-right: 0.825rem;
        font-size: 1.2rem;
      }

      @include media-breakpoint-down(sm) {
        max-width: 80%;
      }
    }
  }

  &-color {
    display: block;
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    background-color: $multishop-header-default-background;
    @include border-radius(3px);

    &-container {
      &.#{$component-name}-color-check {
        margin-right: 0.95rem;

        a {
          display: none;
          margin: 0.2rem 0;
        }

        i {
          width: 1rem;
          font-size: 1.15rem;
        }
      }

      &:not(.#{$component-name}-color-check) {
        i {
          display: none;
        }

        a {
          display: block;
        }
      }

      &.#{$component-name}-color-check:hover {
        a {
          display: block;
        }

        i {
          display: none;
        }
      }
    }
  }
}
