.notification-center {
  > .notification {
    padding: 9px 5px;
    color: $medium-gray;
    background: transparent;
    border: none;

    > .material-icons {
      font-size: 1.375rem;
      line-height: 1.375rem;
      vertical-align: middle;
    }

    > .count {
      @include notification_counter();

      @include media-breakpoint-down("sm") {
        top: 0.7rem;
        right: 0.2rem;
      }

      &.hide {
        display: none;
      }
    }
  }

  > .notification::after {
    display: none;
  }

  .dropdown-menu {
    min-width: 25rem;
    padding: 0;
    margin: 0;
    @include border-radius(0);
  }

  .notifications {
    top: 42px;
    // stylelint-disable-next-line
    right: 5px !important;
    min-width: 25rem;
    padding: 0;
    margin: 0;
    font-size: $font-size-base;
    @include border-radius(0);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    &::before,
    &::after {
      position: absolute;
      right: 9px;
      bottom: 100%;
      width: 0;
      height: 0;
      pointer-events: none;
      content: " ";
      border: solid transparent;
    }

    &::after {
      margin-right: 1px;
      border-color: transparent;
      border-width: 7px;
      border-bottom-color: $white;
    }

    &::before {
      margin-left: -8px;
      border-color: transparent;
      border-width: 8px;
      border-bottom-color: $gray-300;
    }

    .nav {
      .nav-item {
        width: 33%;
        margin-left: 0;
        text-align: center;
      }

      .nav-link {
        padding: 0.9375rem 0.9375rem 0.625rem;
        font-weight: $font-weight-normal;
        color: $gray-medium;

        &.active {
          color: $gray-dark;
          border-top: 0;
          border-bottom: 2px solid $brand-primary;
        }

        &:hover {
          color: $link-color;
        }
      }
    }

    .tab-content {
      padding: 0;
      margin-top: -0.0625rem;
      border-top: 0.125rem solid $gray-light;

      > .tab-pane {
        height: 11.88rem;
        overflow-y: auto;

        .no-notification {
          display: none;
        }

        &.empty {
          color: $gray-medium;
          text-align: center;

          &::after {
            font-family: "Material Icons", Arial, Helvetica, sans-serif;
            font-size: 5.625rem;
            color: $gray-light;
            content: "\E7F5";
            opacity: 0.7;

            @include media-breakpoint-down("sm") {
              display: block;
              margin-top: 1rem;
              font-size: 1.625rem;
              // To be changed to var when UIKit sources are imported
              color: $gray-700;
              opacity: 1;
            }
          }

          > .no-notification {
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;

            @include media-breakpoint-down("sm") {
              top: 7.75rem;
            }
          }

          @include media-breakpoint-down("sm") {
            // To be changed to var when UIKit sources are imported
            color: $gray-700;
          }
        }
      }

      .notif {
        display: block;
        padding: 0.625rem 0.9375rem;
        color: $gray-medium;

        .material-icons {
          vertical-align: top;
        }

        .message-notification-status {
          &.open {
            color: $brand-success;
          }

          &.closed {
            color: $brand-danger;
          }

          &.pending1,
          &.pending2 {
            color: $brand-secondary;
          }
        }

        strong {
          color: $gray-dark;
        }

        &:hover {
          color: $dropdown-link-hover-color;
          text-decoration: none;
          background-color: $dropdown-link-hover-bg;

          strong {
            color: $dropdown-link-hover-color;
          }
        }
      }
    }
  }

  .mobile & {
    .nav-link::before {
      display: none;
      font-family: "Material Icons", Arial, Helvetica, sans-serif;
      font-size: 30px;
      color: $gray-dark;
    }

    #orders-tab::before {
      content: "\E8CB";
    }

    #customers-tab::before {
      content: "\E7FE";
    }

    #messages-tab::before {
      content: "\E0BE";
    }

    &.show {
      .dropdown-toggle {
        color: $primary;
      }
    }
  }
}
