.password-strength-feedback {
  width: 100%;
  color: #888f9b;

  .progress-container {
    margin-top: 5px;
    background-color: #e1e0eb;
  }

  .progress-bar {
    text-align: center;

    > div {
      width: 0%; /* Adjust with JavaScript */
      height: 5px;
      background-color: $white; /* Adjust with JavaScript */
      @include border-radius(10px);
    }
  }

  .password-strength-text {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-align: left;
  }

  .password-requirements p {
    margin-bottom: 0;
  }
}
