.ps-dropdown {
  width: 100%;
  padding: 0.188em 0;
  font-size: 1em;
  line-height: 2.286em;
  cursor: pointer;
  background: $white;

  &.bordered {
    border: $gray-light 1px solid;
  }

  .dropdown-label {
    flex-grow: 1;
    padding: 0 0.5em;
  }

  .arrow-down {
    position: relative;
    font-size: 1.8em;
    line-height: 2rem;
    color: $gray-medium;
    cursor: pointer;
  }

  > .ps-dropdown-menu {
    z-index: 1;
    width: 100%;
    min-width: 300px;
    padding: 0;
    margin-top: 1px;

    .dropdown-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &:first-child,
      &:last-child {
        @include border-radius(0);
      }
    }

    .items-list {
      padding: 0;
      margin: 0;
      line-height: 0.75rem;
      list-style-type: none;

      .dropdown-item {
        padding: 10px;

        &.selected {
          color: $gray-light;
        }

        &.selected span {
          color: $gray-light;
        }

        span {
          padding: 0.25rem;
          font-size: 0.75rem;
          color: #aeaeae;
        }

        &:hover {
          color: $white;
          background-color: $primary;

          span {
            color: $white;
          }
        }
      }
    }
  }
}
