.ps-number {
  position: relative;
  display: inline-block;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  /* Firefox */
  input[type="number"] {
    appearance: textfield;
  }

  .danger {
    color: $gray-dark;
    background-color: $white;
    border: 1px solid $danger;

    &:focus {
      outline: none;
    }
  }

  .ps-number-spinner {
    position: absolute;
    top: 1px;
    right: 0;
    flex-direction: column;
    line-height: 17px;
    cursor: pointer;
  }

  &.hover-buttons {
    .ps-number-spinner {
      display: none;
      opacity: 0;
    }

    &:hover .ps-number-spinner {
      display: inline-block;
      opacity: 1;
    }
  }

  .ps-number-up::before {
    position: relative;
    font-family: "Material Icons", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: $gray-dark;
    content: "\E5C7";
  }

  .ps-number-down::before {
    position: relative;
    bottom: 6px;
    font-family: "Material Icons", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: $gray-dark;
    content: "\E5C5";
  }
}
