.ps-spinner {
  width: 40px;
  height: 40px;
  margin: 50px auto;
  font-size: 0;
  color: $white;
  background-color: $white;
  border: 3px solid $gray-light;
  border-left-color: $primary;
  @include border-radius(40px);
  outline: none;
  animation: rotating 2s linear infinite;
}
