.ps-alert {
  .close {
    position: absolute;
    top: 0.9375rem;
    right: 0.625rem;
    opacity: 1;

    .material-icons {
      font-size: 1.5rem;

      .alert-info & {
        color: $primary;
      }

      .alert-warning & {
        color: $warning;
      }

      .alert-danger & {
        color: $danger;
      }
    }
  }

  .alert {
    padding: 0;
    margin: 0;
    border-width: 0.125rem;
    @include border-radius(0);

    &.alert-info {
      background: $notice;
    }

    &.alert-warning {
      background: $warning-hover;
    }

    &.alert-danger {
      background: $danger-hover;
    }

    .alert-text {
      padding: 0.9375rem 0 0.9375rem 0.9375rem;
      margin-left: 3.438rem;
      background: $white;
    }
  }
}
