.ps-spinner {
  color: #ffffff;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 0;
  outline: none;
  border: 3px solid $gray-light;
  border-left-color: $primary;
  animation: rotating 2s linear infinite;
  margin: 50px auto;
}
