.serp-preview {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border: solid 1px #e7e7e7;
    padding: 30px;
    max-width: 700px;

    .serp-arrow {
        border-bottom-color: rgb(0, 102, 33);
        border-bottom-style: solid;
        border-bottom-width: 0px;
        border-left-color: rgba(0, 0, 0, 0);
        border-left-style: solid;
        border-left-width: 4px;
        border-right-color: rgba(0, 0, 0, 0);
        border-right-style: solid;
        border-right-width: 4px;
        border-top-color: rgb(0, 102, 33);
        border-top-style: solid;
        border-top-width: 5px;
        color: rgb(128, 128, 128);
        cursor: default;
        font-family: arial, sans-serif;
        font-size: 11px;
        font-weight: bold;
        height: 0px;
        position: absolute;
        line-height: 27px;
        margin-left: 3px;
        margin-top: 6px;
        text-align: center;
        user-select: none;
        visibility: visible;
        white-space: nowrap;
        width: 0px;
    }

    .serp-title {
        color: #1A0DAB;
        cursor: pointer;
        font-family: arial, regular;
        font-size: 18px;
        font-weight: normal;
        text-align: left;
        text-decoration: none;
        visibility: visible;
        white-space: nowrap;
    }

    .serp-url {
        color: #006621;
        font-family: arial, regular;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        text-align: left;
        visibility: visible;
        white-space: nowrap;
    }

    .serp-description {
        color: #545454;
        font-family: arial, regular;
        font-size: 13px;
        font-weight: normal;
        text-align: left;
        visibility: visible;
        word-wrap: break-word;
    }
}
