.tooltip {
  &-inner {
    color: var(--#{$cdk}white);

    > p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      color: var(--#{$cdk}white);
    }

    .text-nowrap {
      // stylelint-disable-next-line
      white-space: normal !important;
    }
  }
}
