.locale-input-group {
  .dropdown {
    margin-left: 0.625em;

    button.dropdown-toggle {
      border-color: $gray-light;
    }

    .dropdown-menu {
      min-width: auto;

      .dropdown-item {
        cursor: pointer;
      }
    }
  }
}

.form-group {
  [class^="locale-input-error-popover-container"] {
    .popover {
      max-width: inherit !important;
      border: inherit !important;
      border-radius: 5px;
      box-shadow: 0px 1px 10px lightgrey;

      .popover-error-list {
        padding-left: 0;
      }
    }
  }
}
