.locale-input-group {
  .dropdown {
    margin-left: 0.625em;

    button.dropdown-toggle {
      border-color: $gray-light;
    }

    .dropdown-menu {
      min-width: auto;

      .dropdown-item {
        cursor: pointer;
      }
    }
  }
}
