.twitter-typeahead {
  .tt-menu {
    width: 100%;
    max-height: var(--#{$cdk}size-320);
    padding: var(--#{$cdk}size-4) 0;
    overflow: auto;
    background: var(--#{$cdk}white);
    border: 1px solid var(--#{$cdk}primary-400);
  }

  .tt-suggestion {
    padding: var(--#{$cdk}size-8);
    color: var(--#{$cdk}primary-800);
    cursor: pointer;

    &:hover,
    &.tt-cursor {
      color: var(--#{$cdk}primary-800);
      background-color: var(--#{$cdk}primary-200);
    }
  }
}
