.typeahead-product-collection-type {
  .typeahead-list {
    li {
      @extend .p-1;
      @extend .mt-1;
      @extend .d-flex;
      @extend .align-items-center;
      border: 1px solid $gray-light;

      // thumbnail
      > .media-left {
        img {
          max-width: 50px;
          max-height: 50px;
        }
      }

      // text
      > .media-body {
        .label {
          @extend .mx-1;
        }

        // delete button
        i.delete {
          float: right;
          color: $medium-gray;
          cursor: pointer;
        }
      }
    }
  }

  .autocomplete-search {
    .search-suggestion {
      img {
        width: 50px;
      }
    }
  }
}
