// ToDo: Move to the UIKit
.unavailable-feature {
  .alert {
    &.alert-unavailable {
      cursor: not-allowed;
      background-color: lighten($gray-disabled, 5%);
    }

    &-text {
      color: lighten($gray-600, 10%);
    }

    &::before {
      color: lighten($gray-600, 30%);
      content: "\E88E";
    }
  }
}
