@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/WJ6D195CfbTRlIs49IbkFw.woff) format('woff');
}

h1, h2, h3, h4, h5 {
	font-family: 'Arvo', sans-serif !important;
}