body {
  background: #282828;
}

.header-container, .columns-container {
  background: url(../img/bg-theme6.jpg) repeat 50% 0;
}

#header {
  background: url(../img/bg-theme6.jpg) repeat 50% 0;
}
#header #nav-row {
  background: #333333;
}
#header #nav-row .shop-phone {
  color: #777;
}
#header #nav-row .shop-phone i, #header #nav-row .shop-phone strong {
  color: white;
}
#header #currencies-block-top, #header #languages-block-top, #header #nav-row .header_user_info {
  border-color: #515151;
}
#header #currencies-block-top div.current, #header #languages-block-top div.current, #header #nav-row .header_user_info a {
  color: white;
}
#header #currencies-block-top div.current:hover, #header #currencies-block-top div.current.active, #header #languages-block-top div.current:hover, #header #languages-block-top div.current.active, #header #nav-row .header_user_info a:hover, #header #nav-row .header_user_info a.active {
  background: #327082;
  color: white;
}
#header #currencies-block-top div.current strong, #header #languages-block-top div.current strong {
  color: #e4dfb9;
}
#header #currencies-block-top div.current:hover, #header #currencies-block-top div.current.active, #header #languages-block-top div.current:hover, #header #languages-block-top div.current.active {
  background: #327082;
  color: white;
}
#header #currencies-block-top ul li.selected, #header #currencies-block-top ul li:hover a, #header #languages-block-top ul li.selected, #header #languages-block-top ul li:hover a {
  background: #327082;
}
#header #contact-link {
  border-color: #515151;
}
#header #contact-link a {
  color: white;
}
#header #contact-link a:hover, #header #contact-link a.active {
  background: #327082;
  color: white;
}
#header #currencies-block-top div.current:after, #header #languages-block-top div.current:after {
  color: white;
}
#header #search_block_top .btn.button-search {
  background: #327082;
  text-shadow: 0 1px #265563;
}
#header #search_block_top .btn.button-search:hover {
  color: white;
  background: #333333;
  text-shadow: 0 1px #333;
}
#header #search_block_top #search_query_top {
  border-color: #d6d4d4;
  background: rgba(248, 248, 248, 0.63);
  color: #686666;
}
#header #header_user #shopping_cart a {
  background: #327082;
  color: white;
  text-shadow: 0 1px #265563;
}
#header #header_user #shopping_cart a:after {
  color: white;
}
#header #header_user #shopping_cart a:hover {
  color: white;
  text-shadow: 0 1px #333;
  background: #333333;
}
#header .sf-menu {
  background: #f6f6f6;
  border-bottom: 3px solid #e9e9e9;
}
#header .sf-menu > li {
  border-right: 1px solid #d6d4d4;
}
#header .sf-menu > li > a {
  border-bottom: 3px solid #e9e9e9;
}
#header .sf-menu > li.sfHover > a, #header .sf-menu > li > a:hover, #header .sf-menu > li.sfHoverForce > a {
  color: #fff;
  background: #327082;
  border-bottom-color: #1f6276;
}

ul.product_list.grid > li .product-container .product-image-container {
  border-color: #d6d4d4;
}

#home-page-tabs {
  background: none;
}
#home-page-tabs > li {
  border-color: #d6d4d4;
}
#home-page-tabs > li.active a, #home-page-tabs > li a:hover {
  background: #327082;
  color: white;
}

.new-label, .sale-label {
  background: #327082;
}
.new-label:before, .new-label:after, .sale-label:before, .sale-label:after {
  border-color: #327082 transparent transparent transparent;
}

ul.product_list.grid > li .product-container {
  background: none;
}
ul.product_list.grid > li .product-container .product-image-container {
  background: white;
}
ul.product_list.grid > li .product-container .product-image-container .product_img_link {
  background: #f1e8e3;
}
ul.product_list.grid > li .product-container .product-image-container .product_img_link img {
  background: #f1e8e3;
}

.button.ajax_add_to_cart_button {
  border-color: #327082;
}
.button.ajax_add_to_cart_button span {
  filter: none;
  background: #327082;
  border-color: #327082;
}
.button.ajax_add_to_cart_button:hover {
  border-color: #333333;
}
.button.ajax_add_to_cart_button:hover span {
  border-color: #333333;
  background: #333333;
}

.price-percent-reduction {
  background: #327082;
  border-color: #327082;
}

.price, .price.product-price {
  color: #327082;
}

.old-price {
  color: #b1b0b0;
}

ul.product_list.grid > li .product-container:hover {
  background: #fff;
  -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.17);
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.17);
}

#cmsinfo_block em {
  background: #327082;
  text-shadow: 0 1px #265563;
}

#facebook_block, #cmsinfo_block {
  background: rgba(230, 230, 230, 0.8);
}

#cmsinfo_block, #cmsinfo_block > div + div {
  border-color: #d8d8d8;
}

.footer-container #footer #social_block {
  background: none;
  padding-bottom: 15px;
}

.footer-container {
  background: #3f3f3f;
}
@media (min-width: 768px) {
  .footer-container {
    background: url(../img/footer-bg.png) repeat-x;
  }
}

#footer #newsletter_block_left .form-group .form-control {
  background: #3c3c3c;
}
#footer #newsletter_block_left .form-group .button-small {
  color: #fff;
}
#footer #newsletter_block_left .form-group .button-small:hover {
  color: #e4dfb9;
}

.footer-container #footer #social_block ul li a:hover {
  color: #e4dfb9;
}
