<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pscsx32412</name>
	<displayName><![CDATA[Module PSCSX-3241qw]]></displayName>
	<version><![CDATA[1]]></version>
	<description><![CDATA[A module to test bug PSCSX-3241]]></description>
	<author><![CDATA[PSCSX-3241]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>