<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ekomi</name>
	<displayName>eKomi</displayName>
	<version>0.8</version>
	<description>Adds a eKomi block</description>
	<author></author>
	<tab>advertising_marketing</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>