<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ekomi</name>
	<displayName><![CDATA[eKomi]]></displayName>
	<version><![CDATA[1.3]]></version>
	<description><![CDATA[Adds an eKomi block]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[advertising_marketing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>