<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ganalytics</name>
	<displayName><![CDATA[Google Analytics]]></displayName>
	<version><![CDATA[1.3]]></version>
	<description><![CDATA[Integrate Google Analytics script into your shop]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[analytics_stats]]></tab>
	<confirmUninstall>Are you sure you want to delete your details ?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>