// Ambers 9
// -------------------------

$amber:               	#FF9900 !default;
$amberDark:            	#995C00 !default;
$amberDarker:          	#4C2E00 !default;
$amberLight:           	#FFC266 !default;
$amberLighter:         	#FFD699 !default;
$amberDull:           	#D68E22 !default;
$amberDuller:         	#B38642 !default;
$amberBright:           #FFB84D !default;
$amberBrighter:        	#FFD391 !default;


// * * * Premium * * *
// -------------------------


//Dulux 4

$amberQueen:        	#F1995A !default;
$amberFlame:       		#F9B465 !default;
$amberSands:    		#F7A955 !default;
$amberBark:    			#FFB448 !default;



