// Browns 21
// -------------------------

//Defaults

$brown:             	#663300 !default;
$brownDark:         	#472400 !default;
$brownDarker:       	#331A00 !default;
$brownLight:        	#754719 !default;
$brownLighter:      	#855C33 !default;
$brownDull:         	#664728 !default;
$brownDuller:       	#5E4C3A !default;
$brownBright:       	#993300 !default;
$brownBrighter:     	#A34719 !default;

//Variations

$brownBeaver:        	#9f8170 !default;
$brownBistre:        	#3d2b1f !default;
$brownBole:        		#79443b !default;
$brownBronze:        	#cd7f32 !default;
$brownBurnt:        	#8a3324 !default;
$brownCamel:        	#c19a6b !default;
$brownChestnut:        	#954535 !default;
$brownChocolate:        #7b3f00 !default;
$brownCoffee:        	#6f4e37 !default;
$brownCopper:        	#b87333 !default;
$brownMahogany:        	#c04000 !default;
$brownSepia:        	#704214 !default;


// * * * Premium * * *
// -------------------------


//Dulux 8

$brownCaramel:        	#AC9D8E !default;
$brownPraline:        	#9F8E82 !default;
$brownTruffle:        	#8E796B !default;
$brownExotic:        	#8E766C !default;
$brownBitter:        	#82695F !default;
$brownCocoa:        	#7E6660 !default;
$brownMocha:        	#7F6968 !default;
$brownClay:        		#D7C3B8 !default;