// Lime 9
// -------------------------

$lime:               	#B8E62E !default;
$limeDark:            	#7A991F !default;
$limeDarker:          	#3D4C0F !default;
$limeLight:           	#D6FF5C !default;
$limeLighter:         	#E0FF85 !default;
$limeDull:           	#A6C44B !default;
$limeDuller:         	#94A856 !default;
$limeBright:         	#BFFF00 !default;
$limeBrighter:        	#D7FF5E !default;