// Purples 19
// -------------------------


//Defaults

$purple:             	#9966FF !default;
$purpleDark:         	#5C3D99 !default;
$purpleDarker:       	#2E1F4C !default;
$purpleLight:        	#AD85FF !default;
$purpleLighter:      	#C2A3FF !default;
$purpleDull:         	#957BC7 !default;
$purpleDuller:       	#9589AD !default;
$purpleBright:       	#9933FF !default;
$purpleBrighter:     	#AD5CFF !default;

//Variations

$purpleAmethyst:        #9966cc !default;
$purpleCerise:        	#de3163 !default;
$purpleFandango:        #b53389 !default;
$purpleHeliotrope:      #df73ff !default;
$purpleLavendar:       	#b57edc !default;
$purpleMagenta:        	#ff0090 !default;
$purpleOrchid:        	#da70d6 !default;
$purplePlum:        	#8e4585 !default;

//Brands

$purpleHeroku:        	#6567a5 !default;
$purpleYahoo:        	#720e9e !default;


// * * * Premium * * *
// -------------------------


//Dulux 8

$purpleRose:    		 #865873 !default;
$purpleBlush:   		 #864E66 !default;
$purpleOpera: 	 		 #B977A9 !default;
$purpleVerona: 	 		 #A77AAC !default;
$purpleSpring: 	 		 #A389B8 !default;
$purpleBlossom:  		 #8A7AA2 !default;
$purpleShowers:  		 #7571A4 !default;
$purpleLilac:  			 #797FA8 !default;


