// Tans 9
// -------------------------

$tan:                	#FFCC99 !default;
$tanDark:            	#997A5C !default;
$tanDarker:          	#4C3D2E !default;
$tanLight:            	#FFD6AD !default;
$tanLighter:          	#FFE0C2 !default;
$tanDull:           	#C7925D !default;
$tanDuller:         	#A67544 !default;
$tanBright:           	#FF9966 !default;
$tanBrighter:        	#FFC2A3 !default;


// * * * Premium * * *
// -------------------------


//Dulux 8

$tanGold:        		#F5CA9E !default;
$tanBronze:  		    #EDBC91 !default;
$tanWholemeal:    	    #E8B894 !default;
$tanNectar:     		#EAB897 !default;
$tanMelody:    		    #E3BBA5 !default;
$tanSpicy:    			#EAA06F !default;
$tanPumpkin:    		#E09C70 !default;
$tanGinger:    			#E89F78 !default;










