// Yellow 17
// -------------------------

//Defaults

$yellow:               	#FFCC00 !default;
$yellowDark:            #806600 !default;
$yellowDarker:          #332900 !default;
$yellowLight:           #FFDB4D !default;
$yellowLighter:         #FFEB99 !default;
$yellowDull:           	#CFB036 !default;
$yellowDuller:         	#B39F52 !default;
$yellowBright:         	#FFFF00 !default;
$yellowBrighter:        #FFFF66 !default;


//Variations

$yellowBuff:        	#f0dc82 !default;
$yellowGold:        	#ffd700 !default;
$yellowGoldmetal:       #d4af37 !default;
$yellowJasmine:        	#f8de7e !default;
$yellowMaize:        	#fbec5d !default;
$yellowSaffron:        	#f4c430 !default;
$yellowSunglow:        	#ffcc33 !default;
$yellowLight:        	#fdfc8f !default;


// * * * Premium * * *
// -------------------------


//Dulux 13

$yellowAboutme:         #ffcc33 !default;
$yellowAim:          	#fcd20b !default;
$yellowPharaoh:   	    #FDC46B !default;
$yellowHavana:			#FBBB5C !default;
$yellowSunny:			#FFD251 !default;
$yellowDelhi:			#FFC924 !default;
$yellowSpring:			#FFCD59 !default;
$yellowSunflower: 		#FFC43C !default;
$yellowGlaze:			#FFC054 !default;
$yellowBreeze:			#F0D458 !default;
$yellowEaster:			#FECF51 !default;
$yellowLemon:			#FFD865 !default;
$yellowButtercup:		#F9C833 !default;










