// PrestaShop Admin Theme Colors
$main-color: #383F50 !default
$primary-color: $blueSkype !default
$secondary-color: $greenPrestashop !default
$bg-content-color: white !default

$contrasted-dark-default: #333
$contrasted-light-default: white
$contrasted-lightness-threshold: 10%

$bg-page-head-color : $secondary-color
$bg-panel-heading-color: hsl(hue($secondary-color), 10, 90)

$badge-notif-color: $greenPrestashop
$brand-addons: $pinkPrestashop

$font-family-mono: 'Droid Sans Mono', Helvetica, Arial, sans-serif 

// FontAwesome icons
$icon-font-family: 'FontAwesome'
$fa-css-prefix: icon
$icon-size-base: 14px

// Bootstrap variables
$gray-darker: lighten(#000, 13.5%)  //#222
$gray-dark: lighten(#000, 20%)  //#333
$gray: lighten(#000, 33.5%)  //#555
$gray-light: lighten(#000, 60%)  //#999
$gray-lighter: lighten(#000, 93.5%)  //#eee

// Brand colors
$brand-primary: $primary-color !default

$brand-success: darken(#8BC954,7%) !default
$brand-warning: #f0ad4e !default
$brand-danger: #d9534f !default
$brand-info: #5bc0de !default

// Scaffolding
$body-bg: $bg-content-color
$text-color: $gray

// Typography
$url-font-content: "//fonts.googleapis.com/css?family=Open+Sans:300,400,700" !default
$url-font-content-name : 'Open Sans' !default
$url-font-headings: "//fonts.googleapis.com/css?family=Ubuntu+Condensed" !default
$url-font-headings-name: 'Ubuntu Condensed' !default
$font-family-sans-serif: $url-font-content-name, Helvetica, Arial, sans-serif 
$headings-font-family: $url-font-headings-name, Helvetica, Arial, sans-serif
$font-size-base: 12px
$line-height-base: 1.428571429
$line-height-computed: floor($font-size-base * $line-height-base)
$headings-font-weight: 400

// Components
$padding-base-vertical: 4px 
$padding-base-horizontal: 8px 
$border-radius-base: 3px

// Tables

// $table-bg: transparent  overall background-color
$table-bg-accent: #f9f9f9  //for striping
$table-bg-hover: #EDF7FB

// Buttons
$btn-default-color: $text-color 
$btn-default-bg: white 
$btn-default-border: #ccc
$btn-primary-color: $btn-default-color 
$btn-primary-bg: white 
$btn-primary-border: $brand-success

// Forms
$input-bg: white 
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 2)

// Dropdowns
$dropdown-link-hover-color: white 
$dropdown-link-hover-bg: $brand-primary

// Grid system
$grid-gutter-width: 10px  // Navbar

// Basics of a navbar
$navbar-height: 35px  // Wells
$well-bg: #FCFDFE

// Media queries breakpoints
// Tiny screen / phone
$screen-tiny: 480px 
$screen-phone: $screen-tiny 

// Small screen / tablet
$screen-small: 768px 
$screen-tablet: $screen-small 

// Medium screen / desktop
$screen-medium: 992px 
$screen-desktop: $screen-medium 

// So media queries don't overlap when required, provide a maximum
$screen-small-max: ($screen-medium - 1) 
$screen-tablet-max: $screen-small-max

// Large screen / wide desktop
$screen-large: 1200px 
$screen-large-desktop: $screen-large

// Container sizes
// Small screen / tablet
$container-tablet: 728px

// Medium screen / desktop
$container-desktop: 940px

// Large screen / wide desktop
$container-large-desktop: 1170px  //light