<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>bankwire</name>
            <displayName><![CDATA[Bank Wire]]></displayName>
            <version><![CDATA[0.5]]></version>
            <description><![CDATA[Accept payments by bank wire.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Are you sure you want to delete your details?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>