<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>bankwire</name>
    <displayName><![CDATA[Bank wire]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Accept payments for your products via bank wire transfer.]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure about removing these details?]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>