<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>upscarrier</name>
	<displayName>UPS Carrier</displayName>
	<version>1.0</version>
	<description>Offer your customers, different delivery methods with UPS</description>
	<author>PrestaShop</author>
	<tab>shipping_logistics</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries>us</limited_countries>
</module>