<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>statsstock</name>
	<displayName>Stock stats</displayName>
	<version>1</version>
	<description></description>
	<author>PrestaShop</author>
	<tab>analytics_stats</tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
</module>