<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>twenga</name>
	<displayName>Twenga API</displayName>
	<version>1.5</version>
	<description>Module role: export of your products on Twenga and installation of the sales tracking brought by Twenga (requires to sign up to Twenga)</description>
	<author></author>
	<tab>smart_shopping</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>