.toolbar_btn
	position: relative
	padding: 2px 5px !important
	margin-right: 3px
	font-size: 12px
	font-weight: 600
	color: white
	text-align: center
	text-shadow: none
	&:hover
		color: $secondary-color
		border-color: white
		background-color: white!important
		
[class^="process-icon-"], [class*=" process-icon-"]
	height: 25px
	min-width: 32px
	background-position: center
	background-repeat: no-repeat
	display: block
	font-family: FontAwesome
	font-weight: normal
	font-style: normal
	font-size: 25px
	line-height: 25px
	text-decoration: inherit
	-webkit-font-smoothing: antialiased
	*margin-right: .3em

.process-icon-new
	@extend .icon-plus-sign-alt
.process-icon-save
	@extend .icon-save
.process-icon-back
	@extend .icon-arrow-left
.process-icon-save-and-stay
	@extend .icon-save
.process-icon-help
	@extend .icon-question-sign
.process-icon-export
	@extend .icon-cloud-download
.process-icon-import
	@extend .icon-cloud-upload
.process-icon-help-new
	@extend .icon-question-sign
.process-icon-edit
	@extend .icon-edit
.process-icon-newAttributes
	@extend .icon-plus-sign-alt
.process-icon-modules-list
	@extend .icon-puzzle-piece
.process-icon-save-date
	@extend .icon-download
.process-icon-save-status
	@extend .icon-download
.process-icon-new-module
	@extend .icon-plus
.process-icon-delete
	@extend .icon-trash
.process-icon-update
	@extend icon-refresh
.process-icon-preview
	@extend .icon-eye-open
.process-icon-previewURL
	@extend .icon-eye-open
.process-icon-stats
	@extend .icon-bar-chart
.process-icon-duplicate
	@extend .icon-copy
.process-icon-newCombination.toolbar-new
	@extend .icon-plus-sign
.process-icon-newCombination.toolbar-cancel
	@extend .icon-minus-sign
.process-icon-partial_refund
	@extend .icon-exchange
.process-icon-cancel
	@extend .icon-remove
.process-icon-new-url
	@extend .icon-plus-sign-alt
.process-icon-anchor
	@extend .icon-anchor
.process-icon-refresh
	@extend .icon-refresh
.process-icon-configure
	@extend .icon-cog
.process-icon-save-and-preview
	@extend .icon-save
