.fixed-width-xs
	width: 40px!important
.fixed-width-sm
	width: 80px!important
.fixed-width-md
	width: 120px!important
.fixed-width-lg
	width: 160px!important
.fixed-width-xl
	width: 200px!important
.fixed-width-xxl
	width: 250px!important

.row-margin-bottom
	margin-bottom: 15px
.row-padding-top
	padding-top: 15px

.thumbnail
	background-color: white
	border-color: #ccc!important

.badge
	background-color: $secondary-color
	&.badge-success
		@extend .badge
		background-color: $brand-success
	&.badge-error
		@extend .badge
		background-color: $brand-danger

//tabs
.nav-tabs
	border-bottom: none
	li a
		font-size: 1.1em
		font-family: $headings-font-family
		text-transform: uppercase
		font-weight: 300
	li.active
		a, a:hover, a:focus
			background-color: white

.alert.alert-danger
	padding-left: 60px
	position: relative
	&:before
		position: absolute
		top: 0
		left: 10px
		display: block
		min-height: 25px
		min-width: 25px
		font-family: FontAwesome
		font-weight: normal
		font-style: normal
		font-size: 35px
		text-decoration: inherit
		-webkit-font-smoothing: antialiased
		content: "\f00d"

.alert.alert-success
	padding-left: 60px
	position: relative
	&:before
		position: absolute
		top: 0
		left: 10px
		display: block
		min-height: 25px
		min-width: 25px
		font-family: FontAwesome
		font-weight: normal
		font-style: normal
		font-size: 35px
		text-decoration: inherit
		-webkit-font-smoothing: antialiased
		content: "\f00c"

.alert.alert-info
	padding-left: 60px
	position: relative
	&:before
		position: absolute
		top: 0
		left: 10px
		display: block
		min-height: 25px
		min-width: 25px
		font-family: FontAwesome
		font-weight: normal
		font-style: normal
		font-size: 35px
		text-decoration: inherit
		-webkit-font-smoothing: antialiased
		content: "\F05A"


.overflow-y
	height: 200px
	overflow-y: auto
