.fixed-width-xs
	width: 40px!important
.fixed-width-sm
	width: 80px!important
.fixed-width-md
	width: 120px!important
.fixed-width-lg
	width: 160px!important
.fixed-width-xl
	width: 200px!important
.fixed-width-xxl
	width: 250px!important

.row-margin-bottom
	margin-bottom: 15px

textarea
	resize: none

.thumbnail
	background-color: white
	border-color: #ccc!important

.badge
	background-color: $secondary-color
	&.badge-success
		@extend .badge
		background-color: $brand-success
	&.badge-error
		@extend .badge
		background-color: $brand-danger

//tabs
.nav-tabs
	border-bottom: none
	li a
		font-size: 1.1em
		font-family: $headings-font-family
		text-transform: uppercase
		font-weight: 300
	li.active
		a, a:hover
			background-color: white