.table
	@extend .table-striped
	@extend .table-hover
	border-collapse: separate
	border-spacing: 0 2px 0 0
	margin-bottom: 5px
	thead > tr > th
		border: none
		font-weight: normal
		vertical-align: top
		span.title_box
			color: black
			font-size: 1.1em
			font-weight: bold
			display: block
			word-wrap: nowrap
			white-space: nowrap
			&.active
				font-weight: bold
			a
				text-decoration: none
			a.active
				color: black
	input, select
		margin: 0
	tbody > tr > td
		border-top: none
		background-color: white
	tbody > tr > td
		padding: 3px 7px
		vertical-align: middle
		word-wrap: nowrap
		font-size: 12px
		border-bottom: solid 1px #eee
	td.center, th.center
		text-align: center
	td.pointer
		cursor: pointer
	tr td:first-child, tr th:first-child 
		border-top-left-radius: 3px
		border-bottom-left-radius: 3px
	tr td:last-child,tr th:last-child 
		border-top-right-radius: 3px
		border-bottom-right-radius: 3px

tr.filter
	background-color: lighten(#CAE5F4,5%)
	input[type="text"].filter, input[type="password"].filter, select.filter
		font-size: 12px
		border-color: darken(#CAE5F4,10%)

tr.highlighted td
	background-color: $brand-primary!important
	color: white

td.actions
	min-width: 200px

.bulk-actions
	margin: 17px 0 0 0