.flip-container
	perspective: 1000

.flip-container:hover .flipper,
.flip-container.hover .flipper
	transform: rotateY(180deg)

.flip-container,
.front,
.back
	width: 420px
	height: 420px

.flipper
	transition: 0.6s
	transform-style: preserve-3d
	position: relative

.front,
.back
	backface-visibility: hidden
	position: absolute
	top: 0
	left: 0

.front
	z-index: 2

.back
	transform: rotateY(180deg)

.flip-container:hover .flipper,
.flip-container.hover .flipper,
.flip-container.flip .flipper
	transform: rotateY(180deg)