<tr>
  <td align="center" class="logo" style="border-bottom: 4px solid #333333">
    <a title="{shop_name}" href="{shop_url}" test="{shop_url}">
      <img src="{shop_logo}" alt="{shop_name}" />
    </a>
  </td>
</tr>
