<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>{{ 'Message from {shop_name}'|trans({}, 'Emails.Body', locale) }}</title>
    <link rel="stylesheet" type="text/css" href="{{ mailThemesUrl }}/classic/assets/email.css">
    {% if languageIsRTL %}<link rel="stylesheet" type="text/css" href="{{ mailThemesUrl }}/classic/assets/rtl.css">{% endif %}

    <style>
      /****** responsive ********/
      @media only screen and (max-width: 300px){
        body {
          width:218px !important;
          margin:auto !important;
        }
        thead, tbody{width: 100%}
        .table {width:195px !important;margin:auto !important;}
        .logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto !important;display: block !important;}
        span.title{font-size:20px !important;line-height: 23px !important}
        span.subtitle{font-size: 14px !important;line-height: 18px !important;padding-top:10px !important;display:block !important;}
        td.box p{font-size: 12px !important;font-weight: bold !important;}
        .table-recap table, .table-recap thead, .table-recap tbody, .table-recap th, .table-recap td, .table-recap tr {
          display: block !important;
        }
        .table-recap{width: 200px!important;}
        .table-recap tr td, .conf_body td{text-align:center !important;}
        .address{display: block !important;margin-bottom: 10px !important;}
        .space_address{display: none !important;}
      }

      @media only screen and (min-width: 301px) and (max-width: 500px) {
        body {width:425px!important;margin:auto!important;}
        thead, tbody{width: 100%}
        .table {margin:auto!important;}
        .logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto!important;display: block!important;}
        .table-recap{width: 295px !important;}
        .table-recap tr td, .conf_body td{text-align:center !important;}
        .table-recap tr th{font-size: 10px !important}

      }

      @media only screen and (min-width: 501px) and (max-width: 768px) {
        body {width:478px!important;margin:auto!important;}
        thead, tbody{width: 100%}
        .table {margin:auto!important;}
        .logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto!important;display: block!important;}
      }


      /* Mobile */

      @media only screen and (max-device-width: 480px) {
        body {width:340px!important;margin:auto!important;}
        thead, tbody{width: 100%}
        .table {margin:auto!important;}
        .logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto!important;display: block!important;}

        .table-recap{width: 295px!important;}
        .table-recap tr td, .conf_body td{text-align:center!important;}
        .address{display: block !important;margin-bottom: 10px !important;}
        .space_address{display: none !important;}
      }
    </style>
  </head>
  <body style="-webkit-text-size-adjust:none;" {% if languageIsRTL|default(false) %}dir="rtl"{% endif %}>
  <table class="table table-mail">
    <tr>
      <td class="space">&nbsp;</td>
      <td align="center">
        <table class="table" bgcolor="#ffffff">
          {% block header %}
            {% include '@MailThemes/classic/components/header.html.twig' %}
          {% endblock header %}

          {% block content %}
          {% endblock %}

          {% block footer %}
            {% include '@MailThemes/classic/components/footer.html.twig' %}
          {% endblock footer %}
        </table>
      </td>
      <td id="footer-right" class="space">&nbsp;</td>
    </tr>
  </table>
  </body>
</html>
