{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <input type="text" id="test1" value="100">
  <input type="text" id="test2" value="110">
  <select name="" id="test4">
    <option value="1" data-tax-rate="10">value 1</option>
    <option value="2" data-tax-rate="20">value 2</option>
    <option value="3" data-tax-rate="2.5">value 3</option>
  </select>
  <select name="" id="test5">
    <option value="1" data-tax-rate="10">value 1</option>
    <option value="2" data-tax-rate="20">value 2</option>
    <option value="3" data-tax-rate="2.5">value 3</option>
  </select>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('themes/new-theme/public/product.bundle.js') }}"></script>
{% endblock %}
