{#@todo move out. And probably rename file to light-grid#}
<div id="product-light-grid-modal"
     class="d-none"
     data-translations="{{ {
       'modal.close': 'Close'|trans({}, 'Admin.Actions'),
       'modal.cancel': 'Cancel'|trans({}, 'Admin.Actions'),
     }|json_encode }}"
></div>
