<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockspecials</name>
            <displayName><![CDATA[Specials block]]></displayName>
            <version><![CDATA[0.8]]></version>
            <description><![CDATA[Adds a block with current product specials.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[pricing_promotion]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>